Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

Revert "fix: Add force flag to bootstrap on upgrade to allow copy of … (#801)
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

refactor: Remove cdk bootstrapping command from pipelines
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: modify cron to run every Sunday at midnight
  .github/workflows/cdk-bootstrap.yml
Due: none

refactor: Simplify CDK commands
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

feat: Add new cron schedule for CDK bootstrapping AWS accounts
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Address PR comments
  .github/workflows/cdk-bootstrap.yml
Due: none

feat: Install required Python version automatically
  README.md
  reset-dev-env.bash
Due: none

refactor: Remove cdk bootstrapping command from pipelines (#802)
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

docs: Fix pyenv install command (#798)
  README.md
  reset-dev-env.bash
Due: none

docs: Reference correct type in docstring
  tests/aws_utils.py
Due: black, isort, mypy, pylint

refactor: Use higher-level call
  infrastructure/constructs/api.py
  infrastructure/constructs/import_file_function.py
Due: black, isort, mypy, pylint

refactor: Reverse role assumption for S3 copy prep (#804)
  infrastructure/constructs/api.py
  infrastructure/constructs/import_file_function.py
  tests/aws_utils.py
Due: black, isort, mypy, pylint

tests: Make sure to check against all expected items
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

tests: Make sure to check against all expected items (#805)
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: Remove useless `sys.exit`
  backend/check_files_checksums/task.py
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

chore: Remove unused S3 client
  backend/update_dataset_catalog/task.py
Due: black, isort, mypy, pylint

refactor: Use same constant name as elsewhere
  backend/datasets/delete.py
Due: black, isort, mypy, pylint

refactor: Reverse role assumption for S3 copy prep (#806)
  backend/check_files_checksums/task.py
  backend/datasets/delete.py
  backend/update_dataset_catalog/task.py
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

refactor: Remove unnecessary test classes
  tests/test_networking_stack.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pylint

refactor: Remove unnecessary test classes (#807)
  tests/test_networking_stack.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pylint

refactor: Import built-in properties directly
  backend/dataset_versions/create.py
  backend/import_status/get.py
  backend/log.py
  backend/step_function.py
  infrastructure/constructs/removal_policy.py
  tests/aws_utils.py
  tests/conftest.py
  tests/general_generators.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
Due: black, isort, mypy, pylint

tests: Verify branch coverage
  README.md
  pyproject.toml
  tests/aws_utils.py
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: Import built in properties directly (#808)
  backend/dataset_versions/create.py
  backend/import_status/get.py
  backend/log.py
  backend/step_function.py
  infrastructure/constructs/removal_policy.py
  tests/aws_utils.py
  tests/conftest.py
  tests/general_generators.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
Due: black, isort, mypy, pylint

refactor: Simplify type checking imports
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_dataset_file.py
  backend/step_function.py
  backend/update_dataset_catalog/task.py
Due: black, isort, mypy, pylint

refactor: Simplify type checking imports (#811)
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_dataset_file.py
  backend/step_function.py
  backend/update_dataset_catalog/task.py
Due: black, isort, mypy, pylint

tests: Verify branch coverage (#809)
  README.md
  pyproject.toml
  tests/aws_utils.py
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: Move constant above classes and functions
  backend/datasets_model.py
Due: black, isort, mypy, pylint

refactor: Pull out function to get account number
  backend/import_dataset/task.py
  backend/step_function.py
  backend/sts.py
  tests/conftest.py
  tests/test_import_dataset.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
  tests/test_upload_status.py
Due: black, isort, mypy, pylint

feat: Log dataset file import result
  backend/import_dataset_file.py
  tests/test_import_dataset_file.py
Due: black, isort, mypy, pylint

feat: Log dataset file import result (#813)
  backend/import_dataset_file.py
  tests/test_import_dataset_file.py
Due: black, isort, mypy, pylint

refactor: Reverse role assumption for S3 copy prep (#812)
  backend/datasets_model.py
  backend/import_dataset/task.py
  backend/step_function.py
  backend/sts.py
  tests/conftest.py
  tests/test_import_dataset.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
  tests/test_upload_status.py
Due: black, isort, mypy, pylint

refactor: Sort packages
  pyproject.toml
Due: pretty-format-toml

tests: Add stub packages
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

refactor: Simplify missing import silencing
  backend/api_responses.py
  backend/check_files_checksums/utils.py
  backend/check_stac_metadata/stac_validators.py
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/update.py
  backend/import_dataset/task.py
  backend/import_status/get.py
  backend/populate_catalog/task.py
  backend/update_dataset_catalog/task.py
  backend/upload_status/task.py
  backend/validation_summary/task.py
  setup.cfg
  tests/aws_utils.py
  tests/stac_generators.py
  tests/test_api_endpoint_handler.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_content_iterator.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
  tests/test_update_dataset_catalog.py
  tests/test_upload_status.py
Due: black, isort, mypy, pylint

docs: Explain how to set up dev env script crontab entry
  README.md
Due: none

tests: Add stub packages (#815)
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

feat: Run CodeQL analysis on all pushes
  .github/workflows/codeql-analysis.yml
Due: none

refactor: Simplify missing import silencing (#816)
  backend/api_responses.py
  backend/check_files_checksums/utils.py
  backend/check_stac_metadata/stac_validators.py
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/update.py
  backend/import_dataset/task.py
  backend/import_status/get.py
  backend/populate_catalog/task.py
  backend/update_dataset_catalog/task.py
  backend/upload_status/task.py
  backend/validation_summary/task.py
  setup.cfg
  tests/aws_utils.py
  tests/stac_generators.py
  tests/test_api_endpoint_handler.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_content_iterator.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
  tests/test_update_dataset_catalog.py
  tests/test_upload_status.py
Due: black, isort, mypy, pylint

docs: Explain how to set up dev env script crontab entry (#817)
  README.md
Due: none

feat: Run CodeQL analysis on all pushes (#818)
  .github/workflows/codeql-analysis.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pylint: any of: \.py$
