Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  stages:
  - commit

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

fix: Remove mention of setuptools
  poetry.lock
Due: none

feat: Destroy aws lambda log group (non-prod) on teardown
  infrastructure/constructs/api.py
Due: black, isort, pylint

feat: Ensure only one GitHub action workflow is running
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

feat: Ensure only one GitHub action workflow is running (#2336)
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

feat: Delete CloudWatch Log Groups over a week old
  .github/workflows/test.yml
Due: none

feat: Delete CloudWatch Log Groups over a week old (#2338)
  .github/workflows/test.yml
Due: none

feat: Enable SNS Topic TLS encryption
  infrastructure/constructs/aws_managed_key_policy.py
  infrastructure/constructs/notify.py
Due: black, isort, pylint

fix: Delete Cloudwatch log groups race condition
  .github/workflows/test.yml
Due: none

fix: Delete Cloudwatch log groups race condition (#2360)
  .github/workflows/test.yml
Due: none

fix: Delete vended log groups in ci and non-prod
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: Delete vended log groups in ci and non-prod (#2361)
  infrastructure/constructs/processing.py
Due: black, isort, pylint

feat: Enable cdk-nag
  app.py
  poetry.lock
  pyproject.toml
Due: black, isort, pretty-format-toml, pylint

fix: Suppress cdk-nag warning on x-ray tracing
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: Suppress cdk-nag warning on SQS encryption and dead letter queue
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: Suppress cdk-nag warning on s3 bucket encryption
  infrastructure/constructs/staging.py
  infrastructure/constructs/storage.py
Due: black, isort, pylint

feat: Enable Bandit security scanning
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

feat: Use commit date for nixpkgs.json name
  bump-nixpkgs.bash
Due: none

feat: Use commit date for nixpkgs.json name (#2395)
  bump-nixpkgs.bash
Due: none

build: Bump nixpkgs
  .nvmrc
  .python-version
  infrastructure/constructs/lambda_layers/botocore/poetry.lock
  nixpkgs.json
  poetry.lock
  shell.nix
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset_file.py
  tests/test_s3_utils.py
Due: black, isort, nixpkgs-fmt, pylint

build: Bump nixpkgs to 22.11 (#2394)
  .nvmrc
  .python-version
  infrastructure/constructs/lambda_layers/botocore/poetry.lock
  nixpkgs.json
  poetry.lock
  shell.nix
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset_file.py
  tests/test_s3_utils.py
Due: black, isort, nixpkgs-fmt, pylint

fix: Exclude .lock files from TOML auto-formatting
  .pre-commit-config.yaml
Due: none

fix: Exclude .lock files from TOML auto-formatting (#2415)
  .pre-commit-config.yaml
Due: none

fix: Mark insecure hash use as such
  geostore/s3_utils.py
Due: black, isort, pylint

feat: Check/format .envrc
  .pre-commit-config.yaml
Due: none

chore: Re-init lorri
  .envrc
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  nixpkgs-fmt: any of: \.nix$
  pretty-format-toml: any of: \.toml$
  pylint: any of: \.py$
