Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  stages:
  - commit

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

fix: Remove mention of setuptools
  poetry.lock
Due: none

refactor: Format shell scripts with `shfmt`
  activate-dev-env.bash
  clear-s3-buckets.bash
  generate-requirements-files.bash
  geostore/bundle.bash
  reset-dev-env.bash
Due: none

feat: Format shell scripts automatically
  .pre-commit-config.yaml
  shell.nix
Due: nixpkgs-fmt

chore: Remove obsolete workaround
  geostore/parameter_store.py
Due: black, isort, pylint

feat: Format shell scripts automatically (#2254)
  .pre-commit-config.yaml
  activate-dev-env.bash
  clear-s3-buckets.bash
  generate-requirements-files.bash
  geostore/bundle.bash
  reset-dev-env.bash
  shell.nix
Due: nixpkgs-fmt

docs: Update development setup steps
  README.md
Due: none

docs: Update development setup steps (#2293)
  README.md
Due: none

fix: Add ResponseMetadata in InvocationResponseTypeDef
  tests/general_generators.py
  tests/test_cli.py
Due: black, isort, pylint

feat: Log Step Function StateMachine events
  infrastructure/constructs/processing.py
Due: black, isort, pylint

feat: Log Step Function State Machine events (#2300)
  infrastructure/constructs/processing.py
Due: black, isort, pylint

feat: Set lambda log retention to 3 months
  infrastructure/constructs/lambda_config.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: Set log retention to deployment environment
  infrastructure/constructs/lambda_config.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/processing.py
Due: black, isort, pylint

feat: Set lambda log retention based on deployment environment (#2301)
  infrastructure/constructs/lambda_config.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: Logging Configuration with vendedlogs
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: Naming
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: Logging Configuration with vendedlogs (#2311)
  infrastructure/constructs/processing.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  nixpkgs-fmt: any of: \.nix$
  pretty-format-toml: any of: \.toml$
  pylint: any of: \.py$
