Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamlfmt, yamllint

.pre-commit-config.yaml:

---
# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            stages: [commit]
            types: [python]

          - id: gitlint
            name: gitlint
            entry: gitlint
            args: [--msg-filename]
            language: system
            stages: [commit-msg]

          - id: isort
            name: isort
            entry: isort
            language: system
            stages: [commit]
            types: [python]

          - id: pylint
            name: pylint
            entry: pylint
            language: system
            stages: [commit]
            types: [python]

          - id: shellcheck
            name: shellcheck
            entry: shellcheck
            language: system
            stages: [commit]
            types: [bash]

          - id: yamlfmt
            name: yamlfmt
            entry: yamlfmt
            language: system
            stages: [commit]
            types: [yaml]

          - id: yamllint
            name: yamllint
            entry: yamllint
            args: [--strict]
            language: system
            stages: [commit]
            types: [yaml]

feat: Use Python 3.8
  .github/workflows/ci.yml
  infra/datalake/api_stack.py
  infra/datalake/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, yamlfmt, yamllint

refactor: Reduce max cyclomatic complexity to 9
  .pylintrc
  backend/endpoints/datasets/entrypoint.py
Due: black, isort, pylint

refactor: Reduce max cyclomatic complexity to 7
  .pylintrc
  backend/endpoints/datasets/update.py
Due: black, isort, pylint

refactor: Reduce max cyclomatic complexity to 6
  .pylintrc
  backend/endpoints/datasets/entrypoint.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/update.py
Due: black, isort, pylint

refactor: Reduce max code complexity (#124)
  .pylintrc
  backend/endpoints/datasets/entrypoint.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/update.py
Due: black, isort, pylint

test: Verify full response where applicable (#115)
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

chore: Ignore CDK generated context file
  infra/.gitignore
Due: none

chore: Ignore CDK generated context file (#126)
  infra/.gitignore
Due: none

docs: Start a code review checklist
  code review checklist.md
Due: none

feat: Use Python 3.8 (#121)
  .github/workflows/ci.yml
  infra/datalake/api_stack.py
  infra/datalake/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, yamlfmt, yamllint

test: Pull boto client creation into functions
  infra/tests/__init__.py
  infra/tests/conftest.py
  infra/tests/test_lambda_functions.py
  infra/tests/test_storage_bucket.py
Due: black, isort, pylint

chore: Update npm package lock file
  package-lock.json
Due: none

feat: Pull out script to reset development environment
  README.md
  reset-dev-env.bash
Due: none

docs: Simplify AWS profile use in CDK
  README.md
Due: none

docs: Fix name of deployment environment variable
  README.md
Due: none

ci: use CI AWS account for CI infrastructure deployments (closes #67)
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

feat: Create dev env setup script & instructions (#122)
  README.md
  package-lock.json
  reset-dev-env.bash
Due: none

test: Pull boto client creation into functions (#127)
  infra/tests/__init__.py
  infra/tests/conftest.py
  infra/tests/test_lambda_functions.py
  infra/tests/test_storage_bucket.py
Due: black, isort, pylint

ci: re-enable nonprod AWS account deployment (closes #66)
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

ci: re-enable nonprod AWS account deployment (closes #66) (#136)
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

refactor: Pull CDK app into main directory
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  CODING.md
  README.md
  app.py
  backend/processing/check_files_checksums/Dockerfile
  backend/processing/check_flat_directory_structure/Dockerfile
  cdk.json
  datalake/__init__.py
  datalake/api_stack.py
  datalake/networking_stack.py
  datalake/processing_stack.py
  datalake/storage_stack.py
  infra/.gitignore
  infra/datalake/__init__.py
  tests/__init__.py
  tests/conftest.py
  tests/test_lambda_functions.py
  tests/test_sample.py
  tests/test_storage_bucket.py
Due: black, isort, pylint, yamlfmt, yamllint

feat: Upgrade Node.js packages
  package-lock.json
  package.json
Due: none

feat: Upgrade Python packages
  poetry.lock
Due: none

feat: Upgrade packages (#137)
  package-lock.json
  package.json
  poetry.lock
Due: none

refactor: Pull CDK app into main directory (#132)
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  CODING.md
  README.md
  app.py
  backend/processing/check_files_checksums/Dockerfile
  backend/processing/check_flat_directory_structure/Dockerfile
  cdk.json
  datalake/__init__.py
  datalake/api_stack.py
  datalake/networking_stack.py
  datalake/processing_stack.py
  datalake/storage_stack.py
  infra/.gitignore
  infra/datalake/__init__.py
  tests/__init__.py
  tests/conftest.py
  tests/test_lambda_functions.py
  tests/test_sample.py
  tests/test_storage_bucket.py
Due: black, isort, pylint, yamlfmt, yamllint

refactor: Pull backend into datalake directory
  .github/workflows/ci.yml
  backend/processing/validation_summary/__init__.py
  datalake/api_stack.py
  datalake/backend/__init__.py
  datalake/backend/bundle.bash
  datalake/backend/endpoints/__init__.py
  datalake/backend/endpoints/datasets/__init__.py
  datalake/backend/endpoints/datasets/common.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/entrypoint.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/endpoints/datasets/serializer.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/endpoints/utils.py
  datalake/backend/processing/__init__.py
  datalake/backend/processing/check_files_checksums/Dockerfile
  datalake/backend/processing/check_files_checksums/__init__.py
  datalake/backend/processing/check_files_checksums/task.py
  datalake/backend/processing/check_flat_directory_structure/Dockerfile
  datalake/backend/processing/check_flat_directory_structure/__init__.py
  datalake/backend/processing/check_flat_directory_structure/task.py
  datalake/backend/processing/content_iterator/__init__.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/processing/validation_failure/__init__.py
  datalake/backend/processing/validation_failure/task.py
  datalake/backend/processing/validation_summary/__init__.py
  datalake/backend/processing/validation_summary/task.py
  datalake/backend/tests/__init__.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_datasets_endpoint.py
  datalake/backend/tests/utils.py
  datalake/processing_stack.py
Due: black, isort, pylint, yamlfmt, yamllint

feat: Install Node.js packages without changing lock file
  reset-dev-env.bash
Due: none

refactor: Pull backend into datalake directory (#138)
  .github/workflows/ci.yml
  backend/processing/validation_summary/__init__.py
  datalake/api_stack.py
  datalake/backend/__init__.py
  datalake/backend/bundle.bash
  datalake/backend/endpoints/__init__.py
  datalake/backend/endpoints/datasets/__init__.py
  datalake/backend/endpoints/datasets/common.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/entrypoint.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/endpoints/datasets/serializer.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/endpoints/utils.py
  datalake/backend/processing/__init__.py
  datalake/backend/processing/check_files_checksums/Dockerfile
  datalake/backend/processing/check_files_checksums/__init__.py
  datalake/backend/processing/check_files_checksums/task.py
  datalake/backend/processing/check_flat_directory_structure/Dockerfile
  datalake/backend/processing/check_flat_directory_structure/__init__.py
  datalake/backend/processing/check_flat_directory_structure/task.py
  datalake/backend/processing/content_iterator/__init__.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/processing/validation_failure/__init__.py
  datalake/backend/processing/validation_failure/task.py
  datalake/backend/processing/validation_summary/__init__.py
  datalake/backend/processing/validation_summary/task.py
  datalake/backend/tests/__init__.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_datasets_endpoint.py
  datalake/backend/tests/utils.py
  datalake/processing_stack.py
Due: black, isort, pylint, yamlfmt, yamllint

feat: Install Node.js packages without changing lock file (#139)
  reset-dev-env.bash
Due: none

docs: Remove reference to resolved issue
  pyproject.toml
Due: none

docs: Remove reference to resolved issue (#140)
  pyproject.toml
Due: none

feat: Print JSON output on validation success
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

feat: Create batch job to validate metadata
  datalake/backend/processing/check_stac_metadata/Dockerfile
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/processing_stack.py
  tests/conftest.py
Due: black, isort, pylint

feat: Validate minimal STAC object
  .github/workflows/ci.yml
  .gitmodules
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: black, isort, pylint, yamlfmt, yamllint

feat: Run schema validation with given URLs
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

feat: Print JSON output on validation failure
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

feat: Log raw parsed arguments at debug level
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

feat: Validate metadata (#79)
  .github/workflows/ci.yml
  .gitmodules
  datalake/backend/processing/check_stac_metadata/Dockerfile
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
  datalake/processing_stack.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  tests/conftest.py
Due: black, isort, pylint, yamlfmt, yamllint

ci: always drop networking CI stack
  .github/workflows/ci.yml
Due: yamlfmt, yamllint
