Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamlfmt, yamllint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

yamlfmt:
  name: yamlfmt
  entry: yamlfmt
  language: system
  stages:
  - commit

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system
  stages:
  - commit

Revert "ci: don't use unique DEPLOY_ENV"
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

refactor: pull out task variable
  infra/datalake/processing_stack.py
Due: black, isort, pylint

fix: redefined-builtin (id) in CDK stack init function
  infra/datalake/datalake_stack.py
  infra/datalake/networking_stack.py
  infra/datalake/processing_stack.py
Due: black, isort, pylint

fix: clean Apt cache in AWS Batch container images
  backend/processing/check_files_checksums/Dockerfile
  backend/processing/check_flat_directory_structure/Dockerfile
Due: none

feat(infra): state machine workflow for datasets validation (#56)
  .github/workflows/ci.yml
  README.md
  backend/bundle.bash
  backend/processing/__init__.py
  backend/processing/check_files_checksums/Dockerfile
  backend/processing/check_files_checksums/__init__.py
  backend/processing/check_files_checksums/task.py
  backend/processing/check_flat_directory_structure/Dockerfile
  backend/processing/check_flat_directory_structure/__init__.py
  backend/processing/check_flat_directory_structure/task.py
  backend/processing/content_iterator/__init__.py
  backend/processing/content_iterator/task.py
  backend/processing/validation_failure/__init__.py
  backend/processing/validation_failure/task.py
  backend/processing/validation_summary/__init__.py
  backend/processing/validation_summary/task.py
  infra/.gitignore
  infra/app.py
  infra/datalake/datalake_stack.py
  infra/datalake/networking_stack.py
  infra/datalake/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, yamlfmt, yamllint

ci: wait if another CI AWS stack already exists
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

fix: escaping
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

fix: export variables
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

ci: wait if another CI AWS stack already exists (#61)
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

Revert "ci: wait if another CI AWS stack already exists (#61)"
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

revert: "ci: wait if another CI AWS stack already exists" (#104)
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

ci: Wait for stack teardown before deploying
  .github/workflows/ci.yml
  .github/workflows/wait-for-stack-teardown.bash
Due: yamlfmt, yamllint

ci: Wait for stack teardown before deploying (#106)
  .github/workflows/ci.yml
  .github/workflows/wait-for-stack-teardown.bash
Due: yamlfmt, yamllint

ci: Use specific Ubuntu version for pipelines
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  README.md
Due: yamlfmt, yamllint

ci: Cache pip downloads
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

ci: Cache NPM downloads
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

refactor: Remove redundant code
  backend/endpoints/datasets/create.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/update.py
Due: black, isort, pylint

feat: Create dataset instances per test
  backend/tests/conftest.py
  backend/tests/test_datasets_endpoint.py
  backend/tests/utils.py
Due: black, isort, pylint

refactor: Remove redundant code (#102)
  backend/endpoints/datasets/create.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/update.py
Due: black, isort, pylint

ci: Cache NPM downloads (#112)
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

ci: Cache pip downloads (#110)
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

ci: Use specific Ubuntu version for pipelines (#108)
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  README.md
Due: yamlfmt, yamllint

Create dataset instances per test (#99)
  backend/tests/conftest.py
  backend/tests/test_datasets_endpoint.py
  backend/tests/utils.py
Due: black, isort, pylint

docs: Document how to handle poetry.lock
  README.md
Due: none

test: Set random valid dataset type where irrelevant
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

test: Set random dataset title where irrelevant
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

test: Set random dataset owning group where irrelevant
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

test: Set random dataset ID where irrelevant
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

docs: Document how to handle poetry.lock (#101)
  README.md
Due: none

test: Randomise test data (#97)
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

docs: Avoid code in comments
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

feat: Return None from context manager
  backend/tests/utils.py
Due: black, isort, pylint

test(infra): drop testing of stack existence
  infra/tests/test_stack.py
Due: black, isort, pylint

refactor(infra): more splitting of AWS stacks
  .github/workflows/ci.yml
  infra/app.py
  infra/datalake/api_stack.py
  infra/datalake/storage_stack.py
Due: black, isort, pylint, yamlfmt, yamllint

refactor(infra): more splitting of AWS stacks (#113)
  .github/workflows/ci.yml
  infra/app.py
  infra/datalake/api_stack.py
  infra/datalake/storage_stack.py
  infra/tests/test_stack.py
Due: black, isort, pylint, yamlfmt, yamllint

docs: Avoid code in comments (#114)
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

refactor: Pull out dataset serializer function
  backend/endpoints/datasets/create.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/list.py
  backend/endpoints/datasets/serializer.py
  backend/endpoints/datasets/update.py
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

test: Verify full response where applicable
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

refactor: Pull out dataset serializer function (#116)
  backend/endpoints/datasets/create.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/list.py
  backend/endpoints/datasets/serializer.py
  backend/endpoints/datasets/update.py
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

feat: Return None from context manager (#117)
  backend/tests/utils.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
