Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        stages: [commit]
        types: [bash]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

docs: Add code example to test dataset import
  CODING.md
Due: none

feat: Use new Poetry installer
  README.md
  backend/Dockerfile
Due: none

docs: Create developer docs for testing dataset import (#871)
  CODING.md
  USAGE.md
Due: none

refactor: Simplify isort configuration
  pyproject.toml
Due: pretty-format-toml

fix: Truncate slack message blocks to fit within limit
  backend/notify_status_update/task.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

fix: address PR comments
  backend/notify_status_update/task.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

feat: Use new Poetry installer (#872)
  README.md
  backend/Dockerfile
Due: none

refactor: Simplify isort configuration (#873)
  pyproject.toml
Due: pretty-format-toml

fix: Truncate slack message blocks to fit within limit (#874)
  backend/notify_status_update/task.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

refactor: Speed up Git ignore
  .gitignore
Due: none

feat: Exclude rather than include code for coverage
  pyproject.toml
Due: pretty-format-toml

refactor: Speed up Git ignore (#875)
  .gitignore
Due: none

docs: Document Python version upgrade guidelines
  README.md
Due: none

docs: Fix link to local file
  USAGE.md
Due: none

feat: Add user documentation for subscribing to an SNS topic
  USAGE.md
Due: none

docs: Document Python version upgrade (#877)
  README.md
  USAGE.md
Due: none

feat: Exclude rather than include code for coverage (#876)
  pyproject.toml
Due: pretty-format-toml

fix: spelling mistakes
  USAGE.md
Due: none

fix: addres PR comments
  USAGE.md
Due: none

feat: Add user documentation for subscribing to an SNS topic (#879)
  USAGE.md
Due: none

docs: Add further user documentation for SNS message filtering
  USAGE.md
Due: none

fix: use correct placehlder name
  USAGE.md
Due: none

refactor: Don't refer to magic number for a prefix check
  backend/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

chore: Remove quotes from builtin type
  backend/datasets_model.py
Due: black, isort, mypy, pylint

docs: Add further user documentation for SNS message filtering (#882)
  USAGE.md
Due: none

fix: Actually write asset contents
  backend/import_asset_file/task.py
  tests/test_import_dataset.py
Due: black, isort, mypy, pylint

fix: Treat explicitly and implicitly relative paths the same
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_import_dataset.py
Due: black, isort, mypy, pylint

refactor: Don't refer to magic number for a prefix check (#891)
  backend/check_stac_metadata/utils.py
  backend/datasets_model.py
Due: black, isort, mypy, pylint

feat: Use same Poetry Python restriction as Pyenv
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

fix: Treat explicitly and implicitly relative paths the same (#895)
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_import_dataset.py
Due: black, isort, mypy, pylint

fix: Actually write asset contents (#896)
  backend/import_asset_file/task.py
  tests/test_import_dataset.py
Due: black, isort, mypy, pylint

fix: modify smart open mocks
  tests/test_import_dataset_logging.py
Due: black, isort, mypy, pylint

fix: remove use of deprecated smart_open method
  backend/import_dataset/task.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: linting issue
  tests/test_import_dataset.py
Due: black, isort, mypy, pylint

fix: correctly report s3 copy job failures
  backend/notify_status_update/task.py
  backend/step_function.py
  backend/step_function_keys.py
  infrastructure/constructs/processing.py
  tests/test_import_status_endpoint.py
  tests/test_notify_slack.py
  tests/test_step_function_logging.py
  tests/test_upload_status.py
Due: black, isort, mypy, pylint

fix: use rb read mode
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: report both failures in error object
  backend/step_function.py
  backend/step_function_keys.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
  tests/test_upload_status.py
Due: black, isort, mypy, pylint

feat: Use same Poetry Python restriction as Pyenv (#897)
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

fix: remove use of deprecated smart_open method (#900)
  backend/import_dataset/task.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: assert asset and metadata failures independently
  tests/test_import_status_endpoint.py
Due: black, isort, mypy, pylint
