Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        stages: [commit]
        types_or: [python, pyi]
        require_serial: true

      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        files: \.nix$
        language: system
        stages: [commit]

      - id: prettier
        name: Prettier
        entry: prettier
        args: [--ignore-unknown, --list-different, --write]
        types: [text]
        language: system
        stages: [commit]

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system
        stages: [commit]

refactor: Generate hash key only once
  geostore/step_function.py
Due: black, isort, pylint

chore: Remove duplicate test
  tests/test_check_stac_metadata.py
Due: black, isort, pylint

fix: Include pip for IDEA in Nix shell
  shell.nix
Due: nixpkgs-fmt

feat: mark files as replaced (#1749)
  geostore/check_files_checksums/task.py
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/processing_assets_model.py
  geostore/step_function.py
  shell.nix
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_processing_stack.py
  tests/test_step_function.py
Due: black, isort, nixpkgs-fmt, pylint

fix: Typo
  tests/test_check_files_checksums.py
Due: black, isort, pylint

fix: Typo (#1785)
  tests/test_check_files_checksums.py
Due: black, isort, pylint

feat: Log `multihash.decode` errors
  geostore/check.py
  geostore/check_files_checksums/utils.py
  tests/general_generators.py
  tests/test_check_files_checksums.py
Due: black, isort, pylint

feat: Add permission for oidc integration, remove aws access key
  .github/workflows/deploy.yml
Due: none

refactor: simplify processing stack permissions
  infrastructure/constructs/processing.py
Due: black, isort, pylint

feat: Log `multihash.decode` errors (#1790)
  geostore/check.py
  geostore/check_files_checksums/utils.py
  tests/general_generators.py
  tests/test_check_files_checksums.py
Due: black, isort, pylint

refactor: simplify processing stack permissions (#1798)
  infrastructure/constructs/processing.py
Due: black, isort, pylint

feat: clear the file replaced field at start of a new version
  geostore/dataset_versions/create.py
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: add tests for dataset version endpoint
  tests/test_dataset_versions_endpoint.py
Due: black, isort, pylint

refactor: use past datetime generaator in tests
  tests/test_dataset_versions_endpoint.py
Due: black, isort, pylint

fix: propagate slack notify url to prod deployment
  .github/workflows/deploy.yml
Due: none

fix: propagate slack notify url to prod deployment (#1800)
  .github/workflows/deploy.yml
Due: none

refactor: remove field from input in tests
  tests/test_dataset_versions_endpoint.py
Due: black, isort, pylint

feat: clear file replaced field on new version (#1799)
  geostore/dataset_versions/create.py
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/processing.py
  tests/test_dataset_versions_endpoint.py
Due: black, isort, pylint

feat: delete s3 files not referenced in latest dataset version
  geostore/logging_keys.py
  geostore/update_root_catalog/task.py
  infrastructure/constructs/processing.py
  tests/test_processing_stack.py
  tests/test_update_dataset_catalog.py
Due: black, isort, pylint

fix: Use full LINZ name
  README.md
Due: none

docs: Use consistent formatting
  README.md
Due: none

docs: Mention that the AWS region needs to be specified
  README.md
Due: none

refactor: Rename CLI packaging pipeline for clarity
  .github/workflows/package-cli.yml
Due: none

docs: Add more conventions
  CODING.md
Due: none

refactor: Rename CLI packaging pipeline for clarity (#1802)
  .github/workflows/package-cli.yml
Due: none

refactor: check Delete Marker in test & remove delete markers on cleanup
  tests/aws_utils.py
  tests/test_processing_stack.py
  tests/test_update_dataset_catalog.py
Due: black, isort, pylint

feat: delete assets no longer referenced (#1773)
  geostore/logging_keys.py
  geostore/update_root_catalog/task.py
  infrastructure/constructs/processing.py
  tests/aws_utils.py
  tests/test_processing_stack.py
  tests/test_update_dataset_catalog.py
Due: black, isort, pylint

feat: Change principal to oidc provider
  infrastructure/application_stack.py
Due: black, isort, pylint

docs: Tweak new developer instructions (#1801)
  CODING.md
  README.md
Due: none

docs: How to delete dataset with versions
  README.md
Due: none

docs: How to delete dataset with versions (#1809)
  README.md
Due: none

fix: Use F string to follow convention
  infrastructure/application_stack.py
Due: black, isort, pylint

fix: Remove AWS access keys from test.yml, update role to assume
  .github/workflows/test.yml
Due: none

fix: Remove AWS access keys from test.yml, update role to assume
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

fix: Remove AWS access keys from test.yml, update role to assume
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Remove AWS access keys, update oidc role-to-assume
  .github/workflows/cdk-bootstrap.yml
Due: none

fix: Remove AWS access keys, update role-to-assume for CI
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/mutation-test.yml
Due: none

fix: id-token and contents permissions are needed to interact with oidc
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Update GitHub workflow to allow oidc integration
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: add concurrency lambda test
  tests/conftest.py
  tests/test_populate_catalog.py
Due: black, isort, pylint
