Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

feat: Use strict CDK deployment option (#764)
  .github/workflows/test.yml
Due: none

docs: Bump pyenv .bashrc settings
  README.md
Due: none

docs: Bump nvm version
  README.md
Due: none

docs: Explicitly say how to set up dev env packages
  README.md
Due: none

chore: Bump Poetry installer signature
  backend/Dockerfile
Due: none

chore: Bump Poetry installer signature (#766)
  backend/Dockerfile
Due: none

docs: Refresh dev env setup (#765)
  README.md
Due: none

refactor: Use constants for magic strings
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/update.py
  backend/step_function.py
  tests/test_api_endpoint_handler.py
  tests/test_check_stac_metadata.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Run deployment when pushing release tags
  .github/workflows/deploy.yml
Due: none

feat: Run deployment when pushing release tags (#768)
  .github/workflows/deploy.yml
Due: none

refactor: Reverse role assumption for S3 copy prep (#767)
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/update.py
  backend/step_function.py
  tests/test_api_endpoint_handler.py
  tests/test_check_stac_metadata.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Use LINZ-specific bucket names
  backend/resources.py
Due: black, isort, mypy, pylint

fix: Use LINZ-specific bucket names (#771)
  backend/resources.py
Due: black, isort, mypy, pylint

tests: Avoid intermittent coverage reduction
  pyproject.toml
  tests/aws_utils.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pylint

tests: Avoid intermittent coverage reduction (#772)
  pyproject.toml
  tests/aws_utils.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pylint

chore: Bump Poetry installer hash
  backend/Dockerfile
Due: none

chore: Bump Poetry installer hash (#779)
  backend/Dockerfile
Due: none

refactor: Pull out commonly used AWS API response keys
  backend/aws_response.py
  backend/import_dataset_file.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset_file.py
Due: black, isort, mypy, pylint

refactor: Pull out reused variables
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pylint

chore: Update Python packages
  poetry.lock
Due: none

feat: Install SQS stubs
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

refactor: Type annotate boto3 objects
  backend/check_files_checksums/utils.py
  backend/check_stac_metadata/task.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_metadata_file/task.py
  backend/import_status/get.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/pystac_io_methods.py
  backend/step_function.py
  backend/update_dataset_catalog/task.py
  tests/aws_utils.py
Due: black, isort, mypy, pylint

refactor: Reverse role assumption for S3 copy prep (#783)
  backend/aws_response.py
  backend/check_files_checksums/utils.py
  backend/check_stac_metadata/task.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_dataset_file.py
  backend/import_metadata_file/task.py
  backend/import_status/get.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/pystac_io_methods.py
  backend/step_function.py
  backend/update_dataset_catalog/task.py
  poetry.lock
  pyproject.toml
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset_file.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: Simplify pystac custom writing methods
  backend/populate_catalog/task.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: Fix a bug with overriden pystac collection write method (#786)
  backend/populate_catalog/task.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: update root catalog description and title
  backend/populate_catalog/task.py
Due: black, isort, mypy, pylint

fix: break long line
  backend/populate_catalog/task.py
Due: black, isort, mypy, pylint

fix: Added extra to bootstrap command to fix issue
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Add force flag to bootstrap on upgrade to allow copy of prod
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

fix: Add force flag to bootstrap on upgrade to allow copy of prod (#795)
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

fix: Add changeset name to avoid parallel cdk deployment errors
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: fixed missing quote
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Add ci prefix to change set name
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Add changeset name to avoid parallel cdk deployment errors (#800)
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Remove now-redundant type ignores
  backend/check_files_checksums/utils.py
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  backend/import_dataset_file.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset_file.py
Due: black, isort, mypy, pylint

fix: Upgrade boto3-stubs
  poetry.lock
Due: none

fix: Use new boto3 stubs types
  backend/aws_response.py
  backend/import_dataset_file.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset_file.py
Due: black, isort, mypy, pylint

fix: Appease pylint about "missing" types in boto3 stubs
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset_file.py
Due: black, isort, mypy, pylint

Update root catalog description and title (#790)
  backend/populate_catalog/task.py
Due: black, isort, mypy, pylint

Revert "fix: Add force flag to bootstrap on upgrade to allow copy of prod (#795)"
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pylint: any of: \.py$
