Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pretty-format-yaml:
  name: Pretty format YAML
  entry: pretty-format-yaml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

feat: Auto-generate DynamoDB table names
  infrastructure/constructs/table.py
Due: black, isort, mypy, pylint

fix: aupdated STAC version used in tests
  tests/aws_utils.py
Due: black, isort, mypy, pylint

feat: Auto generate AWS resource names (#424)
  infrastructure/constructs/table.py
Due: black, isort, mypy, pylint

feat: Added support for Item and Catalog STAC metadata types
  backend/check_stac_metadata/stac_validators.py
  backend/check_stac_metadata/utils.py
  tests/aws_utils.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: avert cyclical import
  infrastructure/constructs/task_job_definition.py
Due: black, isort, mypy, pylint

feat: added submodule for geojson
  .gitmodules
  backend/check_stac_metadata/stac_validators.py
Due: black, isort, mypy, pylint

fix: fixed processing test
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: added validator mapping
  backend/check_stac_metadata/stac_validators.py
  backend/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

refactor: changed test name
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: update stac version
  tests/aws_utils.py
  tests/stac_objects.py
Due: black, isort, mypy, pylint

feat: support catalog and item metadata (#484)
  .gitmodules
  backend/check_stac_metadata/stac_validators.py
  backend/check_stac_metadata/utils.py
  infrastructure/constructs/task_job_definition.py
  tests/aws_utils.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Cache parameter value responses
  backend/parameter_store.py
Due: black, isort, mypy, pylint

refactor: Join short lines
  backend/import_dataset/task.py
Due: black, isort, mypy, pylint

refactor: Convert metadata URLs to basenames
  USAGE.md
  backend/import_asset_file/__init__.py
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_file_batch_job_id_keys.py
  backend/import_metadata_file/__init__.py
  backend/import_metadata_file/task.py
  backend/import_status/get.py
  backend/parameter_store.py
  infrastructure/constructs/import_file_function.py
  infrastructure/processing_stack.py
  tests/aws_utils.py
  tests/test_import_asset_file_logging.py
  tests/test_import_dataset.py
  tests/test_import_metadata_file_logging.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Modify STAC URLs during copy (#486)
  USAGE.md
  backend/import_asset_file/__init__.py
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_file_batch_job_id_keys.py
  backend/import_metadata_file/__init__.py
  backend/import_metadata_file/task.py
  backend/import_status/get.py
  backend/parameter_store.py
  infrastructure/constructs/import_file_function.py
  infrastructure/processing_stack.py
  tests/aws_utils.py
  tests/test_import_asset_file_logging.py
  tests/test_import_dataset.py
  tests/test_import_metadata_file_logging.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Pull out constant string
  backend/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

refactor: Join short lines
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Allow relative URLs in STAC metadata
  USAGE.md
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: Remove smart-open dev dependency
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

chore: Use latest aws-azure-login version
  package.json
Due: none

refactor: Remove smart-open dev dependency (#499)
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

feat: Allow relative paths in metadata (#497)
  USAGE.md
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

docs: Comment out entire sections in PR template by default
  .github/pull_request_template.md
Due: none

chore: Use latest aws-azure-login version (#500)
  package.json
Due: none

chore: Update aws-azure-login package
  package-lock.json
Due: none

docs: Comment out entire sections in PR template by default (#506)
  .github/pull_request_template.md
Due: none

feat: Report duplicate JSON object names
  backend/check.py
  backend/check_stac_metadata/utils.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

chore: Update aws-azure-login package (#509)
  package-lock.json
Due: none

chore: Remove unused enum value
  backend/check.py
Due: black, isort, mypy, pylint

feat: Report duplicate JSON object names (#511)
  backend/check.py
  backend/check_stac_metadata/utils.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Report invalid JSON and continue pipeline
  backend/check.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: Strengthen type assertion
  backend/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

chore: Remove unused enum value (#512)
  backend/check.py
Due: black, isort, mypy, pylint

feat: Report invalid json (#514)
  backend/check.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: added tests for logging
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

refactor: Modified stac validation task to not crash pipeline
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: rebased and added logging test for incorrect json
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

refactor: address PR comments
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

fix: fix no return from main in tests
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: fixed indentation of test
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pretty-format-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
