Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 04cf542e423601a418787b8c7d704c3c1317e6d3 # v0.7.2
    hooks:
      - id: shellcheck
        stages: [commit]

  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: 148ec47877499e3d671f6366f9eed812db181b40 # v1.2.0
    hooks:
      - id: nixpkgs-fmt

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

refactor: extract common get_s3_url_reader method (#1655)
  geostore/check_files_checksums/task.py
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/s3_utils.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_s3_utils.py
Due: black, isort, mypy, pylint

refactor: Use relative imports in main directories (#1662)
  CODING.md
  tests/test_check_stac_metadata_task_logging.py
  tests/test_populate_catalog.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

refactor: Install linters via Nix
  .github/workflows/test.yml
  .pre-commit-config.yaml
  shell.nix
Due: none

refactor: Return new response class with extra fields
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/utils.py
  geostore/s3_utils.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_s3_utils.py
Due: black, isort, mypy, pylint

refactor: update account number in LDS stack to a string type
  infrastructure/constructs/lds.py
Due: black, isort, mypy, pylint

feat: validate partial datasets prep 4 (#1665)
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/utils.py
  geostore/s3_utils.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_s3_utils.py
Due: black, isort, mypy, pylint

docs: use prod roles in examples
  USAGE.md
Due: none

docs: use prod roles in examples (#1671)
  USAGE.md
Due: none

refactor: Sort constants
  geostore/check.py
Due: black, isort, mypy, pylint

chore: Ignore generated requirements.txt file
  infrastructure/constructs/lambda_layers/botocore/.gitignore
Due: none

fix: Remove absolute self url's from STAC objects in Geostore
  geostore/import_metadata_file/task.py
  tests/test_import_metadata_file.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: reduce test and optimise copy job
  geostore/import_metadata_file/task.py
  tests/test_import_metadata_file.py
Due: black, isort, mypy, pylint

refactor: Simplify expressions
  .github/workflows/test.yml
Due: none

docs: Remove misleading comment
  .github/workflows/test.yml
Due: none

fix: Run S3 cleanup when pipeline fails
  .github/workflows/test.yml
Due: none

refactor: Simplify expressions (#1692)
  .github/workflows/test.yml
Due: none

fix: Run S3 cleanup when pipeline fails (#1693)
  .github/workflows/test.yml
Due: none

refactor: Sort constants (#1676)
  geostore/check.py
Due: black, isort, mypy, pylint

chore: Ignore generated requirements.txt file (#1677)
  infrastructure/constructs/lambda_layers/botocore/.gitignore
Due: none

feat: Auto-merge minor dependency updates
  .kodiak.toml
Due: pretty-format-toml

refactor: Simplify Node.js setup for Nix shell
  .nvmrc
  shell.nix
Due: none

chore: Bump nixpkgs version to latest stable
  shell.nix
Due: none

chore: Remove unnecessary workaround
  shell.nix
Due: none

fix: Remove absolute self URLs from STAC objects in Geostore (#1679)
  cdk.context.json
  geostore/import_metadata_file/task.py
  tests/test_import_metadata_file.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Auto-merge minor dependency updates (#1700)
  .kodiak.toml
Due: pretty-format-toml

chore: Bump nixpkgs version to latest stable (#1696)
  shell.nix
Due: none

docs: improve README for external developers
  README.md
Due: none

docs: format with prettier
  README.md
Due: none

refactor: Simplify Node.js setup for Nix shell (#1701)
  .nvmrc
  shell.nix
Due: none

docs: improve README for external developers (#1702)
  README.md
Due: none

feat: allow partial dataset uploads
  geostore/check.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/s3_utils.py
  infrastructure/application_stack.py
  infrastructure/constructs/processing.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: tests
  tests/test_s3_utils.py
Due: black, isort, mypy, pylint

refactor: Clarify variable name
  geostore/s3_utils.py
Due: black, isort, mypy, pylint

refactor: add new processing asset field
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/utils.py
  geostore/import_dataset/task.py
  geostore/processing_assets_model.py
Due: black, isort, mypy, pylint

refactor: Return new response class with extra fields
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/s3_utils.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_processing_stack.py
  tests/test_s3_utils.py
Due: black, isort, mypy, pylint

refactor: Raise as early as possible
  geostore/s3_utils.py
Due: black, isort, mypy, pylint

fix: Add missing new metadata to tests
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: address PR comments
  tests/test_check_files_checksums.py
  tests/test_s3_utils.py
Due: black, isort, mypy, pylint

refactor: rebase
  geostore/s3_utils.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_s3_utils.py
Due: black, isort, mypy, pylint

refactor: Use different names for different objects
  geostore/s3_utils.py
Due: black, isort, mypy, pylint
