Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pretty-format-yaml:
  name: Pretty format YAML
  entry: pretty-format-yaml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

fix: Bump STAC version in test data
  tests/stac_objects.py
Due: black, isort, mypy, pylint

feat: Deploy pull requests labeled "automerge"
  .github/workflows/deploy.yml
Due: pretty-format-yaml

refactor: Merge processing stack into API stack
  app.py
  infrastructure/api_stack.py
  infrastructure/lambda_layers_stack.py
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

refactor: Nest LDS stack into storage stack
  app.py
  infrastructure/api_stack.py
  infrastructure/lds.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pylint

refactor: Create storage stack inside API stack
  app.py
  infrastructure/api_stack.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pylint

fix: Use `default_for_new` for creation properties
  backend/datasets_model.py
Due: black, isort, mypy, pylint

refactor: Set updated datetime as default
  backend/clock.py
  backend/datasets_model.py
Due: black, isort, mypy, pylint

fix: Use defaults as documented (#648)
  backend/clock.py
  backend/datasets_model.py
Due: black, isort, mypy, pylint

feat: Deploy pull requests labeled "automerge" (#647)
  .github/workflows/deploy.yml
Due: pretty-format-yaml

feat: Use more popular ULID implementation
  backend/datasets_model.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

fix: Run deployment test on automerge pull requests
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: Run deployment test on automerge pull requests (#653)
  .github/workflows/deploy.yml
Due: pretty-format-yaml

chore: Disable master deploy check
  .github/workflows/deploy.yml
Due: pretty-format-yaml

chore: Disable master deploy check (#651)
  .github/workflows/deploy.yml
Due: pretty-format-yaml

refactor: Use implicitly generated dataset ID
  tests/aws_utils.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Match automerge label on any event
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: Deploy when synchronizing PR with automerge label
  .github/workflows/deploy.yml
Due: pretty-format-yaml

refactor: Use implicitly generated dataset ID (#649)
  tests/aws_utils.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Match automerge label on any event (#656)
  .github/workflows/deploy.yml
Due: pretty-format-yaml

feat: Convert ULID timestamp to human readable datetime
  backend/datasets_model.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

feat: Make ULID timestamp readable (#657)
  backend/datasets_model.py
  poetry.lock
  pyproject.toml
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Add dataset title to S3 key
  app.py
  backend/import_dataset/task.py
  infrastructure/processing_stack.py
  poetry.lock
  pyproject.toml
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pylint

docs: Fix code review checklist URL
  .github/pull_request_template.md
Due: none

feat: Add dataset title to S3 key (#650)
  app.py
  backend/import_dataset/task.py
  infrastructure/processing_stack.py
  poetry.lock
  pyproject.toml
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: removed linz from role name
  backend/resources.py
  infrastructure/api_stack.py
Due: black, isort, mypy, pylint

feat: added read only role for all linz users
  backend/resources.py
  infrastructure/api_stack.py
Due: black, isort, mypy, pylint

docs: Fix code review checklist URL (#659)
  .github/pull_request_template.md
Due: none

feat: added read only role for all linz users (#658)
  backend/resources.py
  infrastructure/api_stack.py
Due: black, isort, mypy, pylint

tests: Use constant status codes
  tests/test_dataset_versions_endpoint.py
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

tests: Use constant status codes (#660)
  tests/test_dataset_versions_endpoint.py
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Change dataset version to ULID
  backend/dataset_versions/create.py
  tests/test_dataset_versions_endpoint.py
Due: black, isort, mypy, pylint

feat: Change dataset version to ULID (#661)
  backend/dataset_versions/create.py
  tests/test_dataset_versions_endpoint.py
Due: black, isort, mypy, pylint

refactor(infra): use nested stacks with cross-stack parameters
  app.py
  infrastructure/api_stack.py
  infrastructure/lambda_layers_stack.py
  infrastructure/lds.py
  infrastructure/processing_stack.py
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pylint

refactor: even more simplified usage of nested stacks
  app.py
  infrastructure/api_stack.py
  infrastructure/lds.py
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

style: fix formatting
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pylint

feat: Track generated CDK context
  .gitignore
  cdk.context.json
Due: none

refactor(infra): use nested stacks with cross-stack references passed using parameters (#646)
  app.py
  infrastructure/api_stack.py
  infrastructure/lambda_layers_stack.py
  infrastructure/lds.py
  infrastructure/processing_stack.py
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pylint

feat: Track generated CDK context (#664)
  .gitignore
  cdk.context.json
Due: none

refactor: Pull out backend directory name
  infrastructure/constructs/backend.py
  infrastructure/constructs/bundled_code.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/task_job_definition.py
Due: black, isort, mypy, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pretty-format-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
