Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        stages: [commit]
        types_or: [python, pyi]
        require_serial: true

      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        files: \.nix$
        language: system
        stages: [commit]

      - id: prettier
        name: Prettier
        entry: prettier
        args: [--ignore-unknown, --list-different, --write]
        types: [text]
        language: system
        stages: [commit]

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system
        stages: [commit]

feat: Remove dependabot commits from changelog (#2175)
  .github/release.yml
Due: none

fix: Footnote syntax
  README.md
Due: none

fix: Remove mention of setuptools
  poetry.lock
Due: none

fix: Add Black build dependencies
  shell.nix
Due: nixpkgs-fmt

fix: Footnote syntax (#2180)
  README.md
Due: none

docs: Release notes
  README.md
Due: none

docs: Release notes (#2184)
  README.md
Due: none

fix: Downgrade cryptography
  geostore/poetry.txt
Due: none

feat: Report current CDK bootstrapping version
  .github/workflows/cdk-bootstrap.yml
Due: none

feat: Report current CDK bootstrapping version (#2190)
  .github/workflows/cdk-bootstrap.yml
Due: none

feat: Enforce s3 ssl requests
  infrastructure/constructs/staging.py
  infrastructure/constructs/storage.py
Due: black, isort, pylint

feat: Enforce S3 request TLS (#2215)
  infrastructure/constructs/staging.py
  infrastructure/constructs/storage.py
Due: black, isort, pylint

fix: Remove mention of setuptools in dependencies
  poetry.lock
Due: none

build: Bump nixpkgs to get flit-scm
  nixpkgs.json
Due: none

feat: Enforce sqs request TLS
  infrastructure/constructs/processing.py
Due: black, isort, pylint

build: Bump nixpkgs to get flit-scm (#2221)
  nixpkgs.json
Due: none

fix: Add flit-scm build dependency for exceptiongroup
  shell.nix
Due: nixpkgs-fmt

feat: Enforce SQS request TLS (#2222)
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: Checkout pull request HEAD commit instead of merge commit
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

refactor: Checkout should be one word for consistency
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Checkout pull request HEAD commit instead of merge commit (#2246)
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none
