Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    stages: [commit]
    types: [python]

  - id: gitlint
    name: gitlint
    entry: gitlint
    args: [--msg-filename]
    language: system
    stages: [commit-msg]

  - id: hadolint
    name: hadolint
    language: docker_image
    entry: hadolint/hadolint hadolint
    types: [dockerfile]

  - id: isort
    name: isort
    entry: isort
    language: system
    stages: [commit]
    types: [python]

  - id: mypy
    name: mypy
    entry: mypy
    args: [--no-incremental]
    language: system
    stages: [commit]
    types: [python]
    require_serial: true

  - id: pretty-format-ini
    name: Pretty format INI
    entry: pretty-format-ini
    args: [--autofix]
    language: system
    stages: [commit]
    types: [ini]

  - id: pretty-format-toml
    name: Pretty format TOML
    entry: pretty-format-toml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [toml]

  - id: pretty-format-yaml
    name: Pretty format YAML
    entry: pretty-format-yaml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [yaml]

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    stages: [commit]
    types: [python]

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    stages: [commit]
    types: [bash]

docs: Added usage documentation for the dataset versions endpoint
  USAGE.md
Due: none

refactor: simplify check STAC metadata (#344)
  backend/check_stac_metadata/task.py
  backend/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

docs: Added usage info for the Dataset Versions endpoint
  USAGE.md
Due: none

docs: Document import restrictions (#310)
  USAGE.md
Due: none

refactor: Pull apart utils file
  app.py
  backend/api_responses.py
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/task.py
  backend/dataset.py
  backend/dataset_model.py
  backend/dataset_versions/create.py
  backend/dataset_versions/entrypoint.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/entrypoint.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/environment.py
  backend/import_dataset/task.py
  backend/log.py
  backend/parameter_store.py
  backend/resources.py
  backend/utils.py
  infrastructure/processing_stack.py
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
  tests/conftest.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
  tests/utils.py
Due: black, isort, mypy, pylint

refactor: Pull apart models
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/task.py
  backend/content_iterator/task.py
  backend/dataset_model.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/import_dataset/task.py
  backend/processing_assets_model.py
  infrastructure/storage_stack.py
  tests/conftest.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
  tests/utils.py
Due: black, isort, mypy, pylint

chore: Remove unused generator
  tests/utils.py
Due: black, isort, mypy, pylint

docs: Explain why code grouping by reuse alone is bad
  CODING.md
Due: none

refactor: Pull apart test utilities
  tests/aws_utils.py
  tests/general_generators.py
  tests/stac_generators.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
  tests/test_content_iterator.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

chore: Upgrade Python packages
  poetry.lock
Due: none

chore: Upgrade Python packages (#358)
  poetry.lock
Due: none

feat: Ignore third party package directories for CodeQL scan
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: pretty-format-yaml

feat: Ignore third party package directories for CodeQL scan (#361)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: pretty-format-yaml

refactor: Use "should_" test name prefix
  pyproject.toml
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
  tests/test_content_iterator.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: Use "should_" test name prefix (#362)
  pyproject.toml
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
  tests/test_content_iterator.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: Use "should_" test name prefix in more tests
  tests/test_storage_bucket.py
Due: black, isort, mypy, pylint

chore: Bump code coverage percentage to 98(!)
  pyproject.toml
Due: pretty-format-toml

fix: Use "should_" test name prefix in more tests (#364)
  tests/test_storage_bucket.py
Due: black, isort, mypy, pylint

docs: Move badges below heading
  README.md
Due: none

fix: Use badges for current workflows
  README.md
Due: none

chore: Bump code coverage percentage to 98(!) (#365)
  pyproject.toml
Due: pretty-format-toml

fix: Show correct badges (#366)
  README.md
Due: none

refactor: Log arguments within argument parser
  backend/check_stac_metadata/task.py
  tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

refactor: Move validation of payload body and method to utility function
  backend/api_responses.py
  backend/dataset_versions/entrypoint.py
  backend/datasets/entrypoint.py
  tests/test_api_endpoint_handler.py
  tests/test_dataset_versions_endpoint.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

refactor: Log arguments within argument parser (#368)
  backend/check_stac_metadata/task.py
  tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

feat: Save JSON schema validation results per file
  backend/check_stac_metadata/task.py
  backend/resources.py
  backend/validation_results_model.py
  infrastructure/processing_stack.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

refactor: Reuse ENV constant
  backend/import_dataset/task.py
Due: black, isort, mypy, pylint

refactor: Reuse resource name
  backend/processing_assets_model.py
Due: black, isort, mypy, pylint

refactor: added extra tests for api_endpoint handler
  tests/test_api_endpoint_handler.py
Due: black, isort, mypy, pylint

chore: Update Python packages
  poetry.lock
Due: none

feat: Save STAC validation results to DB (#360)
  backend/check_stac_metadata/task.py
  backend/resources.py
  backend/validation_results_model.py
  infrastructure/processing_stack.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

chore: Update Python packages (#374)
  poetry.lock
Due: none

refactor: api endpoint validation and tests (#373)
  backend/api_responses.py
  backend/dataset_versions/entrypoint.py
  backend/datasets/entrypoint.py
  tests/test_api_endpoint_handler.py
  tests/test_dataset_versions_endpoint.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

refactor: refactored lambda
  backend/import_status/entrypoint.py
  backend/import_status/get.py
  backend/resources.py
  poetry.lock
  tests/general_generators.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
Due: black, isort, mypy, pylint

refactor: refactor api_stack to use api_endpoint construct
  infrastructure/api_stack.py
  infrastructure/constructs/lambda_endpoint.py
Due: black, isort, mypy, pylint

refactor: refactor processing test into subtests
  infrastructure/api_stack.py
  infrastructure/constructs/lambda_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: refactor api_stack to use api_endpoint construct
  infrastructure/constructs/lambda_endpoint.py
Due: black, isort, mypy, pylint

docs: Added usage doc for Import status endpoint
  USAGE.md
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: fixed logger in test failing to serialise datetime
  backend/import_status/get.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint
