Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamlfmt, yamllint

.pre-commit-config.yaml:

---
# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            stages: [commit]
            types: [python]

          - id: gitlint
            name: gitlint
            entry: gitlint
            args: [--msg-filename]
            language: system
            stages: [commit-msg]

          - id: isort
            name: isort
            entry: isort
            language: system
            stages: [commit]
            types: [python]

          - id: pylint
            name: pylint
            entry: pylint
            language: system
            stages: [commit]
            types: [python]

          - id: shellcheck
            name: shellcheck
            entry: shellcheck
            language: system
            stages: [commit]
            types: [bash]

          - id: yamlfmt
            name: yamlfmt
            entry: yamlfmt
            language: system
            stages: [commit]
            types: [yaml]

          - id: yamllint
            name: yamllint
            entry: yamllint
            args: [--strict]
            language: system
            stages: [commit]
            types: [yaml]

feat: Include non-ASCII characters in random strings
  backend/tests/utils.py
Due: black, isort, pylint

refactor: Extract scalar variables for reuse
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

docs: Avoid code in comments
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

feat: Create dataset instances per test
  backend/tests/conftest.py
  backend/tests/test_datasets_endpoint.py
  backend/tests/utils.py
Due: black, isort, pylint

refactor: Pull out dataset serializer function
  backend/endpoints/datasets/create.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/list.py
  backend/endpoints/datasets/serializer.py
  backend/endpoints/datasets/update.py
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

refactor: Group together dataset utility functions
  backend/tests/utils.py
Due: black, isort, pylint

refactor: Inline single-use static variables
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

test: Set random dataset ID where irrelevant
  backend/tests/test_datasets_endpoint.py
  backend/tests/utils.py
Due: black, isort, pylint

test: Set random dataset owning group where irrelevant
  backend/tests/test_datasets_endpoint.py
  backend/tests/utils.py
Due: black, isort, pylint

test: Set random valid dataset type where irrelevant
  backend/tests/test_datasets_endpoint.py
  backend/tests/utils.py
Due: black, isort, pylint

refactor: Pull out common dataset types list
  backend/endpoints/datasets/common.py
  backend/endpoints/datasets/create.py
  backend/endpoints/datasets/delete.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/update.py
Due: black, isort, pylint

refactor: Remove redundant code
  backend/endpoints/datasets/create.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/update.py
Due: black, isort, pylint

refactor: Expand abbreviated variable name
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

test: Verify full response where applicable
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

test: Set random dataset title where irrelevant
  backend/tests/test_datasets_endpoint.py
  backend/tests/utils.py
Due: black, isort, pylint

fix: Typo in test name (#98)
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

feat: Limit Python version to less than 3.9
  poetry.lock
  pyproject.toml
Due: none

feat: Set pyenv Python version to 3.8.6
  .python-version
Due: none

feat: Limit Python version to less than 3.9 (#89)
  .python-version
  poetry.lock
  pyproject.toml
Due: none

refactor: Pull out common dataset types list (#100)
  backend/endpoints/datasets/common.py
  backend/endpoints/datasets/create.py
  backend/endpoints/datasets/delete.py
  backend/endpoints/datasets/get.py
  backend/endpoints/datasets/update.py
Due: black, isort, pylint

feat: Tweak variables (#96)
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

docs: README update
  README.md
Due: none

fix: fix bundling script
  backend/processing/bundle.bash
Due: none

fix: remove 'ENV=deploy_env' assignment
  infra/datalake/datalake_stack.py
  infra/datalake/processing_stack.py
Due: black, isort, pylint

fix: remove not needed docstrings
  backend/processing/check_files_checksums/task.py
  backend/processing/check_flat_directory_structure/task.py
  backend/processing/content_iterator/task.py
  backend/processing/validation_failure/task.py
  backend/processing/validation_summary/task.py
Due: black, isort, pylint

ci: set DEPLOY_ENV variable to 'ci' (without timestamp)
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

fix: remove not needed f-strings
  infra/datalake/processing_stack.py
Due: black, isort, pylint

fix: drop not needed pylint annotations in dummy Lambda functions
  backend/processing/content_iterator/task.py
  backend/processing/validation_failure/task.py
  backend/processing/validation_summary/task.py
Due: black, isort, pylint

fix: use Ubuntu 20.04 for AWS Batch containers
  backend/processing/check_files_checksums/Dockerfile
  backend/processing/check_flat_directory_structure/Dockerfile
Due: none

ci: add comment about not droping networking stack
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

ci: cdk deployment update using multiple stacks
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

fix: remove interpreter command from AWS Batch container entrypoint
  backend/processing/check_files_checksums/Dockerfile
  backend/processing/check_files_checksums/task.py
  backend/processing/check_flat_directory_structure/Dockerfile
Due: black, isort, pylint

chore: small code comment update
  infra/datalake/processing_stack.py
Due: black, isort, pylint

fix: use single Lambda functions bundling script
  backend/bundle.bash
  backend/processing/bundle.bash
  infra/datalake/datalake_stack.py
  infra/datalake/processing_stack.py
Due: black, isort, pylint

feat(infra): dataset validation state machine implementation
  backend/processing/__init__.py
  backend/processing/bundle.bash
  backend/processing/check_files_checksums/Dockerfile
  backend/processing/check_files_checksums/__init__.py
  backend/processing/check_files_checksums/task.py
  backend/processing/check_flat_directory_structure/Dockerfile
  backend/processing/check_flat_directory_structure/__init__.py
  backend/processing/check_flat_directory_structure/task.py
  backend/processing/content_iterator/__init__.py
  backend/processing/content_iterator/task.py
  backend/processing/validation_failure/__init__.py
  backend/processing/validation_failure/task.py
  backend/processing/validation_summary/__init__.py
  backend/processing/validation_summary/task.py
  infra/.gitignore
  infra/app.py
  infra/datalake/datalake_stack.py
  infra/datalake/networking_stack.py
  infra/datalake/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

ci: don't use unique DEPLOY_ENV
  .github/workflows/ci.yml
Due: yamlfmt, yamllint
