Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        stages: [commit]
        types: [bash]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

fix: add unique cloudwatch rule names
  backend/resources.py
  infrastructure/constructs/notify.py
Due: black, isort, mypy, pylint

feat: Use repo interpreter versions in pipelines (#852)
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  README.md
  reset-dev-env.bash
Due: none

fix: replace event strings with key constant
  backend/dataset_versions/create.py
  backend/upload_status/task.py
  backend/validation_summary/task.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_status_logging.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

fix: add unique cloudwatch rule names (#853)
  backend/resources.py
  infrastructure/constructs/notify.py
Due: black, isort, mypy, pylint

fix: replace event strings with key constant (#854)
  backend/dataset_versions/create.py
  backend/upload_status/task.py
  backend/validation_summary/task.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_status_logging.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

docs: Swap role and bucket policies
  USAGE.md
Due: none

docs: Simplify explanation of role assumption
  USAGE.md
Due: none

fix: Use correct role assumption policy format
  USAGE.md
Due: none

fix: Use correct role assumption policy format (#855)
  USAGE.md
Due: none

fix: Use context manager for `Popen`
  infrastructure/constructs/version.py
Due: black, isort, mypy, pylint

fix: address PR comments
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

fix: handle step function returning null on failure
  backend/notify_status_update/task.py
  backend/step_function_keys.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/processing.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

fix: Add required parameter to application stack
  infrastructure/application_stack.py
Due: black, isort, mypy, pylint

fix: address further PR comments
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

fix: handle step function returning null on failure (#859)
  backend/notify_status_update/task.py
  backend/step_function_keys.py
  infrastructure/application_stack.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/processing.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

feat: Use strict mypy configuration
  backend/check_stac_metadata/stac_validators.py
  backend/datasets_model.py
  backend/notify_status_update/task.py
  backend/populate_catalog/task.py
  backend/validation_results_model.py
  setup.cfg
  tests/test_api_endpoint_handler.py
  tests/test_upload_status.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

fix: add pynamodb to notify slack package
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

feat: Use strict mypy configuration (#862)
  backend/check_stac_metadata/stac_validators.py
  backend/datasets_model.py
  backend/notify_status_update/task.py
  backend/populate_catalog/task.py
  backend/validation_results_model.py
  setup.cfg
  tests/test_api_endpoint_handler.py
  tests/test_upload_status.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

refactor: Pull mypy configuration into pyproject.toml
  pyproject.toml
  setup.cfg
Due: pretty-format-toml

chore: Remove non-matching exclude
  .pylintrc
Due: none

chore: Remove pylint `notes` override
  .pylintrc
  backend/datasets_model.py
  backend/import_asset_file/task.py
  backend/validation_results_model.py
  infrastructure/networking_stack.py
Due: black, isort, mypy, pylint

chore: Remove default setting
  .pylintrc
Due: none

refactor: Pull pylint configuration into pyproject.toml
  .pylintrc
  pyproject.toml
Due: pretty-format-toml

fix: add pynamodb to notify slack package (#864)
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

refactor: Pull mypy configuration into pyproject.toml (#863)
  pyproject.toml
  setup.cfg
Due: pretty-format-toml

docs: Add Dependabot status badge
  README.md
Due: none

docs: Add Kodiak badge
  README.md
Due: none

docs: Add badges (#866)
  README.md
Due: none

refactor: Pull pylint configuration into pyproject.toml (#865)
  .pylintrc
  backend/datasets_model.py
  backend/import_asset_file/task.py
  backend/validation_results_model.py
  infrastructure/networking_stack.py
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

chore: update mypy packages
  poetry.lock
Due: none

chore: update mypy packages (#867)
  poetry.lock
Due: none

fix: lock file update
  poetry.lock
Due: none

fix: fix response code
  backend/notify_status_update/task.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

fix: add infrastructure test for notify function and fix bug
  backend/notify_status_update/task.py
  infrastructure/constructs/notify.py
  pyproject.toml
  tests/conftest.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: add infrastructure test to notify function (#868)
  backend/notify_status_update/task.py
  infrastructure/constructs/notify.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Improve script error checking
  backend/bundle.bash
  reset-dev-env.bash
Due: none

fix: bad indent in infrastrucure code
  infrastructure/constructs/notify.py
Due: black, isort, mypy, pylint

feat: Improve script error checking (#869)
  backend/bundle.bash
  reset-dev-env.bash
Due: none

docs: Format JSON the same more like the policy generator
  USAGE.md
Due: none

fix: bad indent in infrastructure code (#870)
  infrastructure/constructs/notify.py
Due: black, isort, mypy, pylint
