Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamlfmt, yamllint

.pre-commit-config.yaml:

---
# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            stages: [commit]
            types: [python]

          - id: gitlint
            name: gitlint
            entry: gitlint
            args: [--msg-filename]
            language: system
            stages: [commit-msg]

          - id: isort
            name: isort
            entry: isort
            language: system
            stages: [commit]
            types: [python]

          - id: pylint
            name: pylint
            entry: pylint
            language: system
            stages: [commit]
            types: [python]

          - id: shellcheck
            name: shellcheck
            entry: shellcheck
            language: system
            stages: [commit]
            types: [bash]

          - id: yamlfmt
            name: yamlfmt
            entry: yamlfmt
            language: system
            stages: [commit]
            types: [yaml]

          - id: yamllint
            name: yamllint
            entry: yamllint
            args: [--strict]
            language: system
            stages: [commit]
            types: [yaml]

fix: Avoid duplicate codeQL runs
  .github/workflows/codeql-analysis.yml
Due: yamlfmt, yamllint

docs: Create bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix: Avoid duplicate codeQL runs (#169)
  .github/workflows/codeql-analysis.yml
Due: yamlfmt, yamllint

feat: Lint Dockerfiles
  .hadolint.yaml
  .pre-commit-config.yaml
  datalake/backend/processing/check_files_checksums/Dockerfile
  datalake/backend/processing/check_flat_directory_structure/Dockerfile
  datalake/backend/processing/check_stac_metadata/Dockerfile
  ignored:   - DL3000   - SC1010
Due: yamlfmt, yamllint

feat: Remove untracked packages when installing
  reset-dev-env.bash
Due: none

feat: Lint Dockerfiles (#171)
  .hadolint.yaml
  .pre-commit-config.yaml
  datalake/backend/processing/check_files_checksums/Dockerfile
  datalake/backend/processing/check_flat_directory_structure/Dockerfile
  datalake/backend/processing/check_stac_metadata/Dockerfile
  ignored:   - DL3000   - SC1010
Due: yamlfmt, yamllint

feat: Remove untracked packages when installing (#172)
  reset-dev-env.bash
Due: none

feat: Assert that related files are in same directory
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
Due: black, isort, pylint

feat: Enforce s3 URL schema
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
Due: black, isort, pylint

feat: Handle assertion error in metadata check
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

chore: Remove dummy check for flat directory structure
  datalake/backend/processing/check_flat_directory_structure/Dockerfile
  datalake/backend/processing/check_flat_directory_structure/__init__.py
  datalake/backend/processing/check_flat_directory_structure/task.py
  datalake/processing_stack.py
Due: black, isort, pylint

feat: Install mypy
  .gitignore
  poetry.lock
  pyproject.toml
Due: none

fix: Turn check_stac_metadata into a module
  datalake/backend/processing/check_stac_metadata/__init__.py
Due: black, isort, pylint

feat: Type hint STAC object as generic `Dict`
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

feat: Run mypy as part of pre-commit hook
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

feat: Add type hint for empty list
  datalake/backend/processing/check_stac_metadata/task.py
Due: black, isort, pylint

feat: Type hint later filled-in `Dict`
  datalake/processing_stack.py
Due: black, isort, pylint

feat(infra): add support to store and read data in S3 during processing
  datalake/processing_stack.py
Due: black, isort, pylint

feat: Validate flat directory structure (#167)
  datalake/backend/processing/check_flat_directory_structure/Dockerfile
  datalake/backend/processing/check_flat_directory_structure/__init__.py
  datalake/backend/processing/check_flat_directory_structure/task.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
  datalake/processing_stack.py
Due: black, isort, pylint

doc: Create bug report template (#170)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

feat: Introduce mypy (#118)
  .gitignore
  .pre-commit-config.yaml
  datalake/backend/processing/check_stac_metadata/__init__.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, yamlfmt, yamllint

fix(infra): reduce code complexity and fix invalid names
  datalake/processing_stack.py
Due: black, isort, pylint

feat(infra): add processing assets storage DB table
  datalake/processing_stack.py
Due: black, isort, pylint

feat(infra): add processing assets storage table (#174)
  datalake/processing_stack.py
Due: black, isort, pylint

style(infra): fix invalid variable name
  datalake/storage_stack.py
Due: black, isort, pylint

style(infra): fix invalid variable name (#175)
  datalake/storage_stack.py
Due: black, isort, pylint

chore: Remove accidentally added file
  ignored:   - DL3000   - SC1010
Due: none

chore: Remove accidentally added file (#177)
  ignored:   - DL3000   - SC1010
Due: none

ci: properly destroy all AWS stacks after testing
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: properly destroy all AWS stacks after testing (#181)
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: use same Node and CDK versions for local development and CI
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: yamlfmt, yamllint

fix(infra): fix Python certifficate issue in batch container
  datalake/backend/processing/check_stac_metadata/Dockerfile
Due: none

feat(infra): add S3 read permissions to AWS Batch job
  datalake/processing_stack.py
Due: black, isort, pylint

feat(infra): add dataset source AWS stack
  app.py
  cdk.json
  datalake/dataset_source_stack.py
Due: black, isort, pylint

fix(infra): add STAC catalog spec in check_stac_metadata container
  datalake/backend/processing/check_stac_metadata/Dockerfile
Due: none

fix(infra): disable not needed AWS Batch jobs parameters
  datalake/processing_stack.py
Due: black, isort, pylint

test(infra): add processing stack tests (closes #129)
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: black, isort, pylint

test: Verify test coverage
  .github/workflows/test.yml
  .gitignore
  README.md
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

test: Verify test coverage (#168)
  .github/workflows/test.yml
  .gitignore
  README.md
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint
