Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamlfmt, yamllint

.pre-commit-config.yaml:

---
# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            stages: [commit]
            types: [python]

          - id: gitlint
            name: gitlint
            entry: gitlint
            args: [--msg-filename]
            language: system
            stages: [commit-msg]

          - id: isort
            name: isort
            entry: isort
            language: system
            stages: [commit]
            types: [python]

          - id: pylint
            name: pylint
            entry: pylint
            language: system
            stages: [commit]
            types: [python]

          - id: shellcheck
            name: shellcheck
            entry: shellcheck
            language: system
            stages: [commit]
            types: [bash]

          - id: yamlfmt
            name: yamlfmt
            entry: yamlfmt
            language: system
            stages: [commit]
            types: [yaml]

          - id: yamllint
            name: yamllint
            entry: yamllint
            args: [--strict]
            language: system
            stages: [commit]
            types: [yaml]

test: Move tests into the same directory
  .dockerignore
  .github/workflows/test.yml
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_storage_bucket.py
  tests/conftest.py
Due: black, isort, pylint, yamlfmt, yamllint

test: Move tests into the same directory (#183)
  .dockerignore
  .github/workflows/test.yml
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_storage_bucket.py
  tests/conftest.py
Due: black, isort, pylint, yamlfmt, yamllint

ci: Install only production NPMs in CI
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: Install only production NPMs in CI (#184)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: Use recommended APT install commands in CI
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: update Apt in separate step
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: Use recommended APT install commands in CI (#186)
  .github/workflows/test.yml
Due: yamlfmt, yamllint

refactor(infra): rename 'source_stack' to 'staging_stack' (closes #74)
  app.py
  cdk.json
  datalake/backend/tests/test_processing_stack.py
  datalake/staging_stack.py
Due: black, isort, pylint

refactor(infra): rename 'source_stack' to 'staging_stack' (closes #74) (#187)
  app.py
  cdk.json
  datalake/backend/tests/test_processing_stack.py
  datalake/staging_stack.py
Due: black, isort, pylint

refactor(infra): use constants for public stack resources
  cdk.json
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/tests/test_storage_bucket.py
  datalake/storage_stack.py
Due: black, isort, pylint

docs: Link to Confluence Azure login page
  README.md
Due: none

docs: Link to Confluence Azure login page (#185)
  README.md
Due: none

ci: Print full test output diff
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: Print full test output diff (#190)
  .github/workflows/test.yml
Due: yamlfmt, yamllint

refactor: Use native CDK type rather than `dict`
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Pull out method to create Lambda invoke
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Pull apart nested method calls
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Don't import from different levels
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Remove unused variable
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Remove references to default values
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Flatten processing stack creation
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Pull out methods to create stack resources
  datalake/processing_stack.py
  pyproject.toml
Due: black, isort, pylint

refactor: Iterate over items rather than pulling out item
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Extract variable for single-use `dict` value
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Pull branch-specific variables into branches
  datalake/processing_stack.py
Due: black, isort, pylint

refactor: Pull main constructs into separate classes
  datalake/constructs/__init__.py
  datalake/constructs/batch_job_queue.py
  datalake/constructs/batch_submit_job_task.py
  datalake/constructs/bundled_lambda_function.py
  datalake/constructs/lambda_task.py
  datalake/constructs/table.py
  datalake/constructs/task_job_definition.py
  datalake/processing_stack.py
  datalake/storage_stack.py
  pyproject.toml
Due: black, isort, pylint

refactor: Simplify processing stack (#103)
  datalake/constructs/__init__.py
  datalake/constructs/batch_job_queue.py
  datalake/constructs/batch_submit_job_task.py
  datalake/constructs/bundled_lambda_function.py
  datalake/constructs/lambda_task.py
  datalake/constructs/table.py
  datalake/constructs/task_job_definition.py
  datalake/processing_stack.py
  datalake/storage_stack.py
  pyproject.toml
Due: black, isort, pylint

docs: Add Docker dev env documentation
  README.md
Due: none

docs: Add Docker dev env documentation (#193)
  README.md
Due: none

fix: Remove duplicate shellcheck run
  .github/workflows/test.yml
Due: yamlfmt, yamllint

chore: Update Python packages
  poetry.lock
Due: none

docs: Mention how to run CDK deployments non-interactively
  README.md
Due: none

docs: Split CDK commands into bootstrap and deploy steps
  README.md
Due: none

docs: Refine CDK docs (#196)
  README.md
Due: none

docs: Avoid AWS Azure login prompt
  README.md
Due: none

chore: Update Python packages (#195)
  poetry.lock
Due: none

feat: Install ipdb for development
  README.md
  poetry.lock
  pyproject.toml
Due: none

docs: Avoid AWS Azure login prompt (#199)
  README.md
Due: none

chore: Remove unnecessary file
  datalake/backend/processing/check_files_checksums/__init__.py
Due: black, isort, pylint
