Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamlfmt, yamllint

.pre-commit-config.yaml:

---
# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            stages: [commit]
            types: [python]

          - id: gitlint
            name: gitlint
            entry: gitlint
            args: [--msg-filename]
            language: system
            stages: [commit-msg]

          - id: isort
            name: isort
            entry: isort
            language: system
            stages: [commit]
            types: [python]

          - id: pylint
            name: pylint
            entry: pylint
            language: system
            stages: [commit]
            types: [python]

          - id: shellcheck
            name: shellcheck
            entry: shellcheck
            language: system
            stages: [commit]
            types: [bash]

          - id: yamlfmt
            name: yamlfmt
            entry: yamlfmt
            language: system
            stages: [commit]
            types: [yaml]

          - id: yamllint
            name: yamllint
            entry: yamllint
            args: [--strict]
            language: system
            stages: [commit]
            types: [yaml]

fix: Remove duplicate shellcheck run (#192)
  .github/workflows/test.yml
Due: yamlfmt, yamllint

feat: Install ipdb for development (#200)
  README.md
  poetry.lock
  pyproject.toml
Due: none

chore: Remove unnecessary file (#201)
  datalake/backend/processing/check_files_checksums/__init__.py
Due: black, isort, pylint

test: Simplify type annotation by returning None
  datalake/backend/tests/utils.py
Due: black, isort, pylint

test: Show error codes in mypy output
  setup.cfg
Due: none

test: Ignore imports with missing type hints
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/entrypoint.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

test: Install boto3 stubs for type analysis
  poetry.lock
  pyproject.toml
Due: none

test: Avoid reusing unused variable
  app.py
Due: black, isort, pylint

test: Enforce type hint verification
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

feat: Expand typing support (#90)
  .pre-commit-config.yaml
  app.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/entrypoint.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: black, isort, pylint, yamlfmt, yamllint

refactor: Reference app.py constants
  app.py
  datalake/backend/tests/test_processing_stack.py
Due: black, isort, pylint

refactor: Reference app.py constants (#202)
  app.py
  datalake/backend/tests/test_processing_stack.py
Due: black, isort, pylint

feat: Type-check inside functions without type annotations
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/processing/content_iterator/task.py
  setup.cfg
Due: black, isort, pylint

feat: Warn when returning Any from type-declared function
  setup.cfg
Due: none

feat: Warn about unnecessary annotations
  setup.cfg
Due: none

feat: Don't treat defaults as implicitly
  setup.cfg
Due: none

feat: Force explicit generic type parameters
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/tests/test_check_stac_metadata.py
  setup.cfg
Due: black, isort, pylint

feat: Use PynamoDB built-in model serializer
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/serializer.py
  datalake/backend/endpoints/datasets/update.py
Due: black, isort, pylint

refactor: Pull out logging tests
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
Due: black, isort, pylint

feat: Log rather than print task results
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
Due: black, isort, pylint

test: Don't assume single log call per logger method
  datalake/backend/tests/test_check_stac_metadata_logging.py
Due: black, isort, pylint

feat: Log arguments as JSON
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
Due: black, isort, pylint

feat: Stricter type validation (#210)
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  setup.cfg
Due: black, isort, pylint

feat: Improve STAC validation logging (#203)
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
Due: black, isort, pylint

feat: Use different YAML formatter
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .hadolint.yaml
  .pre-commit-config.yaml
  .yamllint.yml
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

feat: Auto-format TOML files
  .kodiak.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: yamlfmt, yamllint

feat: Format INI files
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

feat: Format more languages (#204)
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .hadolint.yaml
  .kodiak.toml
  .pre-commit-config.yaml
  .yamllint.yml
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

ci: set users aws account IDs for deployment (closes #209)
  .github/workflows/deploy.yml
Due: yamlfmt, yamllint

test: Don't try scaling compute environment on the fly
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_processing_stack.py
Due: black, isort, pylint

refactor: Group together generators by purpose
  datalake/backend/tests/utils.py
Due: black, isort, pylint

refactor: Rename field for clarity
  datalake/backend/tests/utils.py
Due: black, isort, pylint

feat: Return 1 when validation fails
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
Due: black, isort, pylint

feat: Save processing assets to DynamoDB
  app.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
  datalake/constructs/batch_submit_job_task.py
  datalake/networking_stack.py
  datalake/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

feat: Save URL multihashes to DB (#179)
  app.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
  datalake/constructs/batch_submit_job_task.py
  datalake/networking_stack.py
  datalake/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

feat(infra): user roles stack implementation (closes #206)
  README.md
  app.py
  datalake/api_stack.py
  datalake/users_stack.py
Due: black, isort, pylint

ci: set users aws account IDs for deployment (#213)
  .github/workflows/deploy.yml
Due: yamlfmt, yamllint

feat(infra): user roles stack implementation (#208)
  README.md
  app.py
  datalake/api_stack.py
  datalake/users_stack.py
Due: black, isort, pylint

fix: Include boto3 in CDK dependencies
  poetry.lock
  pyproject.toml
Due: none
