Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    stages: [commit]
    types: [python]

  - id: gitlint
    name: gitlint
    entry: gitlint
    args: [--msg-filename]
    language: system
    stages: [commit-msg]

  - id: hadolint
    name: hadolint
    language: docker_image
    entry: hadolint/hadolint hadolint
    types: [dockerfile]

  - id: isort
    name: isort
    entry: isort
    language: system
    stages: [commit]
    types: [python]

  - id: mypy
    name: mypy
    entry: mypy
    args: [--no-incremental]
    language: system
    stages: [commit]
    types: [python]
    require_serial: true

  - id: pretty-format-ini
    name: Pretty format INI
    entry: pretty-format-ini
    args: [--autofix]
    language: system
    stages: [commit]
    types: [ini]

  - id: pretty-format-toml
    name: Pretty format TOML
    entry: pretty-format-toml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [toml]

  - id: pretty-format-yaml
    name: Pretty format YAML
    entry: pretty-format-yaml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [yaml]

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    stages: [commit]
    types: [python]

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    stages: [commit]
    types: [bash]

refactor: refactored from PR comments
  backend/dataset_versions/create.py
  backend/import_status/entrypoint.py
  backend/import_status/get.py
  tests/aws_utils.py
  tests/general_generators.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
Due: black, isort, mypy, pylint

feat: added unit tests for import status lambda
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  backend/import_status/get.py
  infrastructure/api_stack.py
  pyproject.toml
  reset-dev-env.bash
  response.json
  tests/aws_utils.py
  tests/general_generators.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

feat: Get import status
  backend/import_status/__init__.py
  backend/import_status/entrypoint.py
  backend/import_status/get.py
  infrastructure/api_stack.py
  tests/test_import_status_endpoint.py
Due: black, isort, mypy, pylint

refactor: refactored logging test to mock correctly
  backend/import_status/get.py
  tests/aws_utils.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
Due: black, isort, mypy, pylint

fix: Added failure reasons to status response if s3 batch fails
  backend/import_status/get.py
  tests/test_import_status_endpoint.py
Due: black, isort, mypy, pylint

refactor: change entrypoint to use new utility method to validate input
  backend/import_status/entrypoint.py
Due: black, isort, mypy, pylint

refactor: Reuse constants (#372)
  backend/import_dataset/task.py
  backend/processing_assets_model.py
Due: black, isort, mypy, pylint

feat: Get Import Status (#367)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  USAGE.md
  backend/dataset_versions/create.py
  backend/import_status/__init__.py
  backend/import_status/entrypoint.py
  backend/import_status/get.py
  backend/resources.py
  infrastructure/api_stack.py
  infrastructure/constructs/lambda_endpoint.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  response.json
  tests/aws_utils.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

fix: Use default GitHub merge commit message
  .kodiak.toml
Due: pretty-format-toml

fix: Use default GitHub merge commit message (#376)
  .kodiak.toml
Due: pretty-format-toml

refactor: Pull reused code out of check_stac_metadata
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

refactor: Pull out initialisation code
  backend/check_stac_metadata/task.py
Due: black, isort, mypy, pylint

refactor: Pull reused code out of check_files_checksums
  backend/check_files_checksums/task.py
  backend/check_files_checksums/utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
Due: black, isort, mypy, pylint

refactor: Pull out initialisation code
  backend/check_files_checksums/task.py
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

refactor: Reuse JSON types
  backend/api_responses.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/dataset_versions/entrypoint.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/entrypoint.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/import_dataset/task.py
  backend/import_status/entrypoint.py
  backend/import_status/get.py
  backend/types.py
  backend/validation_failure/task.py
  backend/validation_summary/task.py
  tests/test_api_endpoint_handler.py
Due: black, isort, mypy, pylint

refactor: Pull reused code out of tasks (#370)
  backend/check_files_checksums/task.py
  backend/check_files_checksums/utils.py
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

test: Run only infrastructure tests online
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: pretty-format-toml, pretty-format-yaml

fix: Include STAC core catalog schema in validator
  backend/api_responses.py
  backend/check_stac_metadata/utils.py
  backend/dataset_versions/create.py
  backend/dataset_versions/entrypoint.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/entrypoint.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/import_dataset/task.py
  backend/types.py
Due: black, isort, mypy, pylint

refactor: Reuse JSON types (#377)
  backend/api_responses.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/dataset_versions/entrypoint.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/entrypoint.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/import_dataset/task.py
  backend/import_status/entrypoint.py
  backend/import_status/get.py
  backend/types.py
  backend/validation_failure/task.py
  backend/validation_summary/task.py
  tests/test_api_endpoint_handler.py
Due: black, isort, mypy, pylint

chore: Remove duplicate subtest
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: Run non-infrastructure tests offline (#371)
  .github/workflows/test.yml
  backend/check_stac_metadata/utils.py
  backend/datasets/entrypoint.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

refactor: Reorder parameters more naturally
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

refactor: Group variables more naturally
  backend/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

refactor: Inline nested function
  backend/check_stac_metadata/task.py
Due: black, isort, mypy, pylint

refactor: Simplify getting schema dicts
  backend/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

refactor: Convert constant to variable
  backend/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

refactor: Pull out JSON file object creator
  tests/file_utils.py
  tests/test_check_stac_metadata.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

chore: Remove duplicate subtest (#379)
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

chore: Update Python packages weekly
  .github/dependabot.yml
Due: pretty-format-yaml

chore: Update Python packages
  poetry.lock
Due: none

test: Use subtests for multiple assertions
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

refactor: Pull out json file object creator (#384)
  tests/file_utils.py
  tests/test_check_stac_metadata.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

chore: Update Python packages weekly (#385)
  .github/dependabot.yml
Due: pretty-format-yaml

refactor: Simplify STAC dataset validator (#381)
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

chore: Update Python packages (#386)
  poetry.lock
Due: none

feat(infra): fixed users role name
  backend/resources.py
  infrastructure/users_stack.py
Due: black, isort, mypy, pylint

test: Use subtests for multiple assertions (#388)
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

feat(infra): fixed users role name (#390)
  backend/resources.py
  infrastructure/users_stack.py
Due: black, isort, mypy, pylint

fix: Change dependabot time configuration value to string
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: pretty-format-yaml

fix: Change dependabot time configuration value to string (#392)
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: pretty-format-yaml
