Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pretty-format-yaml:
  name: Pretty format YAML
  entry: pretty-format-yaml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

feat: Report uploads as skipped when validation fails
  backend/import_status/get.py
  tests/test_import_status_endpoint.py
Due: black, isort, mypy, pylint

feat: Report validation as skipped when step function fails
  backend/import_status/get.py
  tests/test_import_status_endpoint.py
Due: black, isort, mypy, pylint

feat: Make import status messages more meaningful (#541)
  backend/import_status/get.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat(infra): store deployment version as SSM parameter
  .github/workflows/deploy.yml
  app.py
  backend/version.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pretty-format-yaml, pylint

ci: test production AWS stack upgrade for master branch as well
  .github/workflows/deploy.yml
Due: pretty-format-yaml

Revert "ci: allow production deployment only from release branch"
  .github/workflows/deploy.yml
Due: pretty-format-yaml

feat: Only allow deleting empty dataset
  backend/datasets/delete.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

feat: Run CodeQL on non-master branches only on pull request event (#547)
  .github/workflows/codeql-analysis.yml
Due: pretty-format-yaml

feat: Only allow deleting empty dataset (#538)
  backend/datasets/delete.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

chore: Sorte properties alphabetically
  cdk.json
Due: none

feat: Use new style stack synthesis for CDK
  cdk.json
Due: none

chore: Unlock AWS ECS package version
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

feat: Use new style stack synthesis for cdk (#552)
  cdk.json
Due: none

fix: rebase after changes
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  backend/import_asset_file/task.py
  backend/import_dataset_keys.py
  backend/import_file_batch_job_id_keys.py
  backend/import_metadata_file/task.py
  backend/import_status/get.py
  backend/keys/__init__.py
  backend/keys/error_response_keys.py
  backend/keys/step_function_event_keys.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_import_asset_file_logging.py
  tests/test_import_metadata_file_logging.py
Due: black, isort, mypy, pylint

fix: fix failing tests
  backend/check_stac_metadata/task.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

fix: fix result path in step function
  infrastructure/constructs/lambda_task.py
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

refactor: change STAC metadata validation to a non batch task
  backend/check_stac_metadata/task.py
  backend/import_asset_file/task.py
  backend/import_metadata_file/task.py
  backend/import_status/get.py
  backend/keys/__init__.py
  backend/keys/error_response_keys.py
  backend/keys/import_dataset_keys.py
  backend/keys/import_file_batch_job_id_keys.py
  backend/keys/step_function_event_keys.py
  infrastructure/processing_stack.py
  tests/aws_utils.py
  tests/test_import_asset_file_logging.py
  tests/test_import_metadata_file_logging.py
Due: black, isort, mypy, pylint

fix: change bundle bash script to copy submodules into package
  backend/bundle.bash
  backend/check_stac_metadata/task.py
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

fix: fixed imports
  backend/import_asset_file/task.py
  backend/import_metadata_file/task.py
  backend/import_status/get.py
Due: black, isort, mypy, pylint

fix: Run CodeQL analysis on optional Python dependencies (#548)
  .github/workflows/codeql-analysis.yml
Due: pretty-format-yaml

chore: Unlock AWS ECS package version (#551)
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

refactor: change check stac metadata to non batch task (#521)
  backend/bundle.bash
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  infrastructure/constructs/lambda_task.py
  infrastructure/processing_stack.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

refactor: Use Dockerfile instead of bundling script
  backend/Dockerfile
  backend/bundle.bash
  infrastructure/common.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/task_job_definition.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

chore: Cache pip downloads during bundling
  backend/bundle.bash
Due: none

chore: Cache pip downloads during bundling (#565)
  backend/bundle.bash
Due: none

fix: Add Mitchell Paff to authors list
  pyproject.toml
Due: pretty-format-toml

feat: Install wheel package during bundling
  backend/bundle.bash
Due: none

fix: bug template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

ci: set deploy env variables for all prod deployment steps
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: fixed ssm throttling issues in batch copy programs
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_dataset_keys.py
  backend/import_metadata_file/task.py
  tests/test_import_asset_file_logging.py
  tests/test_import_metadata_file_logging.py
Due: black, isort, mypy, pylint

refactor: remove ssm access no longer required
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

fix: hadolint ignore
  backend/Dockerfile
Due: none

refactor: ignore hadolint issue
  backend/Dockerfile
Due: none

refactor: ignore hadolint issue (#577)
  backend/Dockerfile
Due: none

fix: Lock hadolint version
  .pre-commit-config.yaml
Due: pretty-format-yaml

fix: fixed ssm throttling issues in batch copy programs (#576)
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_dataset_keys.py
  backend/import_metadata_file/task.py
  infrastructure/processing_stack.py
  tests/test_import_asset_file_logging.py
  tests/test_import_metadata_file_logging.py
Due: black, isort, mypy, pylint

fix: Add Mitchell Paff to authors list (#566)
  pyproject.toml
Due: pretty-format-toml

feat: Install wheel package during bundling (#568)
  backend/bundle.bash
Due: none

fix: bug template (#571)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pretty-format-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
