Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pretty-format-yaml:
  name: Pretty format YAML
  entry: pretty-format-yaml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

chore: Remove unreached code
  backend/pystac_io_methods.py
Due: black, isort, mypy, pylint

tests: Save HTML coverage report when coverage check fails
  .github/workflows/test.yml
Due: pretty-format-yaml

tests: 100% coverage (#734)
  .github/workflows/test.yml
  .gitignore
  README.md
  backend/check_stac_metadata/task.py
  backend/datasets/entrypoint.py
  backend/datasets/get.py
  backend/datasets_model.py
  backend/import_dataset/task.py
  backend/import_dataset_file.py
  backend/import_metadata_file/task.py
  backend/pystac_io_methods.py
  backend/validation_results_model.py
  pyproject.toml
  tests/aws_utils.py
  tests/test_datasets_endpoint.py
  tests/test_import_asset_file.py
  tests/test_import_dataset_file.py
  tests/test_import_metadata_file.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

docs: updated dataset endpoint documentation
  USAGE.md
Due: none

fix: Use latest STAC version in tests
  tests/stac_objects.py
Due: black, isort, mypy, pylint

feat: Use latest Prettier release
  .pre-commit-config.yaml
Due: pretty-format-yaml

docs: Display a full response from dataset endpoint in usage doc
  USAGE.md
Due: none

feat: Use latest Prettier release (#747)
  .pre-commit-config.yaml
Due: pretty-format-yaml

feat: Use most recent Python 3.8 patch version
  .python-version
Due: none

docs: updated dataset endpoint documentation (#745)
  USAGE.md
Due: none

feat: Use most recent Python 3.8 patch version (#750)
  .python-version
Due: none

refactor: Pass dataset prefix earlier in pipeline to avoid
  backend/check_stac_metadata/task.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/import_dataset/task.py
  backend/step_function.py
  infrastructure/application_stack.py
  infrastructure/constructs/processing.py
  tests/stac_generators.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_content_iterator.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
Due: black, isort, mypy, pylint

fix: Remove unnecessary input into pipeline steps
  backend/check_stac_metadata/task.py
  backend/content_iterator/task.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

fix: Allow additional properties to pipeline schema
  backend/check_stac_metadata/task.py
  backend/content_iterator/task.py
Due: black, isort, mypy, pylint

fix: Remove a redundant test
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

refactor: Pass dataset prefix earlier in pipeline to avoid fetching in multiple places (#752)
  backend/check_stac_metadata/task.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/import_dataset/task.py
  backend/step_function.py
  infrastructure/application_stack.py
  infrastructure/constructs/processing.py
  tests/stac_generators.py
  tests/test_content_iterator.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
Due: black, isort, mypy, pylint

fix: added tests
  backend/sqs_message_attributes.py
  backend/stac_format.py
  tests/test_populate_catalog.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

refactor: add test for exception case
  backend/populate_catalog/task.py
  tests/test_populate_catalog.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

refactor: add stronger assertin to update_catalog test
  backend/datasets/create.py
  backend/update_dataset_catalog/task.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

refactor: Pass dataset prefix earlier in pipeline to avoid
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

fix: Remove unnecessary input into pipeline steps
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

refactor: implement custom layout strategy
  backend/populate_catalog/task.py
  backend/update_dataset_catalog/task.py
  tests/test_populate_catalog.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

feat: add new dataset version to dataset catalog
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  backend/datasets/create.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/s3.py
  backend/sqs_message_attributes.py
  backend/update_dataset_catalog/__init__.py
  backend/update_dataset_catalog/task.py
  infrastructure/constructs/processing.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  tests/test_populate_catalog.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

refactor: parametrize tests
  backend/populate_catalog/task.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: Fix inconsistency sqs and lambda casing of message attributes
  backend/populate_catalog/task.py
  backend/sqs_message_attributes.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

refactor: Expand usage of STAC custom layout strategy
  backend/populate_catalog/task.py
  backend/stac_format.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: fixed broken import from other lambda
  backend/api_keys.py
  backend/check_stac_metadata/task.py
  backend/stac_format.py
  backend/update_dataset_catalog/task.py
  tests/test_import_dataset_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Fix table access exception and refactor custom layout strategy
  backend/import_dataset/task.py
  backend/populate_catalog/task.py
  backend/update_dataset_catalog/task.py
  infrastructure/constructs/api.py
  infrastructure/constructs/processing.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

fix: fix lock file
  poetry.lock
  pyproject.toml
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: Address PR comments
  backend/check_stac_metadata/utils.py
  backend/populate_catalog/task.py
  backend/sqs_message_attributes.py
  backend/stac_format.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: Add a self ref to root catalog
  backend/populate_catalog/task.py
Due: black, isort, mypy, pylint

refactor: fix rebase
  backend/s3.py
  backend/update_dataset_catalog/task.py
Due: black, isort, mypy, pylint

refactor: Strengthen assertions on sqs tests
  tests/test_datasets_endpoint.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

refactor: Address futher PR comments
  backend/populate_catalog/task.py
Due: black, isort, mypy, pylint

feat: update dataset catalog with version (#741)
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  backend/api_keys.py
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  backend/datasets/create.py
  backend/import_dataset/task.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/sqs_message_attributes.py
  backend/stac_format.py
  backend/update_dataset_catalog/__init__.py
  backend/update_dataset_catalog/task.py
  infrastructure/constructs/api.py
  infrastructure/constructs/processing.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset_logging.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

fix: Group boolean operators properly
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: Group boolean operators properly (#762)
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: Bootstrap CDK before running diff
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: Bootstrap CDK before deploying (#763)
  .github/workflows/deploy.yml
Due: pretty-format-yaml

feat: Use strict CDK deployment option
  .github/workflows/test.yml
Due: pretty-format-yaml

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pretty-format-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
