Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamlfmt, yamllint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

yamlfmt:
  name: yamlfmt
  entry: yamlfmt
  language: system
  stages:
  - commit

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system
  stages:
  - commit

feat(infra): use already existing VPC
  app.py
  datalake/networking_stack.py
  datalake/processing_stack.py
Due: black, isort, pylint

feat(infra): use single AZ for VPC if deploy env is not prod
  app.py
  datalake/networking_stack.py
Due: black, isort, pylint

feat(infra): add possibility to set VPC reusing by env. variable
  .github/workflows/ci.yml
  README.md
  app.py
Due: black, isort, pylint, yamlfmt, yamllint

feat(infra): allow usage of existing VPC coming with AWS account
  .github/workflows/ci.yml
  README.md
  app.py
  datalake/networking_stack.py
  datalake/processing_stack.py
Due: black, isort, pylint, yamlfmt, yamllint

feat: Split up deploy and test pipelines
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: yamlfmt, yamllint

feat: Split up deploy and test pipelines (#150)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: Run tests in parallel with linter
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: Run tests in parallel with linter (#147)
  .github/workflows/test.yml
Due: yamlfmt, yamllint

fix: Include boto3 dependency for metadata validation
  poetry.lock
  pyproject.toml
Due: none

fix: Run task using virtualenv Python executable
  datalake/backend/processing/check_stac_metadata/Dockerfile
Due: none

fix: Include boto3 dependency for metadata validation (#154)
  datalake/backend/processing/check_stac_metadata/Dockerfile
  poetry.lock
  pyproject.toml
Due: none

feat: Pull out function to generate random program name
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
Due: black, isort, pylint

feat: Pull out function to generate random URL
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
Due: black, isort, pylint

fix: Make boto3 a production dependency
  poetry.lock
  pyproject.toml
Due: none

feat: Install only production dependencies in Docker container
  datalake/backend/processing/check_stac_metadata/Dockerfile
  poetry.lock
  pyproject.toml
Due: none

refactor: Order extras by name
  .github/workflows/test.yml
  pyproject.toml
Due: yamlfmt, yamllint

feat: Install metadata check dependencies in dev env
  reset-dev-env.bash
Due: none

fix(infra): run 'check_stac_metadata' test first in dataset validation
  datalake/processing_stack.py
Due: black, isort, pylint

fix(infra): run 'check_stac_metadata' test first in dataset validation (#151)
  datalake/processing_stack.py
Due: black, isort, pylint

fix: Remove deploy job dependencies
  .github/workflows/deploy.yml
Due: yamlfmt, yamllint

fix: Remove deploy job dependencies (#159)
  .github/workflows/deploy.yml
Due: yamlfmt, yamllint

feat: More any functions (#156)
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
Due: black, isort, pylint

feat: Install only production dependencies in Docker container (#158)
  .github/workflows/test.yml
  datalake/backend/processing/check_stac_metadata/Dockerfile
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: yamlfmt, yamllint

perf: Read local schema files
  datalake/backend/processing/check_stac_metadata/task.py
Due: black, isort, pylint

perf: Set up validator only once
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

feat: Validate metadata links recursively
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

feat: Only validate each file once
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

feat: Validate stac files recursively (#149)
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, pylint

ci: Add human readable step names
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: yamlfmt, yamllint

fix: Don't check out HEAD^2 as part of CodeQL
  .github/workflows/codeql-analysis.yml
Due: yamlfmt, yamllint

feat: Run CodeQL checks on pull request events
  .github/workflows/codeql-analysis.yml
Due: yamlfmt, yamllint

fix: Wait for networking stack teardown during CI
  .github/workflows/test.yml
Due: yamlfmt, yamllint

fix: Fix CodeQL recommendations (#162)
  .github/workflows/codeql-analysis.yml
Due: yamlfmt, yamllint

ci: Add human readable step names (#160)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: yamlfmt, yamllint

test: Pull out any context generator
  datalake/backend/tests/test_datasets_endpoint.py
  datalake/backend/tests/utils.py
Due: black, isort, pylint

test: Use Faker to generate random URLs
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

fix: Normalize schema store URLs
  datalake/backend/processing/check_stac_metadata/task.py
Due: black, isort, pylint

fix: Normalize schema store URLs (#161)
  datalake/backend/processing/check_stac_metadata/task.py
Due: black, isort, pylint

fix: Wait for networking stack teardown during CI (#163)
  .github/workflows/test.yml
Due: yamlfmt, yamllint

test: Pull out any context generator (#165)
  datalake/backend/tests/test_datasets_endpoint.py
  datalake/backend/tests/utils.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
