Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 04cf542e423601a418787b8c7d704c3c1317e6d3 # v0.7.2
    hooks:
      - id: shellcheck
        stages: [commit]

  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: 148ec47877499e3d671f6366f9eed812db181b40 # v1.2.0
    hooks:
      - id: nixpkgs-fmt

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

feat: Install aws-azure-login only in Nix shell
  README.md
  package-lock.json
  package.json
  shell.nix
Due: none

docs: Fix STAC ID mention (#1059)
  USAGE.md
Due: none

feat: Install aws-azure-login only in Nix shell (#1060)
  README.md
  package-lock.json
  package.json
  shell.nix
Due: none

feat: Bump LINZ STAC extension versions
  .gitmodules
  backend/check_stac_metadata/stac_validators.py
  backend/check_stac_metadata/utils.py
  backend/stac_format.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

chore: Bump NPM lock file
  package-lock.json
Due: none

feat: Treat byte + string/int comparison as error
  backend/Dockerfile
Due: none

chore: Bump NPM lock file (#1087)
  package-lock.json
Due: none

fix: update poetry and pip package locations
  shell.nix
Due: none

fix: ordered items
  shell.nix
Due: none

feat: Symlink Nix shell Python within project
  .run/.gitignore
  README.md
  shell.nix
Due: none

feat: Treat byte + string/int comparison as error (#1088)
  backend/Dockerfile
Due: none

feat: Symlink Nix shell Python within project (#1109)
  .run/.gitignore
  README.md
  shell.nix
Due: none

fix: update poetry and pip package locations (#1108)
  shell.nix
Due: none

docs: Fix headings
  USAGE.md
Due: none

docs: Document some CLI code review guidelines
  CODING.md
Due: none

docs: Fix headings (#1113)
  USAGE.md
Due: none

fix: Avoid too many arguments when running parallel
  clear-s3-buckets.bash
Due: none

fix: Avoid too many arguments when running parallel (#1119)
  clear-s3-buckets.bash
Due: none

docs: Add CLI code review checklist (#1114)
  CODING.md
Due: none

refactor: Move AWS key constants into standalone file
  geostore/api_responses.py
  geostore/aws_keys.py
  geostore/populate_catalog/task.py
  tests/test_api_endpoint_handler.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Move AWS key constants into standalone file (#1125)
  geostore/api_responses.py
  geostore/aws_keys.py
  geostore/populate_catalog/task.py
  tests/test_api_endpoint_handler.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: use the linz-logger for logging throughout geostore
  geostore/check_files_checksums/task.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/dataset_versions/create.py
  geostore/import_dataset/task.py
  geostore/import_dataset_file.py
  geostore/import_metadata_file/task.py
  geostore/import_status/get.py
  geostore/log.py
  geostore/notify_status_update/task.py
  geostore/parameter_store.py
  geostore/populate_catalog/task.py
  geostore/step_function.py
  geostore/update_dataset_catalog/task.py
  geostore/upload_status/task.py
  geostore/validation_summary/task.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_parameter_store.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: broken test
  tests/test_check_files_checksums_logging.py
Due: black, isort, mypy, pylint

feat: Use stable nixpkgs
  shell.nix
Due: none

feat: enhance logging (#1116)
  geostore/check_files_checksums/task.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/dataset_versions/create.py
  geostore/import_dataset/task.py
  geostore/import_dataset_file.py
  geostore/import_metadata_file/task.py
  geostore/import_status/get.py
  geostore/log.py
  geostore/notify_status_update/task.py
  geostore/parameter_store.py
  geostore/populate_catalog/task.py
  geostore/step_function.py
  geostore/update_dataset_catalog/task.py
  geostore/upload_status/task.py
  geostore/validation_summary/task.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_parameter_store.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: Rename constant for clarity
  geostore/populate_catalog/task.py
  tests/test_datasets_endpoint.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

docs: Add some standard Poetry package metadata
  pyproject.toml
Due: pretty-format-toml

docs: Add some standard Poetry package metadata (#1136)
  pyproject.toml
Due: pretty-format-toml

refactor: Pull out reused paths
  geostore/check_stac_metadata/stac_validators.py
  tests/stac_objects.py
Due: black, isort, mypy, pylint

refactor: Rename constant for clarity (#1134)
  geostore/populate_catalog/task.py
  tests/test_datasets_endpoint.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

refactor: Pull out reused paths (#1137)
  geostore/check_stac_metadata/stac_validators.py
  tests/stac_objects.py
Due: black, isort, mypy, pylint

feat: Use stable nixpkgs (#1129)
  shell.nix
Due: none

feat: Add `dataset create` command
  .github/workflows/build.yml
  USAGE.md
  geostore/cli.py
  poetry.lock
  pyproject.toml
  tests/aws_utils.py
  tests/test_cli.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Add command-line interface (CLI) 1st increment (#1101)
  .github/workflows/build.yml
  USAGE.md
  geostore/cli.py
  poetry.lock
  pyproject.toml
  tests/aws_utils.py
  tests/test_cli.py
Due: black, isort, mypy, pretty-format-toml, pylint

chore: Don't install dev dependencies for building
  .github/workflows/build.yml
Due: none

feat: Archive build artifacts
  .github/workflows/build.yml
Due: none

refactor: Use existing constants
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

test: Clarify subtest messages
  tests/test_cli.py
Due: black, isort, mypy, pylint
