Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pretty-format-yaml:
  name: Pretty format YAML
  entry: pretty-format-yaml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

feat: Remove dataset type arguments
  backend/content_iterator/task.py
  backend/dataset.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/datasets_model.py
  infrastructure/constructs/table.py
  infrastructure/processing_stack.py
  infrastructure/storage_stack.py
  tests/aws_utils.py
  tests/stac_generators.py
  tests/test_content_iterator.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Modified stac validation task to not crash pipeline (#513)
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

feat: Remove dataset type arguments (#516)
  backend/content_iterator/task.py
  backend/dataset.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/datasets_model.py
  infrastructure/constructs/table.py
  infrastructure/processing_stack.py
  infrastructure/storage_stack.py
  tests/aws_utils.py
  tests/stac_generators.py
  tests/test_content_iterator.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Use key variables for common step function and error strings
  backend/check_files_checksums/utils.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/error_response_keys.py
  backend/import_dataset/task.py
  backend/import_status/get.py
  backend/parameter_store.py
  backend/step_function_event_keys.py
  backend/validation_summary/task.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_content_iterator.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_parameter_store.py
  tests/test_validation_summary.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

refactor: Use key variables for common step function and error strings (#519)
  backend/check_files_checksums/utils.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/error_response_keys.py
  backend/import_dataset/task.py
  backend/import_status/get.py
  backend/parameter_store.py
  backend/step_function_event_keys.py
  backend/validation_summary/task.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_content_iterator.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_parameter_store.py
  tests/test_validation_summary.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

chore: Remove obsolete pylint annotations
  backend/datasets/get.py
  backend/datasets/update.py
Due: black, isort, mypy, pylint

feat: Remove owning group dataset parameter
  USAGE.md
  backend/datasets/create.py
  backend/datasets/get.py
  backend/datasets/update.py
  backend/datasets_model.py
  infrastructure/storage_stack.py
  pyproject.toml
  tests/aws_utils.py
  tests/stac_generators.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pretty-format-toml, pylint

ci: run deployment jobs on tags push
  .github/workflows/deploy.yml
Due: pretty-format-yaml

feat: Remove owning group dataset parameter (#523)
  USAGE.md
  backend/datasets/create.py
  backend/datasets/get.py
  backend/datasets/update.py
  backend/datasets_model.py
  infrastructure/storage_stack.py
  pyproject.toml
  tests/aws_utils.py
  tests/stac_generators.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pretty-format-toml, pylint

ci: production deployment on tag
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: Use new checksum property name
  backend/check_stac_metadata/utils.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Use constants for HTTP response codes
  backend/api_responses.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/import_status/get.py
  tests/test_api_endpoint_handler.py
  tests/test_dataset_versions_endpoint.py
  tests/test_datasets_endpoint.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Merge users stack into API stack
  app.py
  infrastructure/api_stack.py
  infrastructure/users_stack.py
Due: black, isort, mypy, pylint

refactor: Use constants for HTTP response codes (#536)
  backend/api_responses.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/import_status/get.py
  tests/test_api_endpoint_handler.py
  tests/test_dataset_versions_endpoint.py
  tests/test_datasets_endpoint.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Use new checksum property name (#532)
  backend/check_stac_metadata/utils.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Sort keys alphabetically
  tests/stac_objects.py
Due: black, isort, mypy, pylint

test: Verify minimal-ness of all STAC objects
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: Sort schema files
  backend/check_stac_metadata/stac_validators.py
Due: black, isort, mypy, pylint

refactor: Merge users stack into API stack (#537)
  app.py
  infrastructure/api_stack.py
  infrastructure/users_stack.py
Due: black, isort, mypy, pylint

test: Generate random account ID
  tests/aws_utils.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
Due: black, isort, mypy, pylint

refactor: Join short lines
  tests/test_import_status_endpoint.py
Due: black, isort, mypy, pylint

refactor: Expect the success value to always be in the mapping
  backend/import_status/get.py
Due: black, isort, mypy, pylint

chore: Remove redundant references to default setting
  USAGE.md
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

docs: Hard-code Lambda endpoint names
  USAGE.md
Due: none

feat: Remove redundant endpoint suffix
  USAGE.md
  backend/resources.py
  infrastructure/constructs/lambda_endpoint.py
Due: black, isort, mypy, pylint

docs: Remove obsolete dataset type arguments
  USAGE.md
Due: none

feat(infra): add version tags to AWS stack resources
  app.py
Due: black, isort, mypy, pylint

ci: production AWS stack upgrade testing before deployment
  .github/workflows/deploy.yml
Due: pretty-format-yaml

ci: allow production deployment only from release branch
  .github/workflows/deploy.yml
Due: pretty-format-yaml

docs: Simplify usage (#524)
  USAGE.md
  backend/resources.py
  infrastructure/constructs/lambda_endpoint.py
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Run CodeQL on non-master branches only on pull request event
  .github/workflows/codeql-analysis.yml
Due: pretty-format-yaml

fix: Run CodeQL analysis on optional Python dependencies
  .github/workflows/codeql-analysis.yml
Due: pretty-format-yaml

refactor: Check STAC metadata cleanup (#535)
  backend/check_stac_metadata/stac_validators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: Make import status messages more meaningful prep (#540)
  backend/import_status/get.py
  tests/aws_utils.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
Due: black, isort, mypy, pylint

feat: Convert step function status to Title Case
  backend/import_status/get.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pretty-format-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
