Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    stages: [commit]
    types: [python]

  - id: gitlint
    name: gitlint
    entry: gitlint
    args: [--msg-filename]
    language: system
    stages: [commit-msg]

  - id: hadolint
    name: hadolint
    language: docker_image
    entry: hadolint/hadolint hadolint
    types: [dockerfile]

  - id: isort
    name: isort
    entry: isort
    language: system
    stages: [commit]
    types: [python]

  - id: mypy
    name: mypy
    entry: mypy
    args: [--no-incremental]
    language: system
    stages: [commit]
    types: [python]
    require_serial: true

  - id: pretty-format-ini
    name: Pretty format INI
    entry: pretty-format-ini
    args: [--autofix]
    language: system
    stages: [commit]
    types: [ini]

  - id: pretty-format-toml
    name: Pretty format TOML
    entry: pretty-format-toml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [toml]

  - id: pretty-format-yaml
    name: Pretty format YAML
    entry: pretty-format-yaml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [yaml]

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    stages: [commit]
    types: [python]

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    stages: [commit]
    types: [bash]

refactor: Pull out STAC keys
  backend/check_stac_metadata/utils.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Pull STAC key constants into reusable file
  backend/check_stac_metadata/utils.py
  backend/datasets/create.py
  backend/stac_format.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Pull out constants (#713)
  backend/check_stac_metadata/utils.py
  backend/datasets/create.py
  backend/datasets/update.py
  backend/import_status/get.py
  backend/stac_format.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Make copy jobs synchronous
  backend/check_stac_metadata/task.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/import_dataset/task.py
  backend/import_status/get.py
  backend/step_function.py
  backend/step_function_event_keys.py
  backend/upload_status/__init__.py
  backend/upload_status/task.py
  backend/validation_summary/task.py
  infrastructure/constructs/api.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/s3_policy.py
  poetry.lock
  pyproject.toml
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_content_iterator.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
  tests/test_upload_status.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Use standard ULID in dataset ID
  backend/datasets_model.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

docs: fix VPC stack documentation
  README.md
Due: none

refactor: rename product to Geostore
  .github/pull_request_template.md
  .github/workflows/deploy.yml
  CODING.md
  README.md
  USAGE.md
  app.py
  backend/resources.py
  cdk.context.json
  infrastructure/constructs/api.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/storage.py
  infrastructure/networking_stack.py
  pyproject.toml
  reset-dev-env.bash
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

docs: Remove definite article when speaking of system
  USAGE.md
Due: none

refactor: rename product to Geostore (#716)
  .github/pull_request_template.md
  .github/workflows/deploy.yml
  CODING.md
  README.md
  USAGE.md
  app.py
  backend/resources.py
  cdk.context.json
  infrastructure/constructs/api.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/storage.py
  infrastructure/networking_stack.py
  pyproject.toml
  reset-dev-env.bash
  tests/test_datasets_endpoint.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

feat: Enable GitHub Actions cache clearing
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  README.md
Due: pretty-format-yaml

feat: Make copy jobs synchronous (#689)
  backend/check_stac_metadata/task.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/import_dataset/task.py
  backend/import_status/get.py
  backend/step_function.py
  backend/step_function_event_keys.py
  backend/upload_status/__init__.py
  backend/upload_status/task.py
  backend/validation_summary/task.py
  infrastructure/constructs/api.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/s3_policy.py
  poetry.lock
  pyproject.toml
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_content_iterator.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
  tests/test_upload_status.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Add Black badge
  README.md
Due: none

feat: Add Conventional Commits badge
  README.md
Due: none

feat: Add hadolint badge
  README.md
Due: none

feat: Add isort badge
  README.md
Due: none

feat: Add mypy badge
  README.md
Due: none

feat: Add Prettier badge
  README.md
Due: none

feat: Add shellcheck badge
  README.md
Due: none

feat: Add Pylint badge
  README.md
Due: none

feat: Add Python version badge
  README.md
Due: none

feat: Add test coverage badge
  README.md
Due: none

docs: Fix STAC documentation
  USAGE.md
Due: none

feat: Shorten dataset datetime format (#714)
  backend/datasets_model.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

docs: Remove 'work in progress' badge
  README.md
Due: none

docs: Fix STAC documentation (#720)
  USAGE.md
Due: none

fix: Correct botocore dependabot path
  .github/dependabot.yml
Due: pretty-format-yaml

feat: Remove "prod" resource name prefix
  USAGE.md
  backend/resources.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/lds.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/networking_stack.py
Due: black, isort, mypy, pylint

docs: Set endpoint target URLs
  USAGE.md
Due: none

fix: Correct botocore dependabot path (#723)
  .github/dependabot.yml
Due: pretty-format-yaml

feat: Add badges (#719)
  README.md
Due: none

fix: Use new type names
  backend/import_dataset/task.py
  tests/aws_utils.py
Due: black, isort, mypy, pylint

feat: Remove "prod" resource name prefix (#724)
  USAGE.md
  backend/resources.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/lds.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/networking_stack.py
Due: black, isort, mypy, pylint

docs: Use valid dataset title in request/responses
  USAGE.md
Due: none

docs: Document dataset title rename process
  USAGE.md
Due: none

docs: Manage renaming datasets (#722)
  USAGE.md
Due: none

tests: Use multi-chunk file for checksum test
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

tests: Fix unreachable assertions
  tests/test_check_files_checksums_logging.py
  tests/test_parameter_store.py
Due: black, isort, mypy, pylint

tests: Exclude otherwise tested lines from coverage
  pyproject.toml
Due: pretty-format-toml

chore: Remove unused function
  backend/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

tests: Verify check STAC metadata JSON validation handling
  tests/test_check_stac_metadata_task_logging.py
Due: black, isort, mypy, pylint
