Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pretty-format-yaml:
  name: Pretty format YAML
  entry: pretty-format-yaml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

feat: Enable GitHub Actions cache clearing (#717)
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  README.md
Due: pretty-format-yaml

tests: Prep for 100% coverage (#729)
  backend/check_stac_metadata/utils.py
  pyproject.toml
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_parameter_store.py
Due: black, isort, mypy, pretty-format-toml, pylint

tests: Implicitly raise `KeyError` on implementation error
  tests/test_upload_status.py
Due: black, isort, mypy, pylint

chore: Remove unused code
  tests/aws_utils.py
  tests/conftest.py
  tests/general_generators.py
  tests/internal_generators.py
  tests/stac_generators.py
Due: black, isort, mypy, pylint

refactor: Move infrastructure file into right directory
  infrastructure/constructs/storage.py
  infrastructure/constructs/version.py
Due: black, isort, mypy, pylint

docs: Fix default environment type/name
  README.md
Due: none

refactor: Simplify validation failure state handler
  backend/validation_failure/__init__.py
  backend/validation_failure/task.py
  infrastructure/constructs/processing.py
Due: black, isort, mypy, pylint

refactor: Avoid verifying third party response
  backend/parameter_store.py
Due: black, isort, mypy, pylint

feat: Rename DEPLOY_ENV variable to GEOSTORE_ENV_NAME
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  README.md
  app.py
  backend/environment.py
  backend/parameter_store.py
  backend/resources.py
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/batch_submit_job_task.py
  infrastructure/constructs/import_file_function.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_layers.py
  infrastructure/constructs/lds.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/storage.py
  infrastructure/constructs/table.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/networking_stack.py
  tests/test_prefix_non_prod_name.py
Due: black, isort, mypy, pretty-format-yaml, pylint

tests: Prep for 100% coverage part deux (#732)
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  README.md
  app.py
  backend/environment.py
  backend/parameter_store.py
  backend/resources.py
  backend/validation_failure/__init__.py
  backend/validation_failure/task.py
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/batch_submit_job_task.py
  infrastructure/constructs/import_file_function.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_layers.py
  infrastructure/constructs/lds.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/storage.py
  infrastructure/constructs/table.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/constructs/version.py
  infrastructure/networking_stack.py
  tests/aws_utils.py
  tests/conftest.py
  tests/general_generators.py
  tests/internal_generators.py
  tests/stac_generators.py
  tests/test_prefix_non_prod_name.py
  tests/test_upload_status.py
Due: black, isort, mypy, pretty-format-yaml, pylint

tests: Add test for permanent asset import failure
  backend/import_asset_file/task.py
  backend/import_dataset_keys.py
  backend/import_metadata_file/task.py
  tests/test_import_asset_file.py
  tests/test_import_asset_file_logging.py
Due: black, isort, mypy, pylint

refactor: remove unnecessary keys file
  backend/boto3_keys.py
  backend/write_to_catalog/task.py
  tests/aws_utils.py
  tests/test_write_to_catalog.py
Due: black, isort, mypy, pylint

fix: rebase
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  backend/datasets/create.py
  backend/parameter_store.py
  backend/write_to_catalog/__init__.py
  backend/write_to_catalog/task.py
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/processing.py
  pyproject.toml
  reset-dev-env.bash
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

fix: update lock after rebase
  backend/write_to_catalog/task.py
  poetry.lock
  pyproject.toml
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: lint issue
  infrastructure/constructs/processing.py
Due: black, isort, mypy, pylint

refactor: pulled out constants
  backend/boto3_keys.py
  backend/stac_format.py
  backend/write_to_catalog/task.py
  tests/aws_utils.py
  tests/test_datasets_endpoint.py
  tests/test_write_to_catalog.py
Due: black, isort, mypy, pylint

fix: add tests
  backend/datasets/create.py
  backend/pystac_io_methods.py
  backend/write_to_catalog/task.py
  infrastructure/constructs/processing.py
  tests/aws_utils.py
  tests/test_datasets_endpoint.py
  tests/test_write_to_catalog.py
Due: black, isort, mypy, pylint

refactor: Pull out common code from file importers
  backend/import_asset_file/task.py
  backend/import_dataset_file.py
  backend/import_dataset_keys.py
  backend/import_metadata_file/task.py
  tests/test_import_asset_file.py
  tests/test_import_asset_file_logging.py
  tests/test_import_dataset_file.py
Due: black, isort, mypy, pylint

tests: Bump coverage minimum to 99%
  README.md
  pyproject.toml
Due: pretty-format-toml

refactor: address PR comments
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  backend/check_stac_metadata/utils.py
  backend/datasets/create.py
  backend/import_dataset/task.py
  backend/populate_catalog/__init__.py
  backend/populate_catalog/task.py
  backend/s3.py
  backend/stac_format.py
  infrastructure/constructs/bundled_code.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/lambda_config.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_layers.py
  infrastructure/constructs/processing.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
  tests/test_write_to_catalog.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

refactor: address further PR comments
  backend/pystac_io_methods.py
  backend/s3.py
  infrastructure/constructs/processing.py
Due: black, isort, mypy, pylint

refactor: rename links in test to original and expected
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

tests: Prep for 100 percent coverage part trois (#733)
  README.md
  backend/import_asset_file/task.py
  backend/import_dataset_file.py
  backend/import_metadata_file/task.py
  pyproject.toml
  tests/test_import_asset_file.py
  tests/test_import_asset_file_logging.py
  tests/test_import_dataset_file.py
  tests/test_import_metadata_file_logging.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: root catalog (#727)
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  backend/check_stac_metadata/utils.py
  backend/datasets/create.py
  backend/import_dataset/task.py
  backend/parameter_store.py
  backend/populate_catalog/__init__.py
  backend/populate_catalog/task.py
  backend/pystac_io_methods.py
  backend/s3.py
  backend/stac_format.py
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/bundled_code.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/lambda_config.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_layers.py
  infrastructure/constructs/processing.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

chore: Remove obsolete TODO
  backend/datasets/entrypoint.py
Due: black, isort, mypy, pylint

chore: Remove inaccurate comment
  backend/datasets/entrypoint.py
Due: black, isort, mypy, pylint

tests: Add test of dataset JSON validation error handling
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

tests: Run local dataset deletion code
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

chore: Update TODO comments with most recent info
  backend/datasets_model.py
  backend/validation_results_model.py
Due: black, isort, mypy, pylint

refactor: Simplify import
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

chore: Reorder tests
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

tests: Add test of dataset JSON validation error handling
  backend/datasets/get.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

tests: Add test for invalid `handle_get` parameters
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

tests: Add test for treating timeout as temporary failure
  backend/import_dataset_file.py
  tests/test_import_dataset_file.py
Due: black, isort, mypy, pylint

refactor: Shorten import
  backend/pystac_io_methods.py
Due: black, isort, mypy, pylint

tests: Ignore coverage HTML output
  .gitignore
Due: none

tests: Verify metadata file import
  backend/import_dataset_file.py
  backend/import_metadata_file/task.py
  tests/aws_utils.py
  tests/test_import_asset_file.py
  tests/test_import_dataset_file.py
  tests/test_import_metadata_file.py
Due: black, isort, mypy, pylint

tests: Bump coverage to 100%
  README.md
  pyproject.toml
Due: pretty-format-toml

tests: Verify unknown client error handling
  backend/import_dataset_file.py
  tests/test_import_dataset_file.py
Due: black, isort, mypy, pylint

refactor: Pull out common S3 URL parsing function
  backend/check_stac_metadata/task.py
  backend/import_dataset/task.py
  backend/pystac_io_methods.py
Due: black, isort, mypy, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pretty-format-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
