Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  stages:
  - commit

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

fix: Remove mention of setuptools
  poetry.lock
Due: none

fix: Run pull request workflows when reopening (#2134)
  .github/workflows/package-cli.yml
  .github/workflows/test.yml
Due: none

fix: stop submitting files with different stac id
  geostore/check.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pylint

fix: reformate check.py
  geostore/check.py
Due: black, isort, pylint

feat: Update poetry remove-untracked option flag to sync
  reset-dev-env.bash
Due: none

feat: Update poetry remove-untracked option flag to sync (#2142)
  reset-dev-env.bash
Due: none

build: Move to latest stable nixpkgs
  .nvmrc
  bump-nixpkgs.bash
  nixpkgs.json
  shell.nix
Due: nixpkgs-fmt

docs: Document how to deal with pip and nixpkgs updates
  CODING.md
  README.md
Due: none

docs: Don't install Python packages when locking
  README.md
Due: none

docs: Use official organisation name
  CODING.md
  README.md
  USAGE.md
  geostore/populate_catalog/task.py
  infrastructure/constructs/batch_job_queue.py
  poetry.lock
  pyproject.toml
  tests/test_check_stac_metadata.py
Due: black, isort, pretty-format-toml, pylint

docs: Remove unused definitions
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

docs: Use official organisation name (#2151)
  CODING.md
  README.md
  USAGE.md
  geostore/populate_catalog/task.py
  infrastructure/constructs/batch_job_queue.py
  poetry.lock
  pyproject.toml
  tests/test_check_stac_metadata.py
Due: black, isort, pretty-format-toml, pylint

build: Bump nixpkgs (#2130)
  .nvmrc
  CODING.md
  README.md
  bump-nixpkgs.bash
  nixpkgs.json
  shell.nix
Due: nixpkgs-fmt

fix: Remove reference to unused package
  poetry.lock
Due: none

fix: Add build requirement for jsonschema
  shell.nix
Due: nixpkgs-fmt

docs: Don't install Python packages when locking (#2150)
  README.md
Due: none

fix: Add idna build dependency
  shell.nix
Due: nixpkgs-fmt

feat: Remove dependabot commits from changelog
  .github/release.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  nixpkgs-fmt: any of: \.nix$
  pretty-format-toml: any of: \.toml$
  pylint: any of: \.py$
