Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pretty-format-toml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

refactor: Use class variable instead of lru_cache (#2600)
  infrastructure/application_stack.py
  infrastructure/constructs/bundled_code.py
Due: black, isort, pylint

chore: Delete reference to bundle.bash
  pyproject.toml
Due: pretty-format-toml

chore: Delete reference to bundle.bash (#2605)
  pyproject.toml
Due: pretty-format-toml

refactor: Remove Python package install fallback
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

refactor: Remove obsolete Node.js version workaround
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

refactor: Remove Python package install fallback (#2610)
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

refactor: Stop using deprecated `set-output` command
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/test.yml
Due: none

refactor: Simplify all extras install
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  reset-dev-env.bash
Due: none

refactor: Simplify all extras install (#2611)
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  reset-dev-env.bash
Due: none

refactor: Remove obsolete Node.js version workaround (#2612)
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

refactor: Simplify Dockerfile
  geostore/Dockerfile
  infrastructure/constructs/task_job_definition.py
Due: black, isort, pylint

refactor: Stop using deprecated `set-output` command (#2613)
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/test.yml
Due: none

refactor: Simplify Dockerfile (#2609)
  geostore/Dockerfile
  infrastructure/constructs/task_job_definition.py
Due: black, isort, pylint

refactor: Mark `Enum` method override as static
  geostore/parameter_store.py
Due: black, isort, pylint

feat: Cache pre-commit
  .github/workflows/test.yml
Due: none

feat: Cache pre-commit (#2623)
  .github/workflows/test.yml
Due: none

build: Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

build: Bump pre-commit hooks (#2750)
  .pre-commit-config.yaml
Due: none

fix: Add hatch-vcs as virtualenv build input
  shell.nix
Due: none

docs: Simplify instructions for abandoning override
  shell.nix
Due: none

feat: Link entire poetry2nix environment in `.venv`
  .run/.gitignore
  README.md
  shell.nix
Due: none

feat: Link entire poetry2nix environment in `.venv` (#2761)
  .run/.gitignore
  README.md
  shell.nix
Due: none

refactor: Use GitPython module instead of popen for tag annotation
  infrastructure/constructs/version.py
  poetry.lock
  pyproject.toml
Due: black, isort, pretty-format-toml, pylint

feat: Use Niv to lock nixpkgs
  .nvmrc
  README.md
  bump-nixpkgs.bash
  nix/sources.json
  nix/sources.nix
  nixpkgs.json
  shell.nix
Due: none

fix: Format files
  .kodiak.toml
  infrastructure/constructs/lambda_layers/botocore/pyproject.toml
  pyproject.toml
Due: pretty-format-toml

feat: Use Niv to lock nixpkgs (#2862)
  .nvmrc
  README.md
  bump-nixpkgs.bash
  nix/sources.json
  nix/sources.nix
  nixpkgs.json
  shell.nix
Due: none

fix: Format files
  geostore/validation_results_model.py
  infrastructure/constructs/table.py
  tests/aws_utils.py
  tests/test_api_endpoint_handler.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_notify_slack.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
  tests/test_s3_utils.py
  tests/test_update_dataset_catalog.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pretty-format-toml: any of: \.toml$, but not: ^.*\.lock
  pylint: any of: \.py$
