Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 04cf542e423601a418787b8c7d704c3c1317e6d3 # v0.7.2
    hooks:
      - id: shellcheck
        stages: [commit]

  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: 148ec47877499e3d671f6366f9eed812db181b40 # v1.2.0
    hooks:
      - id: nixpkgs-fmt

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

refactor: Rename function for extensibility
  geostore/cli.py
Due: black, isort, mypy, pylint

fix: Catch missing credentials error in the right place
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

feat: Handle missing AWS region setting
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

refactor: Use existing constant
  geostore/cli.py
Due: black, isort, mypy, pylint

refactor: Move constant out of side-effect-ful code
  geostore/dataset_keys.py
  geostore/datasets_model.py
  tests/stac_generators.py
  tests/test_cli.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: CLI prep (#1147)
  .github/workflows/build.yml
  geostore/cli.py
  geostore/dataset_keys.py
  geostore/datasets_model.py
  tests/stac_generators.py
  tests/test_cli.py
  tests/test_content_iterator.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Delete datasets using CLI
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

feat: List datasets using CLI
  USAGE.md
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

feat: Create dataset version via CLI
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

feat: Enable filtering dataset listing
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

docs: Document how to install Geostore CLI
  USAGE.md
Due: none

feat: Install boto3 and typer everywhere
  .github/workflows/build.yml
  USAGE.md
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

feat: Expand CLI (#1142)
  .github/workflows/build.yml
  USAGE.md
  geostore/cli.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Use production environment by default
  geostore/environment.py
  geostore/resources.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/lds.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/networking_stack.py
  tests/test_prefix_non_prod_name.py
Due: black, isort, mypy, pylint

refactor: Make resource name a runtime property
  geostore/cli.py
  geostore/datasets/create.py
  geostore/datasets/delete.py
  geostore/import_dataset/task.py
  geostore/populate_catalog/task.py
  geostore/resources.py
  geostore/update_dataset_catalog/task.py
  infrastructure/constructs/api.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/staging.py
  infrastructure/constructs/storage.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_cli.py
  tests/test_datasets_endpoint.py
  tests/test_import_asset_file.py
  tests/test_import_dataset.py
  tests/test_notify_slack.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

feat: Unconditionally save coverage report
  .github/workflows/test.yml
Due: none

feat: Unconditionally save jUnit test report
  .github/workflows/test.yml
Due: none

chore: Ignore jUnit report file
  .gitignore
Due: none

fix: Specify Nix path for building
  .github/workflows/test.yml
Due: none

test: Exclude Nix store from coverage
  pyproject.toml
Due: pretty-format-toml

refactor: Make resource name a runtime property (#1152)
  geostore/cli.py
  geostore/datasets/create.py
  geostore/datasets/delete.py
  geostore/environment.py
  geostore/import_dataset/task.py
  geostore/populate_catalog/task.py
  geostore/resources.py
  geostore/update_dataset_catalog/task.py
  infrastructure/constructs/api.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/lds.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/staging.py
  infrastructure/constructs/storage.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/networking_stack.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_cli.py
  tests/test_datasets_endpoint.py
  tests/test_import_asset_file.py
  tests/test_import_dataset.py
  tests/test_notify_slack.py
  tests/test_populate_catalog.py
  tests/test_prefix_non_prod_name.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

docs: Document commands and options
  geostore/cli.py
Due: black, isort, mypy, pylint

feat: Default to production environment
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

feat: Avoid prematurely splitting long help output
  geostore/cli.py
Due: black, isort, mypy, pylint

feat: Call given environment function
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

feat: Bump Node.js version to latest LTS
  .nvmrc
Due: none

feat: Unconditionally save test reports (#1154)
  .github/workflows/test.yml
  .gitignore
Due: none

feat: Build Node.js for Nix shell
  .github/workflows/test.yml
  shell.nix
Due: none

test: Exclude Nix store from coverage (#1157)
  pyproject.toml
Due: pretty-format-toml

fix: Specify Nix path for building (#1156)
  .github/workflows/test.yml
Due: none

feat: Build Node.js for Nix shell (#1155)
  .nvmrc
  shell.nix
Due: none

refactor: Pull out STAC extension prefix constant
  geostore/stac_format.py
Due: black, isort, mypy, pylint

refactor: Rename generator function for clarity
  tests/stac_generators.py
  tests/stac_objects.py
Due: black, isort, mypy, pylint

refactor: Pull out constant for extensions path
  geostore/stac_format.py
Due: black, isort, mypy, pylint

chore: Refresh Node.js package lock file
  package-lock.json
Due: none

refactor: Use utility method to construct JSON byte stream
  tests/test_check_stac_metadata.py
  tests/test_cli.py
  tests/test_import_dataset.py
Due: black, isort, mypy, pylint

feat: Allow switching environment (#1151)
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

feat: use latest LINZ STAC extension prep (#1162)
  geostore/stac_format.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_cli.py
  tests/test_import_dataset.py
Due: black, isort, mypy, pylint

chore: Refresh Node.js package lock file (#1161)
  package-lock.json
Due: none
