Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pretty-format-yaml:
  name: Pretty format YAML
  entry: pretty-format-yaml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

fix: Run test with explicit value
  datalake/backend/tests/test_content_iterator.py
Due: black, isort, mypy, pylint

feat: Validate checksum (#64)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  datalake/backend/processing/Dockerfile
  datalake/backend/processing/assets_model.py
  datalake/backend/processing/check_files_checksums/Dockerfile
  datalake/backend/processing/check_files_checksums/__init__.py
  datalake/backend/processing/check_files_checksums/task.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/tests/test_check_files_checksums.py
  datalake/backend/tests/test_check_files_checksums_logging.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_content_iterator.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
  datalake/constructs/batch_submit_job_task.py
  datalake/constructs/bundled_lambda_function.py
  datalake/constructs/lambda_task.py
  datalake/constructs/task_job_definition.py
  datalake/processing_stack.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

refactor: Turn content properties back into numbers
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/tests/test_content_iterator.py
  datalake/processing_stack.py
Due: black, isort, mypy, pylint

refactor: Avoid double negative in state machine
  datalake/processing_stack.py
Due: black, isort, mypy, pylint

feat: Run exactly one batch job per asset
  datalake/backend/processing/check_files_checksums/task.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/tests/test_check_files_checksums.py
  datalake/backend/tests/test_check_files_checksums_logging.py
  datalake/backend/tests/test_content_iterator.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
  datalake/processing_stack.py
Due: black, isort, mypy, pylint

test: Join tests for checksumming state machine branches
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

test: Enable running tests without setting DEPLOY_ENV
  datalake/backend/endpoints/utils.py
  datalake/backend/processing/assets_model.py
Due: black, isort, mypy, pylint

test: Enable running tests without setting DEPLOY_ENV (#300)
  datalake/backend/endpoints/utils.py
  datalake/backend/processing/assets_model.py
Due: black, isort, mypy, pylint

style: check for invalid names in Python
  .pylintrc
  datalake/backend/endpoints/dataset_versions/create.py
  datalake/backend/endpoints/dataset_versions/entrypoint.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/entrypoint.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/endpoints/utils.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/processing/validation_failure/task.py
  datalake/backend/processing/validation_summary/task.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

style: check for invalid names in Python (#176)
  .pylintrc
  datalake/backend/endpoints/dataset_versions/create.py
  datalake/backend/endpoints/dataset_versions/entrypoint.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/entrypoint.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/endpoints/utils.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/processing/validation_failure/task.py
  datalake/backend/processing/validation_summary/task.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

test: Fix test name
  datalake/backend/tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

docs: Separate paragraphs
  README.md
Due: none

docs: Fix Markdown syntax
  README.md
Due: none

docs: Remove obsolete source code layout documentation
  CODING.md
Due: none

docs: Use consistent formatting
  CODING.md
Due: none

docs: Update software stack
  CODING.md
Due: none

docs: Add document heading
  CODING.md
Due: none

docs: Mention ZenHub
  CODING.md
Due: none

docs: Refresh software development conventions
  CODING.md
Due: none

docs: Merge code review checklist into coding conventions
  CODING.md
Due: none

feat: Use non-root user in Docker
  datalake/backend/processing/Dockerfile
Due: none

feat: Use non-root user in Docker (#307)
  datalake/backend/processing/Dockerfile
Due: none

feat: Dynamic batch job array size (#278)
  datalake/backend/processing/check_files_checksums/task.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/tests/test_check_files_checksums.py
  datalake/backend/tests/test_check_files_checksums_logging.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_content_iterator.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
  datalake/processing_stack.py
Due: black, isort, mypy, pylint

test: Fix test name (#305)
  datalake/backend/tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

refactor: Use proper type for URL reader return value
  datalake/backend/processing/check_stac_metadata/task.py
Due: black, isort, mypy, pylint

fix: Use new STAC assets property name
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_processing_stack.py
Due: black, isort, mypy, pylint

docs: usage for staging bucket permissions
  USAGE.md
Due: none

fix: resource typo
  USAGE.md
Due: none

Update coding documentation (#306)
  CODING.md
  README.md
Due: none

fix: Use new stac assets property name (#313)
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: restructured directory to avoid code duplications
  app.py
  datalake/api_stack.py
  datalake/backend/bundle.bash
  datalake/backend/endpoints/datasets/__init__.py
  datalake/backend/processing/assets_model.py
  datalake/backend/processing/check_files_checksums/task.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/processing/dataset_versions/__init__.py
  datalake/backend/processing/dataset_versions/create.py
  datalake/backend/processing/dataset_versions/entrypoint.py
  datalake/backend/processing/datasets/__init__.py
  datalake/backend/processing/datasets/create.py
  datalake/backend/processing/datasets/delete.py
  datalake/backend/processing/datasets/entrypoint.py
  datalake/backend/processing/datasets/get.py
  datalake/backend/processing/datasets/list.py
  datalake/backend/processing/datasets/update.py
  datalake/backend/processing/model.py
  datalake/backend/processing/utils.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_check_files_checksums.py
  datalake/backend/tests/test_check_files_checksums_logging.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_dataset_versions_endpoint.py
  datalake/backend/tests/test_dataset_versions_endpoint_logging.py
  datalake/backend/tests/test_datasets_endpoint.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/test_storage_bucket.py
  datalake/backend/tests/utils.py
  datalake/processing_stack.py
  datalake/staging_stack.py
  datalake/storage_stack.py
Due: black, isort, mypy, pylint

docs: usage for staging bucket permissions (#320)
  USAGE.md
Due: none

docs: Mention dataset overall structure
  USAGE.md
Due: none

docs: Quote variables
  USAGE.md
Due: none

docs: Simplify pulling apart credentials
  USAGE.md
Due: none

docs: List endpoints
  USAGE.md
Due: none

docs: Document import restrictions
  USAGE.md
Due: none

docs: Tweak usage documentation formatting
  USAGE.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pretty-format-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
