Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 04cf542e423601a418787b8c7d704c3c1317e6d3 # v0.7.2
    hooks:
      - id: shellcheck
        stages: [commit]

  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: 148ec47877499e3d671f6366f9eed812db181b40 # v1.2.0
    hooks:
      - id: nixpkgs-fmt

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

refactor: Rename variable and add timeout for wait
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Correct assertions for links in uploaded catalog
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Align processing test to real world scenario
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: address PR comments
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Remove concept of Dataset STAC catalog in geostore
  geostore/aws_message_attributes.py
  geostore/datasets/create.py
  geostore/populate_catalog/task.py
  geostore/update_dataset_catalog/task.py
  tests/test_cli.py
  tests/test_datasets_endpoint.py
  tests/test_populate_catalog.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

fix: remove unnecessary imports
  geostore/update_dataset_catalog/task.py
Due: black, isort, mypy, pylint

refactor: update processing tests to no longer reference dataset catalog
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Remove concept of Dataset STAC catalog in geostore (#1577)
  geostore/aws_message_attributes.py
  geostore/datasets/create.py
  geostore/populate_catalog/task.py
  geostore/update_dataset_catalog/task.py
  tests/test_cli.py
  tests/test_datasets_endpoint.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

fix: No longer create new directory for each dataset version
  geostore/import_dataset/task.py
Due: black, isort, mypy, pylint

fix: Remove handling of dataset version STAC catalog
  geostore/populate_catalog/task.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: Enhance test coverage
  geostore/populate_catalog/task.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Remove functionality for maintaining dataset catalog
  geostore/populate_catalog/task.py
  geostore/update_dataset_catalog/task.py
Due: black, isort, mypy, pylint

refactor: rebase off other branch
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: correct test setup
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

refactor: Add a wait for child link to be added to catalog
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Refactor processing test
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: update tests to expect single directory
  tests/test_import_dataset.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

fix: enhance test coverage
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: fix populate catalog test diff
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

fix: Remove adding duplicate identical child links to root catalog
  geostore/populate_catalog/task.py
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

refactor: rename lambda to not reference dataset catalog
  USAGE.md
  geostore/step_function_keys.py
  geostore/update_root_catalog/__init__.py
  geostore/update_root_catalog/task.py
  infrastructure/constructs/processing.py
  poetry.lock
  pyproject.toml
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: rename populate catalog test
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

feat: update dataset in place (#1259)
  USAGE.md
  geostore/import_dataset/task.py
  geostore/populate_catalog/task.py
  geostore/step_function_keys.py
  geostore/update_root_catalog/__init__.py
  geostore/update_root_catalog/task.py
  infrastructure/constructs/processing.py
  poetry.lock
  pyproject.toml
  tests/test_import_dataset.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: allow api role to be assumed by anyone in LINZ organization
  cdk.context.json
  infrastructure/constructs/api.py
Due: black, isort, mypy, pylint

refactor: make changes based on PR comments
  USAGE.md
  cdk.context.json
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
Due: black, isort, mypy, pylint

feat: allow api role to be assumed by anyone in LINZ organization (#1610)
  USAGE.md
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
Due: black, isort, mypy, pylint

feat: allow partial dataset upload prep
  geostore/check_stac_metadata/task.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
Due: black, isort, mypy, pylint

feat: allow partial dataset upload prep (#1620)
  geostore/check_stac_metadata/task.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
Due: black, isort, mypy, pylint

docs: add examples for assuming roles from LINZ accounts
  USAGE.md
Due: none

fix: prettier formatting
  USAGE.md
Due: none

docs: make examples clearer
  USAGE.md
Due: none

chore: Remove useless pylint suppressions
  geostore/datasets_model.py
  geostore/step_function.py
  geostore/validation_results_model.py
  geostore/validation_summary/task.py
  infrastructure/constructs/api.py
  pyproject.toml
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset_file.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pylint

chore: Don't run mutation testing on master push
  .github/workflows/mutation-test.yml
Due: none

feat: Add editor configuration
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
  CODING.md
  README.md
  USAGE.md
Due: none

docs: use 3 space indents in USAGE.md
  USAGE.md
Due: none

feat: Add editor configuration (#1630)
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
  CODING.md
  README.md
  USAGE.md
Due: none

docs: remove accidentally added lines
  USAGE.md
Due: none
