Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        stages: [commit]
        types: [bash]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

feat: Specify LINZ STAC submodule branch
  .gitmodules
Due: none

feat: Specify STAC spec submodule branch
  .gitmodules
Due: none

feat: Specify submodule branches (#1004)
  .gitmodules
Due: none

feat: Refine mutation testing (#1002)
  .github/workflows/mutation-test.yml
  backend/check_stac_metadata/task.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_dataset_file.py
  backend/import_metadata_file/task.py
  backend/notify_status_update/task.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/pystac_io_methods.py
  backend/s3.py
  backend/step_function.py
  backend/sts.py
  backend/update_dataset_catalog/task.py
  setup.cfg
Due: black, isort, mypy, pylint

fix: Point to STAC spec versioned paths
  backend/check_stac_metadata/stac_validators.py
Due: black, isort, mypy, pylint

feat: Enable direnv
  .envrc
  README.md
Due: none

feat: Support Nix
  README.md
  shell.nix
Due: none

feat: Make crontab entry compatible with NixOS
  README.md
Due: none

tests: Verify nix-shell invocation
  .github/workflows/test.yml
Due: none

feat: Format Nix files
  .pre-commit-config.yaml
Due: none

chore: Adapt existing setup to NixOS
  activate-dev-env.bash
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: pretty-format-toml

docs: Document IDE use within Nix shell
  README.md
Due: none

feat: Install Pip in Nix shell
  shell.nix
Due: none

feat: Install Poetry belonging to environment package list
  shell.nix
Due: none

feat: Use Cachix cache
  .github/workflows/test.yml
Due: none

feat: Support Nix (#922)
  .envrc
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  activate-dev-env.bash
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  shell.nix
Due: pretty-format-toml

feat: Update Python packages daily
  .github/dependabot.yml
Due: none

fix: Remove copy pasta backslashes
  .github/workflows/mutation-test.yml
Due: none

fix: Remove copy pasta backslashes (#1022)
  .github/workflows/mutation-test.yml
Due: none

feat: Update Python packages daily (#1017)
  .github/dependabot.yml
Due: none

feat: Build Node.js for Nix shell
  .github/workflows/test.yml
  shell.nix
Due: none

refactor: Simplify duplicate asset name test
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: Simplify duplicate asset name test (#1029)
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Bump supported LINZ STAC extension
  .gitmodules
  backend/check_stac_metadata/stac_validators.py
  backend/stac_format.py
  tests/general_generators.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Set up basic IDEA Pytest runner configuration
  .run/pytest in geostore.run.xml
Due: none

feat: Set up basic IDEA Pytest runner configuration (#1032)
  .run/pytest in geostore.run.xml
Due: none

feat: Add offline and infrastructure run configurations
  .run/pytest infrastructure.run.xml
  .run/pytest offline.run.xml
  .run/pytest.run.xml
Due: none

feat: Bump supported LINZ STAC extension (#1021)
  .gitmodules
  backend/check_stac_metadata/stac_validators.py
  backend/stac_format.py
  tests/general_generators.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: Support jsonschema v4
  backend/check_stac_metadata/stac_validators.py
  backend/check_stac_metadata/utils.py
  pyproject.toml
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pretty-format-toml, pylint

docs: Print Nix shell welcome message
  shell.nix
Due: none

docs: Document STAC IDs
  USAGE.md
Due: none

docs: Print Nix shell welcome message (#1034)
  shell.nix
Due: none

feat: Speed up clearing buckets
  clear-s3-buckets.bash
Due: none

feat: Add offline and infrastructure run configurations (#1033)
  .run/pytest infrastructure.run.xml
  .run/pytest offline.run.xml
  .run/pytest.run.xml
Due: none

chore: Avoid duplicate CodeQL runs
  .github/workflows/codeql-analysis.yml
Due: none

docs: Document STAC IDs (#1037)
  USAGE.md
Due: none

feat: Speed up clearing buckets (#1038)
  clear-s3-buckets.bash
Due: none

chore: Avoid duplicate CodeQL runs (#1039)
  .github/workflows/codeql-analysis.yml
Due: none

docs: Fix STAC ID mention
  USAGE.md
Due: none
