Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        stages: [commit]
        types_or: [python, pyi]
        require_serial: true

      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        files: \.nix$
        language: system
        stages: [commit]

      - id: prettier
        name: Prettier
        entry: prettier
        args: [--ignore-unknown, --list-different, --write]
        types: [text]
        language: system
        stages: [commit]

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system
        stages: [commit]

fix: dataset version should only accept catalog.json and collection
  tests/test_processing_stack.py
Due: black, isort, pylint

feat: Check if object exists and is identical in s3 before uploading
  geostore/pystac_io_methods.py
  geostore/s3_utils.py
Due: black, isort, pylint

feat: Add unit tests to check s3 etag
  tests/test_s3_utils.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  geostore/check_stac_metadata/utils.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  .run/pytest infrastructure.run.xml
  .run/pytest offline.run.xml
  .run/pytest.run.xml
  geostore/check_stac_metadata/utils.py
  tests/test_processing_stack.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

fix: dataset version should only accept catalog.json and collection
  geostore/check_stac_metadata/task.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  .run/pytest infrastructure.run.xml
  .run/pytest offline.run.xml
  .run/pytest.run.xml
Due: none

fix: dataset version should only accept catalog.json and collection
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pylint

feat: Use lock file for Poetry installs
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  geostore/Dockerfile
  geostore/bundle.bash
  geostore/poetry.txt
Due: none

feat: Use lock file for Pip installs
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  geostore/Dockerfile
  geostore/bundle.bash
  geostore/pip.txt
Due: none

feat: Use lock file for Wheel install
  geostore/bundle.bash
  geostore/wheel.txt
Due: none

fix: Use full path to requirement files
  geostore/bundle.bash
Due: none

feat: Update new requirements files with Dependabot
  .github/dependabot.yml
Due: none

fix: Fall back to old install method on old commit
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

fix: Use specific setup-node action version
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Use specific upload-artifact action version
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/test.yml
Due: none

fix: Use specific setup-python action version
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Use specific checkout action version
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  .github/workflows/update-license-year.yml
Due: none

fix: Use specific cache action version
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

fix: Use specific CodeQL action versions
  .github/workflows/codeql-analysis.yml
Due: none

fix: rename is_url_start_with_s3 to is_s3_url
  geostore/check_stac_metadata/utils.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  geostore/check.py
  geostore/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pylint

refactor: implement suggestions made in pr #2029
  geostore/pystac_io_methods.py
  geostore/s3_utils.py
  tests/test_s3_utils.py
Due: black, isort, pylint

fix: Use specific action versions (#2036)
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  .github/workflows/update-license-year.yml
Due: none

feat: Use lock file for Pip installs (#1992)
  .github/dependabot.yml
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  geostore/Dockerfile
  geostore/bundle.bash
  geostore/pip.txt
  geostore/poetry.txt
  geostore/wheel.txt
Due: none

feat: Add script to bump Python requirement files
  CODING.md
  generate-requirements-files.bash
  geostore/pip.txt
  shell.nix
Due: nixpkgs-fmt

fix: Allow lambda to access param store
  infrastructure/constructs/processing.py
Due: black, isort, pylint

refactor: Better logging when eTag is unavailable
  geostore/s3_utils.py
  tests/test_s3_utils.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  geostore/check.py
Due: black, isort, pylint

feat: Add script to bump Python requirement files (#2059)
  CODING.md
  generate-requirements-files.bash
  geostore/pip.txt
  shell.nix
Due: nixpkgs-fmt

build: Update copyright years manually for now
  .github/workflows/update-license-year.yml
  CODING.md
Due: none

fix: Remove workflow schedules
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
Due: none

build: Bump Python version to 3.9
  .github/workflows/prod-upgrade-deploy-test.yml
  .python-version
  README.md
  infrastructure/constructs/lambda_config.py
  infrastructure/constructs/lambda_layers/botocore/poetry.lock
  infrastructure/constructs/lambda_layers/botocore/pyproject.toml
  poetry.lock
  pyproject.toml
  shell.nix
Due: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

fix: dataset version should only accept catalog.json and collection
  geostore/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, pylint

refactor: Call head_object instead of get_object
  geostore/s3_utils.py
  tests/test_s3_utils.py
Due: black, isort, pylint
