Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        stages: [commit]
        types: [bash]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

fix: remove unused code
  tests/test_import_status_endpoint.py
Due: black, isort, mypy, pylint

fix: correctly report s3 copy job failures (#901)
  backend/notify_status_update/task.py
  backend/step_function.py
  backend/step_function_keys.py
  infrastructure/constructs/processing.py
  tests/test_import_status_endpoint.py
  tests/test_notify_slack.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
  tests/test_upload_status.py
Due: black, isort, mypy, pylint

chore: Update Python
  .python-version
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

tests: Run offline tests before deployment
  .github/workflows/test.yml
Due: none

refactor: Pull out constant for AWS region name key
  backend/aws_keys.py
  backend/datasets_model.py
  backend/processing_assets_model.py
  backend/validation_results_model.py
  infrastructure/constructs/task_job_definition.py
Due: black, isort, mypy, pylint

docs: Document how to reproduce pipeline non-infrastructure tests
  CODING.md
Due: none

tests: Set up dummy AWS region for any offline test boto3 clients
  .gitignore
  backend/import_dataset/task.py
  tests/aws_profile_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_infrastructure.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_content_iterator.py
  tests/test_content_iterator_infrastructure.py
  tests/test_dataset_versions_endpoint.py
  tests/test_dataset_versions_endpoint_infrastructure.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_dataset_versions_endpoint_logging_infrastructure.py
  tests/test_datasets_endpoint.py
  tests/test_datasets_endpoint_infrastructure.py
  tests/test_import_asset_file.py
  tests/test_import_dataset.py
  tests/test_import_dataset_infrastructure.py
  tests/test_import_dataset_logging.py
  tests/test_import_dataset_logging_infrastructure.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_endpoint_infrastructure.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_notify_slack_infrastructure.py
  tests/test_processing_stack.py
  tests/test_step_function_logging.py
  tests/test_update_dataset_catalog.py
  tests/test_upload_status.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

chore: Ignore temporary `isort` files
  .gitignore
Due: none

feat: use boto3 standard retry mode
  backend/boto3_config.py
  backend/dataset_versions/create.py
  backend/datasets/delete.py
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_metadata_file/task.py
  backend/notify_status_update/task.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/pystac_io_methods.py
  backend/s3.py
  backend/step_function.py
  backend/sts.py
  tests/aws_utils.py
  tests/conftest.py
Due: black, isort, mypy, pylint

feat: use boto3 standard retry mode (#903)
  backend/boto3_config.py
  backend/dataset_versions/create.py
  backend/datasets/delete.py
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_metadata_file/task.py
  backend/notify_status_update/task.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/pystac_io_methods.py
  backend/s3.py
  backend/step_function.py
  backend/sts.py
  tests/aws_utils.py
  tests/conftest.py
Due: black, isort, mypy, pylint

tests: Run offline tests before deployment prep (#902)
  .gitignore
  CODING.md
  backend/aws_keys.py
  backend/datasets_model.py
  backend/processing_assets_model.py
  backend/validation_results_model.py
  infrastructure/constructs/task_job_definition.py
Due: black, isort, mypy, pylint

docs: add definition of done and acceptance criteria to issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

docs: prettier formatting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

docs: clarify non-functionals and remove the word vertical
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

docs: remove the word vertical and add link to CODING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

docs: remove non-functionals from bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: remove "sprint board" task from templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

Add definition of done and acceptance criteria to issue templates (#912)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

docs: Fix readme headings
  README.md
Due: none

docs: Fix readme headings (#921)
  README.md
Due: none

fix: Use latest pystac API
  backend/check_stac_metadata/task.py
  backend/datasets/create.py
  backend/import_dataset/task.py
  backend/populate_catalog/task.py
  backend/pystac_io_methods.py
  backend/s3_utils.py
Due: black, isort, mypy, pylint

feat: Simplify pytest commands
  .github/workflows/test.yml
  README.md
  pyproject.toml
Due: pretty-format-toml

refactor: Use f-strings rather than `format()`
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Delete copy job files in subtests
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Simplify pytest commands (#923)
  .github/workflows/test.yml
  README.md
  pyproject.toml
Due: pretty-format-toml

refactor: Rename variables for clarity
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Pull out payload body
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Merge f-strings
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

tests: Verify imported metadata and asset contents prep (#925)
  tests/test_import_dataset.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

tests: Verify imported metadata and asset contents
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Simplify content checks
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

tests: Verify imported metadata and asset contents (#924)
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: ignore incorrect typing
  backend/datasets/create.py
  backend/populate_catalog/task.py
  backend/pystac_io_methods.py
Due: black, isort, mypy, pylint

feat: Assert type rather than ignoring it
  backend/populate_catalog/task.py
Due: black, isort, mypy, pylint

docs: Simplify prerequisite installation
  README.md
Due: none

chore: Bump Poetry installer checksum
  backend/Dockerfile
Due: none

chore: Remove silencing of Docker commands
  backend/Dockerfile
Due: none

fix: Set Python executable to Python 3
  backend/Dockerfile
Due: none
