Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    stages: [commit]
    types: [python]

  - id: gitlint
    name: gitlint
    entry: gitlint
    args: [--msg-filename]
    language: system
    stages: [commit-msg]

  - id: hadolint
    name: hadolint
    language: docker_image
    entry: hadolint/hadolint hadolint
    types: [dockerfile]

  - id: isort
    name: isort
    entry: isort
    language: system
    stages: [commit]
    types: [python]

  - id: mypy
    name: mypy
    entry: mypy
    args: [--no-incremental]
    language: system
    stages: [commit]
    types: [python]
    require_serial: true

  - id: pretty-format-ini
    name: Pretty format INI
    entry: pretty-format-ini
    args: [--autofix]
    language: system
    stages: [commit]
    types: [ini]

  - id: pretty-format-toml
    name: Pretty format TOML
    entry: pretty-format-toml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [toml]

  - id: pretty-format-yaml
    name: Pretty format YAML
    entry: pretty-format-yaml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [yaml]

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    stages: [commit]
    types: [python]

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    stages: [commit]
    types: [bash]

fix: fix non infrastructure tests failing
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
Due: black, isort, mypy, pylint

feat: get import validation status (#409)
  app.py
  backend/import_status/get.py
  infrastructure/api_stack.py
  infrastructure/processing_stack.py
  poetry.lock
  pyproject.toml
  tests/aws_utils.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: Move validation result factory up for reuse
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  backend/validation_results_model.py
Due: black, isort, mypy, pylint

feat: Save successful checksum result to DB
  backend/check.py
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/utils.py
  backend/validation_results_model.py
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

test: Add guard for not copying dataset files on failure
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Return 1 if processing asset is missing
  backend/check_files_checksums/task.py
  tests/test_check_files_checksums_logging.py
Due: black, isort, mypy, pylint

feat: Save unsuccessful checksum result to DB
  backend/check_files_checksums/task.py
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

feat: Ensure validation summary job gets dataset ID
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  backend/validation_summary/task.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  tests/test_validation_summary.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

feat: Ensure validation summary job gets version ID
  backend/validation_summary/task.py
  tests/test_validation_summary.py
Due: black, isort, mypy, pylint

feat: Add script to clear S3 buckets (#407)
  clear-s3-buckets.bash
Due: none

feat: Return success: false if validation failures exist
  backend/validation_summary/task.py
  infrastructure/processing_stack.py
  tests/internal_generators.py
  tests/test_processing_stack.py
  tests/test_validation_summary.py
Due: black, isort, mypy, pylint

feat: Implement validation summary task (#401)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  backend/check.py
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  backend/validation_results_model.py
  backend/validation_summary/task.py
  infrastructure/processing_stack.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  tests/internal_generators.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_processing_stack.py
  tests/test_validation_summary.py
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

feat: Log validation summary event
  backend/validation_summary/task.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

feat: Log validation summary result
  backend/validation_summary/task.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

feat: Add pull request template
  .github/pull_request_template.md
Due: none

feat: Don't install AWS CLI during CI
  .github/workflows/test.yml
Due: pretty-format-yaml

feat: Implement validation summary task logging (#410)
  backend/validation_summary/task.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

fix: Use "assets" property instead of "item_assets"
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

chore: Don't install AWS CLI OS package (#415)
  .github/workflows/test.yml
Due: pretty-format-yaml

feat: Add pull request template (#414)
  .github/pull_request_template.md
Due: none

refactor: Don't import both core and core.*
  infrastructure/api_stack.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/batch_submit_job_task.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_task.py
  infrastructure/constructs/table.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/networking_stack.py
  infrastructure/processing_stack.py
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
  infrastructure/users_stack.py
Due: black, isort, mypy, pylint

refactor: Remove unnecessary f-strings
  backend/datasets/create.py
  backend/datasets/get.py
  backend/datasets/update.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/lambda_endpoint.py
Due: black, isort, mypy, pylint

refactor: Remove unnecessary f-strings (#417)
  backend/datasets/create.py
  backend/datasets/get.py
  backend/datasets/update.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/lambda_endpoint.py
Due: black, isort, mypy, pylint

refactor: Don't import both core and core.* (#416)
  infrastructure/api_stack.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/batch_submit_job_task.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_task.py
  infrastructure/constructs/table.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/networking_stack.py
  infrastructure/processing_stack.py
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
  infrastructure/users_stack.py
Due: black, isort, mypy, pylint

refactor: Simplify pyproject.toml
  pyproject.toml
Due: pretty-format-toml

fix: Use "assets" property instead of "item_assets" (#413)
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat(infra): automatically generated AWS resource names
  app.py
  backend/dataset_model.py
  backend/dataset_versions/create.py
  backend/import_dataset/task.py
  backend/parameter_store.py
  backend/processing_assets_model.py
  backend/resources.py
  backend/validation_results_model.py
  infrastructure/constructs/table.py
  infrastructure/processing_stack.py
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
  tests/conftest.py
  tests/test_check_stac_metadata.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pylint

refactor: Simplify pyproject.toml (#420)
  pyproject.toml
Due: pretty-format-toml

refactor: addressed PR comments
  backend/import_status/get.py
Due: black, isort, mypy, pylint

fix: Report the correct status of step function
  backend/import_status/get.py
Due: black, isort, mypy, pylint

fix: fixed broken status reporting and added test
  backend/import_status/get.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: return validation outcome value rather then enum
  backend/import_status/get.py
Due: black, isort, mypy, pylint

chore: Update pynamodb
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/utils.py
  backend/dataset_model.py
  backend/datasets/create.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  poetry.lock
  pyproject.toml
  tests/aws_utils.py
  tests/general_generators.py
  tests/test_check_files_checksums_logging.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: report correct status of step function when validation fails (#419)
  backend/import_status/get.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

chore: Update pynamodb (#425)
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/utils.py
  backend/dataset_model.py
  backend/datasets/create.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  poetry.lock
  pyproject.toml
  tests/aws_utils.py
  tests/general_generators.py
  tests/test_check_files_checksums_logging.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat(infra): use SAML identity provider for users auth
  .github/workflows/deploy.yml
  README.md
  USAGE.md
  infrastructure/users_stack.py
Due: black, isort, mypy, pretty-format-yaml, pylint

refactor: Change constants names to uppercase
  backend/dataset_versions/create.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Reuse existing `get_param` function
  backend/dataset_versions/create.py
Due: black, isort, mypy, pylint

refactor: Pull parameter names into an enum
  backend/dataset_versions/create.py
  backend/import_dataset/task.py
  backend/parameter_store.py
  infrastructure/processing_stack.py
  infrastructure/storage_stack.py
  tests/test_processing_stack.py
  tests/test_storage_bucket.py
Due: black, isort, mypy, pylint

refactor: Create SSM client and logger in parameter store
  backend/dataset_versions/create.py
  backend/import_dataset/task.py
  backend/parameter_store.py
Due: black, isort, mypy, pylint
