Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    stages: [commit]
    types: [python]

  - id: gitlint
    name: gitlint
    entry: gitlint
    args: [--msg-filename]
    language: system
    stages: [commit-msg]

  - id: hadolint
    name: hadolint
    language: docker_image
    entry: hadolint/hadolint hadolint
    types: [dockerfile]

  - id: isort
    name: isort
    entry: isort
    language: system
    stages: [commit]
    types: [python]

  - id: mypy
    name: mypy
    entry: mypy
    args: [--no-incremental]
    language: system
    stages: [commit]
    types: [python]
    require_serial: true

  - id: pretty-format-ini
    name: Pretty format INI
    entry: pretty-format-ini
    args: [--autofix]
    language: system
    stages: [commit]
    types: [ini]

  - id: pretty-format-toml
    name: Pretty format TOML
    entry: pretty-format-toml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [toml]

  - id: pretty-format-yaml
    name: Pretty format YAML
    entry: pretty-format-yaml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [yaml]

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    stages: [commit]
    types: [python]

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    stages: [commit]
    types: [bash]

docs: Add summary of import status end point (#471)
  USAGE.md
Due: none

fix: Strip file prefixes when copying
  backend/import_dataset/task.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

test: Simplify imports
  tests/test_validation_summary.py
Due: black, isort, mypy, pylint

refactor: Pull logger into STAC metadata utils
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

ci: use different values for SAML Identity provider for different envs
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: Strip file prefixes when copying (#456)
  backend/import_dataset/task.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Auto-generate AWS resource names prep (#472)
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_logging.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_validation_summary.py
Due: black, isort, mypy, pylint

feat: increase batch array size to maximum amount
  backend/content_iterator/task.py
Due: black, isort, mypy, pylint

fix: address PR comments
  backend/content_iterator/task.py
Due: black, isort, mypy, pylint

fix: address PR comments
  tests/aws_utils.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

feat: increase batch array size to maximum amount (#474)
  backend/content_iterator/task.py
  tests/aws_utils.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

feat: Parameterise processing assets table name
  backend/check_files_checksums/utils.py
  backend/check_stac_metadata/utils.py
  backend/content_iterator/task.py
  backend/import_dataset/task.py
  backend/parameter_store.py
  backend/processing_assets_model.py
  backend/resources.py
  infrastructure/constructs/parameter.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/processing_stack.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

refactor: Pull out logger constant
  backend/import_dataset/task.py
Due: black, isort, mypy, pylint

refactor: Reference generic source rather than staging bucket
  USAGE.md
  backend/import_dataset/task.py
Due: black, isort, mypy, pylint

refactor: Pull out constant used in test
  backend/import_dataset/task.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
Due: black, isort, mypy, pylint

docs: Expand software context
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: Put only instructions in comments
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: Remove extraneous characters
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: Use second-level headings across the board
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: Clarify sample dataset requirement
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: Expand on reproduction
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: Add some spacing
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

refactor: Misc (#475)
  USAGE.md
  backend/import_dataset/task.py
  tests/test_import_dataset.py
  tests/test_import_dataset_logging.py
Due: black, isort, mypy, pylint

docs: Cleanup bug report template (#476)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

feat: Parameterise processing assets table name (#477)
  backend/check_files_checksums/utils.py
  backend/check_stac_metadata/utils.py
  backend/content_iterator/task.py
  backend/import_dataset/task.py
  backend/parameter_store.py
  backend/processing_assets_model.py
  backend/resources.py
  infrastructure/constructs/parameter.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/processing_stack.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

refactor: Inline single use constant
  app.py
Due: black, isort, mypy, pylint

refactor: Use `core.Environment` for stack environments
  app.py
Due: black, isort, mypy, pylint

refactor: Import parts of core
  app.py
Due: black, isort, mypy, pylint

refactor: Use relative imports within subdirectory
  infrastructure/api_stack.py
Due: black, isort, mypy, pylint

refactor: Pluralise dataset model
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/datasets_model.py
  infrastructure/storage_stack.py
  tests/aws_utils.py
  tests/test_dataset_versions_endpoint_logging.py
Due: black, isort, mypy, pylint

refactor: Use lowercase space separated parameter IDs
  infrastructure/processing_stack.py
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pylint

refactor: Make next_item minimum the same as the multiple
  backend/content_iterator/task.py
Due: black, isort, mypy, pylint

refactor: Simplify parameter descriptions
  infrastructure/processing_stack.py
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pylint

refactor: Misc (#479)
  app.py
  backend/content_iterator/task.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/datasets_model.py
  infrastructure/api_stack.py
  infrastructure/processing_stack.py
  infrastructure/staging_stack.py
  infrastructure/storage_stack.py
  tests/aws_utils.py
  tests/test_dataset_versions_endpoint_logging.py
Due: black, isort, mypy, pylint

docs: USAGE file cleanup
  USAGE.md
Due: none

feat: Parameterise datasets table name
  app.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/datasets_model.py
  backend/parameter_store.py
  backend/resources.py
  infrastructure/api_stack.py
  infrastructure/storage_stack.py
  tests/aws_utils.py
  tests/test_dataset_versions_endpoint_logging.py
Due: black, isort, mypy, pylint

feat: Parameterise datasets table name (#483)
  app.py
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/datasets/get.py
  backend/datasets/list.py
  backend/datasets/update.py
  backend/datasets_model.py
  backend/parameter_store.py
  backend/resources.py
  infrastructure/api_stack.py
  infrastructure/storage_stack.py
  tests/aws_utils.py
  tests/test_dataset_versions_endpoint_logging.py
Due: black, isort, mypy, pylint

feat: Parameterise validation results table name
  app.py
  backend/import_status/get.py
  backend/parameter_store.py
  backend/resources.py
  backend/validation_results_model.py
  backend/validation_summary/task.py
  infrastructure/api_stack.py
  infrastructure/common.py
  infrastructure/constructs/parameter.py
  infrastructure/constructs/table.py
  infrastructure/processing_stack.py
  infrastructure/storage_stack.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_validation_summary.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

feat: Parameterise validation results table name (#485)
  app.py
  backend/import_status/get.py
  backend/parameter_store.py
  backend/resources.py
  backend/validation_results_model.py
  backend/validation_summary/task.py
  infrastructure/api_stack.py
  infrastructure/common.py
  infrastructure/constructs/parameter.py
  infrastructure/constructs/table.py
  infrastructure/processing_stack.py
  infrastructure/storage_stack.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_validation_summary.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint
