Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        stages: [commit]
        types_or: [python, pyi]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]
        exclude: ^.*\.lock

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 04cf542e423601a418787b8c7d704c3c1317e6d3 # v0.7.2
    hooks:
      - id: shellcheck
        stages: [commit]
      # TODO: Kill if https://github.com/pre-commit/identify/issues/350 is fixed
      - id: shellcheck
        files: ^\.envrc$
        types: []
        stages: [commit]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: 8ff64568b1048dd46f5a286f81b16899fe740f64 # v3.5.1-1
    hooks:
      - id: shfmt
        stages: [commit]
      # TODO: Kill if https://github.com/pre-commit/identify/issues/350 is fixed
      - id: shfmt
        files: ^\.envrc$
        types: []
        stages: [commit]

  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: 148ec47877499e3d671f6366f9eed812db181b40 # v1.2.0
    hooks:
      - id: nixpkgs-fmt
        stages: [commit]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

fix: Mark insecure hash use as such (#2387)
  geostore/s3_utils.py
Due: black, isort, pylint

chore: Re-init lorri (#2416)
  .envrc
  .pre-commit-config.yaml
Due: none

feat: Format Nix files using alejandra
  .pre-commit-config.yaml
  shell.nix
Due: none

build: Bump CI runner OS version from 20.04 to 22.04
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  .github/workflows/update-license-year.yml
Due: none

refactor: Replace deprecated distutils with packaging
  geostore/check_stac_metadata/stac_validators.py
  poetry.lock
  pyproject.toml
Due: black, isort, pretty-format-toml, pylint

build: Bump CI runner OS version from 20.04 to 22.04 (#2425)
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  .github/workflows/update-license-year.yml
Due: none

refactor: Replace deprecated distutils with packaging (#2426)
  geostore/check_stac_metadata/stac_validators.py
  poetry.lock
  pyproject.toml
Due: black, isort, pretty-format-toml, pylint

refactor: Move development dependencies into Nix shell
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  shell.nix
Due: pretty-format-toml

fix: Remove state machine logging
  infrastructure/constructs/processing.py
Due: black, isort, pylint

build: Bump the Poetry dependencies
  geostore/poetry.txt
Due: none

fix: Remove state machine logging (#2456)
  infrastructure/constructs/processing.py
Due: black, isort, pylint

refactor: Remove botocore lambda layer
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/import_file_function.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_layers.py
  infrastructure/constructs/lambda_layers/botocore/.gitignore
  infrastructure/constructs/lambda_layers/botocore/poetry.lock
  infrastructure/constructs/lambda_layers/botocore/pyproject.toml
  infrastructure/constructs/lambda_task.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/processing.py
Due: black, isort, pretty-format-toml, pylint

refactor: Change dev dependencies into new format
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

refactor: Change dev dependencies into new format (#2502)
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

refactor: Specify dependency versions in pyproject.toml
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

chore: Exclude irrelevant files from package
  pyproject.toml
Due: pretty-format-toml

refactor: Specify dependency versions in pyproject.toml (#2505)
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

refactor: Use a single source for the Python version
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  .python-version
  README.md
  activate-dev-env.bash
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: pretty-format-toml

feat: Run `twine check` on package files
  .github/workflows/package-cli.yml
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

test: Smoke test for Nix shell
  .github/workflows/test.yml
Due: none

chore: Exclude irrelevant files from package (#2506)
  pyproject.toml
Due: pretty-format-toml

test: Smoke test for Nix shell (#2507)
  .github/workflows/test.yml
Due: none

refactor: Rename directory variable to be more specific
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/import_file_function.py
  infrastructure/constructs/lambda_task.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/processing.py
Due: black, isort, pylint

refactor: Rename directory variable to be more specific (#2515)
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/import_file_function.py
  infrastructure/constructs/lambda_task.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: Clear s3 bucket if GitHub Action job is cancelled
  .github/workflows/test.yml
Due: none

fix: Clear s3 bucket if GitHub Action job is cancelled (#2567)
  .github/workflows/test.yml
Due: none

fix: Use hatchling to build filelock
  shell.nix
Due: none

build: Bump Poetry lockfile version
  poetry.lock
Due: none

build: Bump Poetry lockfile version (#2571)
  poetry.lock
Due: none

build: Bump nixpkgs
  nixpkgs.json
  shell.nix
Due: none

build: Bump nixpkgs (#2570)
  nixpkgs.json
  shell.nix
Due: none

feat: Check file names
  .pre-commit-config.yaml
Due: none

refactor: Replace space with hyphen in filenames
  .run/pytest-infrastructure.run.xml
  .run/pytest-offline.run.xml
Due: none

feat: Check paths (#2589)
  .pre-commit-config.yaml
  .run/pytest-infrastructure.run.xml
  .run/pytest-offline.run.xml
Due: none

refactor: Move Python library packaging out of lambda container
  .gitignore
  geostore/bundle.bash
  infrastructure/constructs/bundled_code.py
Due: black, isort, pylint

refactor: Move Python library packaging out of lambda container (#2516)
  .gitignore
  geostore/bundle.bash
  infrastructure/constructs/bundled_code.py
Due: black, isort, pylint

refactor: Replace pointless class with inner function
  geostore/import_dataset/task.py
Due: black, isort, pylint

refactor: Use dataclasses for simple containers
  geostore/datasets_model.py
  geostore/processing_assets_model.py
  geostore/s3_utils.py
  geostore/validation_results_model.py
  tests/aws_utils.py
Due: black, isort, pylint

refactor: Use class variable instead of lru_cache
  infrastructure/application_stack.py
  infrastructure/constructs/bundled_code.py
Due: black, isort, pylint

refactor: Avoid silencing "too few public methods" (#2599)
  geostore/datasets_model.py
  geostore/import_dataset/task.py
  geostore/processing_assets_model.py
  geostore/s3_utils.py
  geostore/validation_results_model.py
  tests/aws_utils.py
Due: black, isort, pylint
