Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        stages: [commit]
        types: [bash]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

chore: Throw away
  poetry.lock
Due: none

feat: Use official ShellCheck pre-commit hook
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

fix: Get Poetry working after updates (#955)
  backend/Dockerfile
Due: none

feat: Use official ShellCheck pre-commit hook (#956)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

chore: Bump Poetry installer checksum
  backend/Dockerfile
Due: none

chore: Bump Poetry installer checksum (#973)
  backend/Dockerfile
Due: none

fix: Use correct Python version for virtualenv
  reset-dev-env.bash
Due: none

fix: Use correct Python version for virtualenv (#974)
  reset-dev-env.bash
Due: none

chore: Don't install superfluous Python packages
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  backend/Dockerfile
  reset-dev-env.bash
Due: none

fix: Specify encoding when opening text file
  backend/check_stac_metadata/stac_validators.py
Due: black, isort, mypy, pylint

docs: Simplify prerequisite installation (#946)
  README.md
Due: none

chore: Don't install superfluous Python packages (#977)
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  backend/Dockerfile
  reset-dev-env.bash
Due: none

feat: Add dev env activation script
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  .nvmrc
  README.md
  activate-dev-env.bash
Due: none

feat: Add dev env activation script (#976)
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  .nvmrc
  README.md
  activate-dev-env.bash
Due: none

refactor: Get type once
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

tests: Verify validity of all minimal STAC objects
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: Verify validity of all minimal STAC objects (#979)
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

chore: Bump Poetry installer checksum (#986)
  backend/Dockerfile
Due: none

chore: Order submodules alphabetically
  .gitmodules
Due: none

docs: Mention how deployment is necessary for testing
  README.md
Due: none

feat: Validate LINZ extension prep (#987)
  .gitmodules
  README.md
Due: none

refactor: Run non-infrastructure tests before configuring AWS
  .github/workflows/test.yml
Due: none

refactor: Pull out method to create hash key
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/task.py
  backend/step_function.py
  tests/dynamodb_generators.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

feat: Throw exception when dataset has no assets
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: Pull hash key into constructor
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

refactor: Use idiomatic way to pass configuration
  .github/workflows/test.yml
Due: none

refactor: Pull out method to create hash key (#991)
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/task.py
  backend/step_function.py
  tests/dynamodb_generators.py
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

feat: Add Mutmut support
  .gitignore
  poetry.lock
  pyproject.toml
  setup.cfg
Due: pretty-format-toml

refactor: Use idiomatic way to pass configuration (#994)
  .github/workflows/test.yml
Due: none

feat: Throw exception when dataset has no assets (#992)
  backend/check_stac_metadata/task.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

feat: Introduce mutation testing (#993)
  .gitignore
  poetry.lock
  pyproject.toml
  setup.cfg
Due: pretty-format-toml

feat: Use LINZ STAC extension as top-level collection schema
  .gitmodules
  backend/check_stac_metadata/stac_validators.py
  backend/stac_format.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Validate LINZ extension (#989)
  .gitmodules
  backend/check_stac_metadata/stac_validators.py
  backend/stac_format.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

chore: Mark types as not suitable for mutation testing
  backend/dataset_versions/create.py
  backend/datasets/create.py
  backend/datasets/delete.py
  backend/import_asset_file/task.py
  backend/import_dataset/task.py
  backend/import_dataset_file.py
  backend/import_metadata_file/task.py
  backend/notify_status_update/task.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/pystac_io_methods.py
  backend/s3.py
  backend/step_function.py
  backend/sts.py
  backend/update_dataset_catalog/task.py
Due: black, isort, mypy, pylint

tests: Don't check infrastructure while mutation testing
  setup.cfg
Due: none

chore: Remove executable flag from Python file
  backend/check_stac_metadata/task.py
Due: black, isort, mypy, pylint

feat: Add mutation testing manual/master job
  .github/workflows/mutation-test.yml
Due: none

fix: Propagate error message to end user
  backend/check.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: Propagate error message to end user (#1003)
  backend/check.py
  backend/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint
