Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    stages: [commit]
    types: [python]

  - id: gitlint
    name: gitlint
    entry: gitlint
    args: [--msg-filename]
    language: system
    stages: [commit-msg]

  - id: hadolint
    name: hadolint
    language: docker_image
    entry: hadolint/hadolint hadolint
    types: [dockerfile]

  - id: isort
    name: isort
    entry: isort
    language: system
    stages: [commit]
    types: [python]

  - id: mypy
    name: mypy
    entry: mypy
    args: [--no-incremental]
    language: system
    stages: [commit]
    types: [python]
    require_serial: true

  - id: pretty-format-ini
    name: Pretty format INI
    entry: pretty-format-ini
    args: [--autofix]
    language: system
    stages: [commit]
    types: [ini]

  - id: pretty-format-toml
    name: Pretty format TOML
    entry: pretty-format-toml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [toml]

  - id: pretty-format-yaml
    name: Pretty format YAML
    entry: pretty-format-yaml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [yaml]

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    stages: [commit]
    types: [python]

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    stages: [commit]
    types: [bash]

fix: Lock hadolint version (#582)
  .pre-commit-config.yaml
Due: pretty-format-yaml

fix: Grant access to parameter needed for dataset deletion
  app.py
  infrastructure/api_stack.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

refactor: Move validation results table to storage stack
  app.py
  infrastructure/processing_stack.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pylint

fix: Grant access to parameter needed for dataset deletion (#583)
  app.py
  infrastructure/api_stack.py
  tests/test_datasets_endpoint.py
Due: black, isort, mypy, pylint

refactor: Move validation results table to storage stack (#585)
  app.py
  infrastructure/processing_stack.py
  infrastructure/storage_stack.py
Due: black, isort, mypy, pylint

fix: modify the content iterator to pass table name parameters to batch
  backend/content_iterator/task.py
  infrastructure/processing_stack.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

fix: fixed failing offline tests
  backend/check_files_checksums/task.py
  backend/processing_assets_model.py
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

refactor: modify batch tasks to not call ssm so much
  backend/check_files_checksums/task.py
  backend/check_files_checksums/utils.py
  backend/processing_assets_model.py
  backend/validation_results_model.py
  infrastructure/processing_stack.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
Due: black, isort, mypy, pylint

fix: removed get param call from assets model
  backend/processing_assets_model.py
Due: black, isort, mypy, pylint

refactor: remove get_param call from check stac step
  backend/check_stac_metadata/task.py
Due: black, isort, mypy, pylint

fix: fixed json path
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

fix: fixed enum used in test class
  tests/aws_utils.py
Due: black, isort, mypy, pylint

fix: rename variables and fix mypy issue
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/task.py
  backend/processing_assets_model.py
  backend/validation_results_model.py
  infrastructure/processing_stack.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
Due: black, isort, mypy, pylint

refactor: remove ssm parameter access that is no longer needed
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

refactor: make table name in validation facotry mandatory
  backend/check_files_checksums/task.py
  backend/check_stac_metadata/task.py
  backend/validation_results_model.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: revert content iterator
  backend/content_iterator/task.py
  tests/test_check_files_checksums_logging.py
Due: black, isort, mypy, pylint

fix: fixed broken test
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: define constants at top of file
  backend/content_iterator/task.py
Due: black, isort, mypy, pylint

fix: fixed merge conflicts
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

fix: Set validation failed if there are errors
  backend/import_status/get.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

refactor: Demote fields to variables
  infrastructure/networking_stack.py
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

refactor: Demote fields to variables (#584)
  infrastructure/networking_stack.py
  infrastructure/processing_stack.py
Due: black, isort, mypy, pylint

refactor: Add botocore Lambda layer
  .github/dependabot.yml
  app.py
  backend/bundle.bash
  infrastructure/api_stack.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/import_file_function.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_task.py
  infrastructure/lambda_layers/botocore/poetry.lock
  infrastructure/lambda_layers/botocore/pyproject.toml
  infrastructure/lambda_layers_stack.py
  infrastructure/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

fix: ssm throttling issues (#569)
  backend/check_files_checksums/task.py
  backend/check_files_checksums/utils.py
  backend/check_stac_metadata/task.py
  backend/content_iterator/task.py
  backend/processing_assets_model.py
  backend/validation_results_model.py
  infrastructure/processing_stack.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_content_iterator.py
Due: black, isort, mypy, pylint

refactor: Add botocore Lambda layer (#579)
  .github/dependabot.yml
  app.py
  backend/bundle.bash
  infrastructure/api_stack.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/import_file_function.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_task.py
  infrastructure/lambda_layers/botocore/poetry.lock
  infrastructure/lambda_layers/botocore/pyproject.toml
  infrastructure/lambda_layers_stack.py
  infrastructure/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

feat: less verbose AWS Batch jobs and Lambda functions bundling
  backend/Dockerfile
  backend/bundle.bash
Due: none

feat: Reintroduce YAML formatter
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
Due: pretty-format-yaml

chore: Update license date
  LICENSE
Due: none

fix: Set validation failed if there are errors (#587)
  backend/import_status/get.py
  tests/test_import_status_endpoint.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

docs: Document vulnerability notification setup
  README.md
Due: none

chore: Update license date (#597)
  LICENSE
Due: none

feat: Reintroduce YAML formatter (#596)
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
Due: pretty-format-yaml

feat: Update license date automatically
  .github/workflows/update-license-year.yml
Due: pretty-format-yaml

feat: Update license date automatically (#598)
  .github/workflows/update-license-year.yml
Due: pretty-format-yaml

docs: Document vulnerability notification setup (#599)
  README.md
Due: none

fix: Scan Dockerfile in backend directory
  .github/dependabot.yml
Due: pretty-format-yaml

fix: Scan Dockerfile in backend directory (#612)
  .github/dependabot.yml
Due: pretty-format-yaml

feat: Use prettier to format files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .github/workflows/update-license-year.yml
  .hadolint.yaml
  .pre-commit-config.yaml
  CODING.md
  README.md
  USAGE.md
  package.json
Due: pretty-format-yaml

feat: Use prettier to format files (#603)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .github/workflows/update-license-year.yml
  .hadolint.yaml
  .pre-commit-config.yaml
  CODING.md
  README.md
  USAGE.md
  package.json
Due: pretty-format-yaml
