Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  stages:
  - commit

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

feat: Inject commit ID
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/dataset_versions/create.py
  geostore/datasets/entrypoint.py
  geostore/import_dataset/task.py
  geostore/import_dataset_file.py
  geostore/import_status/get.py
  geostore/logging_keys.py
  geostore/notify_status_update/task.py
  geostore/populate_catalog/task.py
  geostore/s3_utils.py
  geostore/step_function.py
  geostore/update_root_catalog/task.py
  geostore/upload_status/task.py
  geostore/validation_summary/task.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_s3_utils.py
  tests/test_step_function.py
  tests/test_step_function_logging.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, pylint

feat: Inject commit id
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/storage.py
Due: black, isort, pylint

feat: Inject commit id
  tests/test_import_dataset_logging.py
Due: black, isort, pylint

fix: Prevent metadata duplication
  geostore/populate_catalog/task.py
Due: black, isort, pylint

fix: Modify the root URL
  geostore/import_metadata_file/task.py
Due: black, isort, pylint

fix: grant populate_catalog perm to access git_commit
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: grant import_dataset perm to access git_commit
  infrastructure/constructs/processing.py
Due: black, isort, pylint

test: Add test to ensure root href links update
  tests/test_import_metadata_file.py
Due: black, isort, pylint

fix: Update href and title key
  tests/test_import_metadata_file.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
Due: black, isort, pylint

refactor: Raise NotImplementedError
  geostore/populate_catalog/task.py
Due: black, isort, pylint

fix: grant permission to import_asset and import_meta
  infrastructure/constructs/processing.py
Due: black, isort, pylint

fix: stop not infrastructure test from run twice
  .github/workflows/test.yml
Due: none

feat: #1810 logging inject commit (#1914)
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/dataset_versions/create.py
  geostore/datasets/entrypoint.py
  geostore/import_dataset/task.py
  geostore/import_dataset_file.py
  geostore/import_status/get.py
  geostore/logging_keys.py
  geostore/notify_status_update/task.py
  geostore/parameter_store.py
  geostore/populate_catalog/task.py
  geostore/s3_utils.py
  geostore/step_function.py
  geostore/update_root_catalog/task.py
  geostore/upload_status/task.py
  geostore/validation_summary/task.py
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/storage.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_s3_utils.py
  tests/test_step_function.py
  tests/test_step_function_logging.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, pylint

fix: stop not infrastructure test from run twice (#1958)
  .github/workflows/test.yml
Due: none

feat: Increase SQS retention period
  infrastructure/constructs/processing.py
Due: black, isort, pylint

feat: Add SQS arn to parameter store
  geostore/parameter_store.py
  infrastructure/constructs/processing.py
Due: black, isort, pylint

feat: Add Monitor to cdk stack incl lambda function
  geostore/monitor_catalog_queue/__init__.py
  geostore/monitor_catalog_queue/task.py
  geostore/resources.py
  infrastructure/application_stack.py
  infrastructure/constructs/monitor.py
Due: black, isort, pylint

feat: Upgrade GitHub actions to ubuntu 22.04
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/mutation-test.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  .github/workflows/update-license-year.yml
Due: none

fix: Test
  .github/workflows/test.yml
Due: none

fix: Use a writeable cache directory
  infrastructure/constructs/lambda_layers.py
Due: black, isort, pylint

feat: Allow 100 Dependabot PRs for main Python dependencies
  .github/dependabot.yml
Due: none

feat: Enable AWS connection in JetBrains IDEs
  .run/pytest infrastructure.run.xml
  .run/pytest offline.run.xml
  .run/pytest.run.xml
Due: none

fix: Update aws lambda-python-verion
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

fix: Update aws-cdk
  package-lock.json
Due: none

fix: Update poetry aws-cdk.aws-lambda-python-alpha@^2.41.0-alpha.0
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

fix: Regenerate lock file with newer Poetry
  poetry.lock
Due: none

refactor: Unlock aws-cdk.aws-lambda-python-alpha version
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

fix: Downgrade jsonschema
  poetry.lock
Due: none

fix: Make aws-lambda-python-alpha optional
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

build: Bump nixpkgs
  .nvmrc
  shell.nix
Due: nixpkgs-fmt

fix: Prevent metadata duplication (#1915)
  geostore/import_metadata_file/task.py
  geostore/populate_catalog/task.py
  tests/test_import_metadata_file.py
  tests/test_populate_catalog.py
  tests/test_processing_stack.py
Due: black, isort, pylint

build: Bump nixpkgs (#2014)
  .nvmrc
  shell.nix
Due: nixpkgs-fmt

fix: Make aws-lambda-python-alpha optional (#2010)
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

feat: Allow 100 Dependabot PRs for main Python dependencies (#2001)
  .github/dependabot.yml
Due: none

feat: Enable AWS connection in JetBrains IDEs (#2006)
  .run/pytest infrastructure.run.xml
  .run/pytest offline.run.xml
  .run/pytest.run.xml
Due: none

fix: dataset version should only accept catalog.json and collection
  geostore/check.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  infrastructure/constructs/processing.py
  poetry.lock
  pyproject.toml
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pretty-format-toml, pylint

fix: dataset version should only accept catalog.json and collection
  geostore/check_stac_metadata/utils.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  tests/test_processing_stack.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  nixpkgs-fmt: any of: \.nix$
  pretty-format-toml: any of: \.toml$
  pylint: any of: \.py$
