Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

fix: Avoid indirectly importing ulid in CLI
  geostore/cli.py
  geostore/dataset_keys.py
  geostore/dataset_properties.py
  geostore/datasets/create.py
  geostore/datasets_model.py
  pyproject.toml
  tests/stac_generators.py
  tests/test_cli.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: Avoid indirectly importing ulid in CLI (#1164)
  geostore/cli.py
  geostore/dataset_keys.py
  geostore/dataset_properties.py
  geostore/datasets/create.py
  geostore/datasets_model.py
  pyproject.toml
  tests/stac_generators.py
  tests/test_cli.py
  tests/test_datasets_endpoint.py
  tests/test_import_dataset.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Use latest LINZ STAC extension
  .gitmodules
  geostore/check_stac_metadata/stac_validators.py
  geostore/stac_format.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Use latest LINZ STAC extension (#1160)
  .gitmodules
  geostore/check_stac_metadata/stac_validators.py
  geostore/stac_format.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pylint

chore: Remove unused constants
  tests/aws_utils.py
Due: black, isort, mypy, pylint

docs: Fix version creation docs
  USAGE.md
Due: none

feat: Get dataset version status via CLI
  USAGE.md
  geostore/cli.py
  tests/test_cli.py
Due: black, isort, mypy, pylint

feat: Get dataset version status via CLI
  USAGE.md
  geostore/cli.py
  pyproject.toml
  tests/test_cli.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Get dataset version status via CLI (#1168)
  USAGE.md
  geostore/cli.py
  pyproject.toml
  tests/aws_utils.py
  tests/test_cli.py
Due: black, isort, mypy, pretty-format-toml, pylint

chore: Sort packages
  pyproject.toml
Due: pretty-format-toml

feat: Add CLI --version flag
  geostore/cli.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: Show how to list datasets properly
  USAGE.md
Due: none

fix: Show correct output format of `geostore dataset create`
  USAGE.md
Due: none

docs: Merge CLI and API docs
  USAGE.md
Due: none

docs: Merge CLI and API docs (#1171)
  USAGE.md
Due: none

fix: clean up assert_has_calls usages
  geostore/check_stac_metadata/utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_parameter_store.py
  tests/test_step_function_logging.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

fix: modified parameters being passed to linz logger
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/dataset_versions/create.py
  geostore/datasets/entrypoint.py
  geostore/import_dataset/task.py
  geostore/import_dataset_file.py
  geostore/import_metadata_file/task.py
  geostore/import_status/get.py
  geostore/logging_keys.py
  geostore/notify_status_update/task.py
  geostore/parameter_store.py
  geostore/step_function.py
  geostore/update_dataset_catalog/task.py
  geostore/upload_status/task.py
  geostore/validation_summary/task.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_parameter_store.py
  tests/test_step_function_logging.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

fix: Modify log message strings
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/import_dataset_file.py
  geostore/logging_keys.py
  geostore/validation_summary/task.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

feat: Add CLI --version flag (#1170)
  geostore/cli.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: correct logging format (#1173)
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/dataset_versions/create.py
  geostore/datasets/entrypoint.py
  geostore/import_dataset/task.py
  geostore/import_dataset_file.py
  geostore/import_metadata_file/task.py
  geostore/import_status/get.py
  geostore/logging_keys.py
  geostore/notify_status_update/task.py
  geostore/parameter_store.py
  geostore/step_function.py
  geostore/update_dataset_catalog/task.py
  geostore/upload_status/task.py
  geostore/validation_summary/task.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_parameter_store.py
  tests/test_step_function_logging.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

feat: Raise exception when loading not unclassified dataset
  geostore/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Include classification in error message
  geostore/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Add error to validations result output
  geostore/check.py
  geostore/check_stac_metadata/utils.py
  geostore/stac_format.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: Update poetry-install checksum to latest
  geostore/Dockerfile
Due: none

fix: Check security classification exists before comparing values
  geostore/check_stac_metadata/utils.py
Due: black, isort, mypy, pylint

feat: restrict classified data (#1183)
  geostore/Dockerfile
  geostore/check.py
  geostore/check_stac_metadata/utils.py
  geostore/stac_format.py
  tests/stac_generators.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

chore: Remove unneeded test code
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Use the CDK method for installing Poetry
  geostore/Dockerfile
Due: none

feat: Use the CDK method for installing Poetry (#1200)
  geostore/Dockerfile
Due: none

test: Update tests to fit with new PySTAC response structure
  tests/test_populate_catalog.py
Due: black, isort, mypy, pylint

chore: Remove unneeded test code (#1199)
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Allow overriding pkgs
  shell.nix
Due: none

feat: Allow overriding pkgs (#1205)
  shell.nix
Due: none

refactor: Simplify expression
  .github/workflows/mutation-test.yml
Due: none

feat: Publish mutmut report
  .github/workflows/mutation-test.yml
Due: none

feat: Publish mutmut report (#1222)
  .github/workflows/mutation-test.yml
Due: none

fix: Enhance response from chec stac metadata lambda
  geostore/check_stac_metadata/task.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

chore: Python dependencies update
  poetry.lock
Due: none

feat: Upgrade Nix shell to 21.11
  shell.nix
Due: none

feat: Upgrade Nix shell to 21.11 (#1263)
  shell.nix
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pylint: any of: \.py$
