Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    stages: [commit]
    types: [python]

  - id: gitlint
    name: gitlint
    entry: gitlint
    args: [--msg-filename]
    language: system
    stages: [commit-msg]

  - id: hadolint
    name: hadolint
    language: docker_image
    entry: hadolint/hadolint hadolint
    types: [dockerfile]

  - id: isort
    name: isort
    entry: isort
    language: system
    stages: [commit]
    types: [python]

  - id: mypy
    name: mypy
    entry: mypy
    args: [--no-incremental]
    language: system
    stages: [commit]
    types: [python]
    require_serial: true

  - id: pretty-format-ini
    name: Pretty format INI
    entry: pretty-format-ini
    args: [--autofix]
    language: system
    stages: [commit]
    types: [ini]

  - id: pretty-format-toml
    name: Pretty format TOML
    entry: pretty-format-toml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [toml]

  - id: pretty-format-yaml
    name: Pretty format YAML
    entry: pretty-format-yaml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [yaml]

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    stages: [commit]
    types: [python]

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    stages: [commit]
    types: [bash]

refactor: Remove "-endpoint" suffix from extras
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  datalake/backend/bundle.bash
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: pretty-format-toml, pretty-format-yaml

Simplify extras names (#249)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  datalake/backend/bundle.bash
  datalake/backend/processing/check_stac_metadata/Dockerfile
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: pretty-format-toml, pretty-format-yaml

refactor: Unwrap nested commands
  datalake/backend/bundle.bash
Due: none

feat: Clean out Git cruft as part of dev setup
  reset-dev-env.bash
Due: none

chore: Use actual booleans in cdk.json
  cdk.json
Due: none

feat: Clean out Git cruft as part of dev setup (#251)
  reset-dev-env.bash
Due: none

Improve bundling error handling (#250)
  datalake/backend/bundle.bash
Due: none

docs: improve bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

feat: Remove cdk.out as part of dev env reset
  reset-dev-env.bash
Due: none

Improve bug report template (#256)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

feat: updated poetry packages
  poetry.lock
Due: none

feat: Remove cdk.out as part of dev env reset (#259)
  reset-dev-env.bash
Due: none

test: Rename tests for clarity
  datalake/backend/tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

feat: updated poetry packages (#261)
  poetry.lock
Due: none

refactor: De-duplicate test constants
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

refactor: Remove dependency on `unittest.TestCase`
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_dataset_versions_endpoint_logging.py
Due: black, isort, mypy, pylint

test: Rename tests for clarity (#262)
  datalake/backend/tests/test_check_stac_metadata_logging.py
Due: black, isort, mypy, pylint

chore: Use actual booleans in cdk.json (#252)
  cdk.json
Due: none

refactor: Remove dependency on `unittest.TestCase` (#264)
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_dataset_versions_endpoint_logging.py
Due: black, isort, mypy, pylint

chore: Remove unused exception classes
  datalake/backend/tests/test_processing_stack.py
Due: black, isort, mypy, pylint

docs: Expand package update process
  README.md
Due: none

feat: Set log level to debug across state machine
  datalake/common.py
  datalake/constructs/batch_submit_job_task.py
  datalake/constructs/bundled_lambda_function.py
Due: black, isort, mypy, pylint

docs: Expand package update process (#266)
  README.md
Due: none

feat: Set log level to debug across state machine (#267)
  datalake/common.py
  datalake/constructs/batch_submit_job_task.py
  datalake/constructs/bundled_lambda_function.py
Due: black, isort, mypy, pylint

chore: Remove unused exception classes (#265)
  datalake/backend/tests/test_processing_stack.py
Due: black, isort, mypy, pylint

feat: Don't remove IDEA configuration
  reset-dev-env.bash
Due: none

refactor: De-duplicate test constants (#263)
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

feat: Don't remove IDEA configuration (#268)
  reset-dev-env.bash
Due: none

refactor: Remove mentions of catalog STAC schema
  datalake/backend/processing/check_stac_metadata/task.py
Due: black, isort, mypy, pylint

fix: Don't exit when specifying `--delete`
  reset-dev-env.bash
Due: none

chore: Update Python packages
  poetry.lock
Due: none

fix: Verify flat structure for assets
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Copy fewer files when creating CDK Docker assets
  .dockerignore
Due: none

fix: Verify flat structure for assets (#294)
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: Don't exit when specifying `--delete` (#285)
  reset-dev-env.bash
Due: none

chore: Update Python packages
  datalake/api_stack.py
  datalake/constructs/batch_job_queue.py
  datalake/constructs/batch_submit_job_task.py
  datalake/constructs/table.py
  datalake/constructs/task_job_definition.py
  datalake/networking_stack.py
  datalake/processing_stack.py
  datalake/staging_stack.py
  datalake/storage_stack.py
  datalake/users_stack.py
  poetry.lock
Due: black, isort, mypy, pylint

chore: Update Python packages (#287)
  datalake/api_stack.py
  datalake/constructs/batch_job_queue.py
  datalake/constructs/batch_submit_job_task.py
  datalake/constructs/table.py
  datalake/constructs/task_job_definition.py
  datalake/networking_stack.py
  datalake/processing_stack.py
  datalake/staging_stack.py
  datalake/storage_stack.py
  datalake/users_stack.py
  poetry.lock
Due: black, isort, mypy, pylint

feat: Copy fewer files when creating CDK Docker assets (#296)
  .dockerignore
Due: none

feat: Verify stream multihash
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  datalake/backend/processing/check_files_checksums/Dockerfile
  datalake/backend/processing/check_files_checksums/__init__.py
  datalake/backend/processing/check_files_checksums/task.py
  datalake/backend/tests/test_check_files_checksums.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint
