Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pretty-format-toml:
  name: Pretty format TOML
  entry: pretty-format-toml
  args:
  - --autofix
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

chore: Don't run mutation testing on master push (#1629)
  .github/workflows/mutation-test.yml
Due: none

chore: Remove useless pylint suppressions (#1628)
  geostore/datasets_model.py
  geostore/step_function.py
  geostore/validation_results_model.py
  geostore/validation_summary/task.py
  infrastructure/constructs/api.py
  pyproject.toml
  tests/test_check_files_checksums.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_import_dataset_file.py
  tests/test_processing_stack.py
Due: black, isort, mypy, pretty-format-toml, pylint

docs: add examples for assuming roles from LINZ accounts (#1621)
  USAGE.md
Due: none

feat: Enable bootstrapping CDK manually
  .github/workflows/cdk-bootstrap.yml
Due: none

chore: Upgrade AWS CDK
  app.py
  cdk.json
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/batch_submit_job_task.py
  infrastructure/constructs/bundled_code.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/import_file_function.py
  infrastructure/constructs/lambda_config.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_layers.py
  infrastructure/constructs/lambda_task.py
  infrastructure/constructs/lds.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/opentopo.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/removal_policy.py
  infrastructure/constructs/roles.py
  infrastructure/constructs/staging.py
  infrastructure/constructs/storage.py
  infrastructure/constructs/table.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/networking_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Enable bootstrapping CDK manually (#1635)
  .github/workflows/cdk-bootstrap.yml
Due: none

chore: Upgrade AWS CDK to version 2 (#1634)
  app.py
  cdk.json
  infrastructure/application_stack.py
  infrastructure/constructs/api.py
  infrastructure/constructs/batch_job_queue.py
  infrastructure/constructs/batch_submit_job_task.py
  infrastructure/constructs/bundled_code.py
  infrastructure/constructs/bundled_lambda_function.py
  infrastructure/constructs/import_file_function.py
  infrastructure/constructs/lambda_config.py
  infrastructure/constructs/lambda_endpoint.py
  infrastructure/constructs/lambda_layers.py
  infrastructure/constructs/lambda_task.py
  infrastructure/constructs/lds.py
  infrastructure/constructs/notify.py
  infrastructure/constructs/opentopo.py
  infrastructure/constructs/processing.py
  infrastructure/constructs/removal_policy.py
  infrastructure/constructs/roles.py
  infrastructure/constructs/staging.py
  infrastructure/constructs/storage.py
  infrastructure/constructs/table.py
  infrastructure/constructs/task_job_definition.py
  infrastructure/networking_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: remove s3 users role in order to move in stack
  infrastructure/constructs/api.py
Due: black, isort, mypy, pylint

refactor: remove s3 users role in order to move in stack (#1646)
  infrastructure/constructs/api.py
Due: black, isort, mypy, pylint

refactor: follow 2 step cdk release for moving role
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  remove_s3_users_role.bash
Due: none

feat: add s3 users role arn parameter to infrastructure
  geostore/parameter_store.py
  infrastructure/constructs/api.py
  infrastructure/constructs/roles.py
  infrastructure/constructs/storage.py
Due: black, isort, mypy, pylint

fix: remove existing s3 role when deploying to allow moving stacks
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

refactor: remove role policies before removing role
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  remove_s3_users_role.bash
Due: none

fix: Add new 'typer' build dependency
  shell.nix
Due: none

docs: clarify which role to use
  USAGE.md
Due: none

feat: add s3 users role arn parameter to infrastructure (#1640)
  geostore/parameter_store.py
  infrastructure/constructs/api.py
  infrastructure/constructs/roles.py
  infrastructure/constructs/storage.py
Due: black, isort, mypy, pylint

docs: clarify which role to use (#1647)
  USAGE.md
Due: none

feat: make changes in preparation for partial datasets story
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  tests/aws_utils.py
Due: black, isort, mypy, pylint

refactor: remove bash script
  remove_s3_users_role.bash
Due: none

refactor: remove role policies before removing role
  remove_s3_users_role.bash
Due: none

feat: make changes in preparation for partial datasets story (#1641)
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  tests/aws_utils.py
Due: black, isort, mypy, pylint

chore: Inline single-use constant
  geostore/stac_format.py
Due: black, isort, mypy, pylint

refactor: Use a single reference for STAC core version
  geostore/check_stac_metadata/stac_validators.py
  geostore/stac_format.py
  tests/stac_objects.py
Due: black, isort, mypy, pylint

refactor: Move version specifiers closer to where they are used
  geostore/check_stac_metadata/stac_validators.py
  geostore/stac_format.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: Simplify related constants (#1657)
  geostore/check_stac_metadata/stac_validators.py
  geostore/stac_format.py
  tests/stac_objects.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Use latest extension schemas
  geostore/check_stac_metadata/stac_validators.py
  tests/test_get_latest_extension_schema_version.py
Due: black, isort, mypy, pylint

refactor: extract common get_s3_url_reader method
  geostore/check_files_checksums/task.py
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/s3_utils.py
Due: black, isort, mypy, pylint

fix: check file checksums tests
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

fix: check stac metadata tests
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
Due: black, isort, mypy, pylint

refactor: aws_utils mock
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_s3_utils.py
Due: black, isort, mypy, pylint

refactor: check stac metadata tests
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

Revert "refactor: check stac metadata tests"
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

refactor: revert s3_url_reader to returning StreamingBody
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/utils.py
  geostore/s3_utils.py
  tests/aws_utils.py
  tests/test_check_files_checksums.py
  tests/test_s3_utils.py
Due: black, isort, mypy, pylint

feat: Use latest extension schemas (#1651)
  geostore/check_stac_metadata/stac_validators.py
  tests/test_get_latest_extension_schema_version.py
Due: black, isort, mypy, pylint

fix: Return `StreamingBody` from mock URL reader
  geostore/check_files_checksums/task.py
  geostore/s3_utils.py
  tests/aws_utils.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, mypy, pylint

refactor: Use relative imports within tests
  tests/test_check_stac_metadata_task_logging.py
  tests/test_populate_catalog.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

docs: Explain relative import structure
  CODING.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pretty-format-toml: any of: \.toml$
  pylint: any of: \.py$
