Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        stages: [commit]
        types_or: [python, pyi]
        require_serial: true

      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        files: \.nix$
        language: system
        stages: [commit]

      - id: prettier
        name: Prettier
        entry: prettier
        args: [--ignore-unknown, --list-different, --write]
        types: [text]
        language: system
        stages: [commit]

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system
        stages: [commit]

fix: dataset version should only accept catalog.json and collection
  geostore/check_stac_metadata/utils.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  geostore/check.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  geostore/check.py
  geostore/check_stac_metadata/utils.py
Due: black, isort, pylint

fix: Chunk size shouldn't be configurable if using aws default value
  geostore/s3_utils.py
Due: black, isort, pylint

refactor: Better tests for getting etag
  tests/test_s3_utils.py
Due: black, isort, pylint

build: Bump Python version to 3.9 (#2055)
  .github/workflows/prod-upgrade-deploy-test.yml
  .python-version
  README.md
  infrastructure/constructs/lambda_config.py
  infrastructure/constructs/lambda_layers/botocore/poetry.lock
  infrastructure/constructs/lambda_layers/botocore/pyproject.toml
  poetry.lock
  pyproject.toml
  shell.nix
Due: black, isort, nixpkgs-fmt, pretty-format-toml, pylint

fix: Remove workflow schedules (#2061)
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/update-license-year.yml
  CODING.md
Due: none

fix: move assest validation to the validation method
  .run/pytest infrastructure.run.xml
  .run/pytest offline.run.xml
  geostore/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, pylint

feat: Run pytest in parallel
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

feat: Better logging and exception handling in populate catalog
  geostore/populate_catalog/task.py
  tests/test_populate_catalog.py
Due: black, isort, pylint

refactor: tidy up
  geostore/s3_utils.py
  tests/test_s3_utils.py
Due: black, isort, pylint

fix: move the check contains assest into seperate fun
  .run/pytest.run.xml
  geostore/check_stac_metadata/utils.py
  tests/test_check_stac_metadata.py
Due: black, isort, pylint

fix: revert back deleted pytest configuration
  .run/pytest infrastructure.run.xml
  .run/pytest offline.run.xml
  .run/pytest.run.xml
Due: none

fix: add with in a sperate with to allow the rest of the test to continue
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pylint

fix: add with in a sperate with to allow the rest of the test to continue
  clear-s3-buckets.bash
  generate-requirements-files.bash
  geostore/bundle.bash
  reset-dev-env.bash
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection
  geostore/check.py
  geostore/check_stac_metadata/utils.py
  infrastructure/constructs/processing.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pylint

feat: Compare s3 object etag in S3StacIO (#2029)
  geostore/pystac_io_methods.py
  geostore/s3_utils.py
  infrastructure/constructs/processing.py
  tests/test_s3_utils.py
Due: black, isort, pylint

fix: Raise any_exception_class as per PR review recommendation
  tests/test_populate_catalog.py
Due: black, isort, pylint

fix: move raises up and use must
  geostore/check.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pylint

fix: dataset version should only accept catalog.json and collection (#2098)
  geostore/check.py
  geostore/check_stac_metadata/utils.py
  infrastructure/constructs/processing.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_utils_logging.py
Due: black, isort, pylint

feat: Better logging and exception handling in populate catalog (#2084)
  geostore/populate_catalog/task.py
  tests/test_populate_catalog.py
Due: black, isort, pylint

fix: Use UTC datetimes
  CODING.md
  geostore/dataset_versions/create.py
Due: black, isort, pylint

fix: Use UTC datetimes (#2122)
  CODING.md
  geostore/dataset_versions/create.py
Due: black, isort, pylint

fix: stop step func throws payload when exp
  infrastructure/constructs/processing.py
Due: black, isort, pylint

feat: Allow macrons in titles
  geostore/dataset_properties.py
Due: black, isort, pylint

fix: test to validate step success when wrong item file submitted
  tests/test_processing_stack.py
Due: black, isort, pylint

fix: change parameters orders
  tests/test_processing_stack.py
Due: black, isort, pylint

test: Include mismatching text in test output
  tests/test_cli.py
Due: black, isort, pylint

fix: Use new non-dev flag
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  geostore/Dockerfile
Due: none

feat: Allow macrons in dataset titles (#2121)
  geostore/dataset_properties.py
Due: black, isort, pylint

feat: Use maintained ULID library
  geostore/dataset_versions/create.py
  geostore/datasets_model.py
  poetry.lock
  pyproject.toml
Due: black, isort, pretty-format-toml, pylint

fix: Allow step function to keep the payload when exception thrown (#2126)
  infrastructure/constructs/processing.py
  tests/test_processing_stack.py
Due: black, isort, pylint

fix: Remove mention of setuptools
  poetry.lock
Due: none

test: Include mismatching text in test output (#2129)
  tests/test_cli.py
Due: black, isort, pylint

fix: Run pull request workflows when reopening
  .github/workflows/package-cli.yml
  .github/workflows/test.yml
Due: none

feat: Use maintained ULID library (#2051)
  geostore/dataset_versions/create.py
  geostore/datasets_model.py
  poetry.lock
  pyproject.toml
Due: black, isort, pretty-format-toml, pylint

fix: Use new non-dev flag (#2128)
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/package-cli.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  geostore/Dockerfile
Due: none

build: Bump Poetry-related packages
  geostore/poetry.txt
Due: none
