Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        stages: [commit]
        types: [bash]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

fix: Put test files in staging bucket
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

feat: Use consistent reads with DynamoDB
  backend/import_dataset/task.py
  tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

fix: Allow staging users role assumption only by main principal
  infrastructure/constructs/processing.py
Due: black, isort, mypy, pylint

fix: Allow staging users role assumption only by main principal (#822)
  infrastructure/constructs/processing.py
Due: black, isort, mypy, pylint

docs: Add lgtm.com alerts badge
  README.md
Due: none

docs: Add lgtm.com maintainability badge
  README.md
Due: none

docs: Add lgtm.com badges (#828)
  README.md
Due: none

chore: Update NPMs
  package-lock.json
Due: none

chore: update mypy packages
  poetry.lock
Due: none

fix: add named parameter arguments
  tests/aws_utils.py
Due: black, isort, mypy, pylint

feat: add access for OpenTopography.org
  README.md
  cdk.json
  infrastructure/application_stack.py
  infrastructure/constructs/opentopo.py
Due: black, isort, mypy, pylint

chore: update mypy packages (#842)
  poetry.lock
  tests/aws_utils.py
Due: black, isort, mypy, pylint

refactor: Use checkout GitHub action rather than command
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

feat: add access for OpenTopography.org (#837)
  README.md
  cdk.json
  infrastructure/application_stack.py
  infrastructure/constructs/opentopo.py
Due: black, isort, mypy, pylint

fix: Move staging back to top level
  infrastructure/application_stack.py
  infrastructure/constructs/processing.py
Due: black, isort, mypy, pylint

fix: Move staging back to top level (#846)
  infrastructure/application_stack.py
  infrastructure/constructs/processing.py
Due: black, isort, mypy, pylint

refactor: Use checkout GitHub action rather than command (#845)
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

feat: Create and archive JUnit report
  .github/workflows/test.yml
Due: none

feat: Create and archive JUnit report (#847)
  .github/workflows/test.yml
Due: none

feat: Ensure production compatibility in upgrade check
  .github/workflows/prod-upgrade-deploy-test.yml
  .node-version
  README.md
Due: none

feat: Ensure production compatibility in upgrade check (#849)
  .github/workflows/prod-upgrade-deploy-test.yml
  .node-version
  README.md
Due: none

feat: Add functionality to notify slack when Step Function completes
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  backend/aws_message_attributes.py
  backend/datasets/create.py
  backend/import_status/get.py
  backend/notify_slack/__init__.py
  backend/notify_slack/task.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/resources.py
  backend/step_function.py
  backend/update_dataset_catalog/task.py
  backend/upload_status/task.py
  infrastructure/application_stack.py
  infrastructure/constructs/notify.py
  reset-dev-env.bash
  tests/test_datasets_endpoint.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_populate_catalog.py
  tests/test_update_dataset_catalog.py
  tests/test_upload_status.py
Due: black, isort, mypy, pylint

fix: fixed offline test
  backend/notify_slack/task.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

fix: Removed unnecessary slack channel url and fixed format
  backend/notify_slack/task.py
  infrastructure/constructs/notify.py
  pyproject.toml
  tests/test_notify_slack.py
  tests/test_upload_status.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: Address changes to slack format
  backend/notify_slack/task.py
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

fix: fixed timestamp parsing
  backend/notify_slack/task.py
  poetry.lock
  tests/test_notify_slack.py
Due: black, isort, mypy, pylint

refactor: rename package and fixmessage format
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  backend/notify_status_update/__init__.py
  backend/notify_status_update/task.py
  backend/step_function_keys.py
  backend/update_dataset_catalog/task.py
  infrastructure/constructs/notify.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  tests/test_notify_slack.py
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pretty-format-toml, pylint

fix: fixed test
  tests/test_update_dataset_catalog.py
Due: black, isort, mypy, pylint

feat: Add functionality to notify slack when Step Function completes (#825)
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  backend/aws_message_attributes.py
  backend/datasets/create.py
  backend/import_status/get.py
  backend/notify_status_update/__init__.py
  backend/notify_status_update/task.py
  backend/parameter_store.py
  backend/populate_catalog/task.py
  backend/resources.py
  backend/step_function.py
  backend/step_function_keys.py
  backend/update_dataset_catalog/task.py
  backend/upload_status/task.py
  infrastructure/application_stack.py
  infrastructure/constructs/notify.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
  tests/test_datasets_endpoint.py
  tests/test_import_status_endpoint.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_populate_catalog.py
  tests/test_update_dataset_catalog.py
  tests/test_upload_status.py
Due: black, isort, mypy, pretty-format-toml, pylint

feat: Use Python version from .python-version in pipelines
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

chore: Use same Python setup action version everywhere
  .github/workflows/codeql-analysis.yml
Due: none

refactor: Inline single use variable
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

feat: Use the Node.js version in .node-version for consistency
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

chore: Remove unused variable
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

refactor: Use same action title as elsewhere
  .github/workflows/codeql-analysis.yml
Due: none

chore: Use the same action name everywhere
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
Due: none

refactor: Get extras from pyproject.toml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/prod-upgrade-deploy-test.yml
  .github/workflows/test.yml
  README.md
  reset-dev-env.bash
Due: none

feat: Install CDK in bootstrap jobs
  .github/workflows/cdk-bootstrap.yml
Due: none
