Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--msg-filename]
        language: system
        stages: [commit-msg]

      - id: hadolint
        name: hadolint
        language: docker_image
        entry: hadolint/hadolint:v2.2.0 hadolint
        stages: [commit]
        types: [dockerfile]

      - id: isort
        name: isort
        entry: isort
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: pretty-format-ini
        name: Pretty format INI
        entry: pretty-format-ini
        args: [--autofix]
        language: system
        stages: [commit]
        types: [ini]

      - id: pretty-format-toml
        name: Pretty format TOML
        entry: pretty-format-toml
        args: [--autofix]
        language: system
        stages: [commit]
        types: [toml]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        stages: [commit]
        types: [python]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 04cf542e423601a418787b8c7d704c3c1317e6d3 # v0.7.2
    hooks:
      - id: shellcheck
        stages: [commit]

  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: 148ec47877499e3d671f6366f9eed812db181b40 # v1.2.0
    hooks:
      - id: nixpkgs-fmt

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: a99a3fbe79a9d346cabd02a5e167ad0edafe616b # v2.3.0
    hooks:
      - id: prettier
        stages: [commit]

fix: Include upstream override for latest jsonschema
  shell.nix
Due: none

feat: Add new Trail for logging Lambda user details
  geostore/resources.py
  infrastructure/constructs/api.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

feat: log api user details (#1253)
  geostore/resources.py
  infrastructure/constructs/api.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

fix: Bump Poetry installer checksum in production code
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

fix: Bump Poetry installer checksum in production code (#1286)
  .github/workflows/prod-upgrade-deploy-test.yml
Due: none

feat: Enable lorri
  .envrc
Due: none

refactor: Use absolute paths to files
  activate-dev-env.bash
  shell.nix
Due: none

docs: Explain how to install and configure lorri
  README.md
Due: none

feat: Enable lorri (#1291)
  .envrc
  README.md
  activate-dev-env.bash
  shell.nix
Due: none

refactor: Declare loggers as such
  geostore/check_files_checksums/task.py
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/dataset_versions/create.py
  geostore/datasets/entrypoint.py
  geostore/import_dataset/task.py
  geostore/import_dataset_file.py
  geostore/import_status/get.py
  geostore/notify_status_update/task.py
  geostore/parameter_store.py
  geostore/populate_catalog/task.py
  geostore/step_function.py
  geostore/update_dataset_catalog/task.py
  geostore/upload_status/task.py
  geostore/validation_summary/task.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_parameter_store.py
  tests/test_step_function_logging.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

chore: Bump CDK context file after local deployment
  cdk.context.json
Due: none

fix: Include upstream override to build mypy
  shell.nix
Due: none

fix: De-lint according to mypy 0.921
  geostore/check_files_checksums/utils.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
Due: black, isort, mypy, pylint

refactor: Declare loggers as such
  geostore/check_files_checksums/task.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/dataset_versions/create.py
  geostore/datasets/entrypoint.py
  geostore/import_dataset/task.py
  geostore/import_dataset_file.py
  geostore/import_status/get.py
  geostore/notify_status_update/task.py
  geostore/parameter_store.py
  geostore/populate_catalog/task.py
  geostore/step_function.py
  geostore/update_dataset_catalog/task.py
  geostore/upload_status/task.py
  geostore/validation_summary/task.py
Due: black, isort, mypy, pylint

fix: Match argument type to method signature
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

refactor: Declare loggers as such (#1292)
  geostore/check_files_checksums/task.py
  geostore/check_files_checksums/utils.py
  geostore/check_stac_metadata/task.py
  geostore/check_stac_metadata/utils.py
  geostore/dataset_versions/create.py
  geostore/datasets/entrypoint.py
  geostore/import_dataset/task.py
  geostore/import_dataset_file.py
  geostore/import_status/get.py
  geostore/notify_status_update/task.py
  geostore/parameter_store.py
  geostore/populate_catalog/task.py
  geostore/step_function.py
  geostore/update_dataset_catalog/task.py
  geostore/upload_status/task.py
  geostore/validation_summary/task.py
  tests/test_check_files_checksums.py
  tests/test_check_files_checksums_logging.py
  tests/test_check_stac_metadata.py
  tests/test_check_stac_metadata_task_logging.py
  tests/test_check_stac_metadata_utils_logging.py
  tests/test_dataset_versions_endpoint_logging.py
  tests/test_import_dataset_file.py
  tests/test_import_dataset_logging.py
  tests/test_import_status_logging.py
  tests/test_notify_slack.py
  tests/test_parameter_store.py
  tests/test_step_function_logging.py
  tests/test_upload_status_logging.py
  tests/test_validation_summary_logging.py
Due: black, isort, mypy, pylint

fix: Match argument type to method signature (#1294)
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

fix: Work around missing tomli build dependency
  shell.nix
Due: none

fix: Ignore mypy error
  tests/test_check_files_checksums.py
Due: black, isort, mypy, pylint

docs(license): update copyright year(s)
  LICENSE
Due: none

build(deps): Bump nixpkgs 21.11 channel
  shell.nix
Due: none

fix: Add `pip` to the Nix Python environment by extraPackages
  shell.nix
Due: none

feat: Assign python38 to a variable in shell.nix
  shell.nix
Due: none

fix: specify cloudtrail bucket in cdk
  geostore/resources.py
  infrastructure/constructs/api.py
Due: black, isort, mypy, pylint

fix: add auto deletion of objects
  infrastructure/constructs/api.py
Due: black, isort, mypy, pylint

fix: remove bucket versioning
  infrastructure/constructs/api.py
Due: black, isort, mypy, pylint

chore: Remove obsolete Pylint override
  geostore/datasets_model.py
  geostore/validation_results_model.py
Due: black, isort, mypy, pylint

fix: Create Python symlink in project directory
  shell.nix
Due: none

fix: specify cloudtrail bucket in cdk (#1315)
  geostore/resources.py
  infrastructure/constructs/api.py
Due: black, isort, mypy, pylint

chore: Remove obsolete Pylint override (#1322)
  geostore/datasets_model.py
  geostore/validation_results_model.py
Due: black, isort, mypy, pylint

fix: Add `pip` to the Nix-provided Python environment by means of extraPackages (#1321)
  shell.nix
Due: none

fix: Ignore untyped call in subclass
  geostore/datasets_model.py
  geostore/validation_results_model.py
Due: black, isort, mypy, pylint

fix: Create Python symlink in project directory (#1323)
  shell.nix
Due: none

chore: Update Python dependencies
  poetry.lock
Due: none

fix: Remove `NIX_PATH` from `nix-shell` command
  .github/workflows/test.yml
Due: none

fix: Run nixpkgs-fmt only at commit stage
  .pre-commit-config.yaml
Due: none

fix: Remove `NIX_PATH` from `nix-shell` command (#1339)
  .github/workflows/test.yml
Due: none
