Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    stages: [commit]
    types: [python]

  - id: gitlint
    name: gitlint
    entry: gitlint
    args: [--msg-filename]
    language: system
    stages: [commit-msg]

  - id: hadolint
    name: hadolint
    language: docker_image
    entry: hadolint/hadolint hadolint
    types: [dockerfile]

  - id: isort
    name: isort
    entry: isort
    language: system
    stages: [commit]
    types: [python]

  - id: mypy
    name: mypy
    entry: mypy
    args: [--no-incremental]
    language: system
    stages: [commit]
    types: [python]
    require_serial: true

  - id: pretty-format-ini
    name: Pretty format INI
    entry: pretty-format-ini
    args: [--autofix]
    language: system
    stages: [commit]
    types: [ini]

  - id: pretty-format-toml
    name: Pretty format TOML
    entry: pretty-format-toml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [toml]

  - id: pretty-format-yaml
    name: Pretty format YAML
    entry: pretty-format-yaml
    args: [--autofix]
    language: system
    stages: [commit]
    types: [yaml]

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    stages: [commit]
    types: [python]

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    stages: [commit]
    types: [bash]

feat: Include pull request URL in merge commit message
  .kodiak.toml
Due: pretty-format-toml

feat: Tweak automerge configuration (#230)
  .kodiak.toml
Due: pretty-format-toml

fix: Reintroduce removing untracked Python packages (#228)
  reset-dev-env.bash
Due: none

fix: Force remove package directories
  reset-dev-env.bash
Due: none

chore: update issue templates #233
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

chore: add label to bug report #233
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

refactor: moved dataset typs into utils
  datalake/backend/endpoints/datasets/common.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/endpoints/utils.py
  datalake/backend/tests/test_datasets_endpoint.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

fix: Force remove package directories (#232)
  reset-dev-env.bash
Due: none

refactor: change test to call main instead of state machine
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

chore: Update Python packages
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

refactor: moved dataset types into utils (#235)
  datalake/backend/endpoints/datasets/common.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/endpoints/utils.py
  datalake/backend/tests/test_datasets_endpoint.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

refactor: change test to call main instead of state machine (#236)
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

chore: Update Python packages (#222)
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

Update issue templates (#234)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

feat: Scan Node.js dependencies for security updates
  .github/dependabot.yml
Due: pretty-format-yaml

feat: Scan Python dependencies for security updates
  .github/dependabot.yml
Due: pretty-format-yaml

feat: Scan Docker dependencies for security updates
  .github/dependabot.yml
Due: pretty-format-yaml

feat: Launch Dataset Version creation and import process
  datalake/api_stack.py
  datalake/backend/endpoints/dataset_versions/__init__.py
  datalake/backend/endpoints/dataset_versions/create.py
  datalake/backend/endpoints/dataset_versions/entrypoint.py
  datalake/backend/endpoints/utils.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_dataset_versions_endpoint.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
  datalake/processing_stack.py
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

feat: added unit tests for logging
  datalake/backend/tests/test_dataset_versions_endpoint_logging.py
Due: black, isort, mypy, pylint

feat: added production extra package for dataset versions
  pyproject.toml
Due: pretty-format-toml

refactor: changes form PR comments
  datalake/backend/endpoints/dataset_versions/create.py
  datalake/backend/endpoints/dataset_versions/entrypoint.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_dataset_versions_endpoint.py
  datalake/backend/tests/test_dataset_versions_endpoint_logging.py
  datalake/backend/tests/test_processing_stack.py
  datalake/processing_stack.py
Due: black, isort, mypy, pylint

feat: added dataset_verison lambda invoke test
  datalake/backend/tests/test_lambda_functions.py
Due: black, isort, mypy, pylint

refactor: cleant logging tests
  datalake/backend/tests/test_dataset_versions_endpoint_logging.py
Due: black, isort, mypy, pylint

fix: added extra dependency to poetry lock
  datalake/backend/endpoints/model.py
  datalake/backend/endpoints/utils.py
Due: black, isort, mypy, pylint

fix: added required permissions to lambda
  app.py
  datalake/api_stack.py
  datalake/backend/endpoints/model.py
Due: black, isort, mypy, pylint

fix: moved dataset model to parent directory
  datalake/backend/endpoints/dataset_versions/create.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/utils.py
  datalake/storage_stack.py
Due: black, isort, mypy, pylint

feat: Scan Git submodules for updates
  .github/dependabot.yml
Due: pretty-format-yaml

fix: rebased packages changes
  poetry.lock
  pyproject.toml
Due: pretty-format-toml

fix: made changes from PR comments
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  datalake/backend/endpoints/dataset_versions/create.py
  datalake/backend/tests/test_dataset_versions_endpoint.py
  datalake/backend/tests/test_dataset_versions_endpoint_logging.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_processing_stack.py
  pyproject.toml
  reset-dev-env.bash
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

fix: fixed poetry lock file
  poetry.lock
Due: none

fix: fixed failing tests and split out test into two
  datalake/backend/tests/test_dataset_versions_endpoint.py
  datalake/backend/tests/test_dataset_versions_endpoint_logging.py
Due: black, isort, mypy, pylint

feat: Launch dataset import (#224)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  app.py
  datalake/api_stack.py
  datalake/backend/endpoints/dataset_versions/__init__.py
  datalake/backend/endpoints/dataset_versions/create.py
  datalake/backend/endpoints/dataset_versions/entrypoint.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/endpoints/model.py
  datalake/backend/endpoints/utils.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_dataset_versions_endpoint.py
  datalake/backend/tests/test_dataset_versions_endpoint_logging.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
  datalake/processing_stack.py
  datalake/storage_stack.py
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: black, isort, mypy, pretty-format-toml, pretty-format-yaml, pylint

feat: Enable dependabot third party package scanning (#237)
  .github/dependabot.yml
Due: pretty-format-yaml

refactor: Use `hex` property of UUID objects
  datalake/backend/endpoints/dataset_versions/create.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

refactor: Use `hex` property of UUID objects (#241)
  datalake/backend/endpoints/dataset_versions/create.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

fix: fixed a type in deploy package extras
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: fixed a typo in deploy package extras (#243)
  .github/workflows/deploy.yml
Due: pretty-format-yaml

fix: Upgrade AWS CDK package
  datalake/constructs/batch_job_queue.py
  datalake/constructs/lambda_task.py
  datalake/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

fix: Upgrade AWS CDK package (#248)
  datalake/constructs/batch_job_queue.py
  datalake/constructs/lambda_task.py
  datalake/processing_stack.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pretty-format-toml, pylint

refactor: Remove unnecessary Poetry extra prefix
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  datalake/backend/processing/check_stac_metadata/Dockerfile
  poetry.lock
  pyproject.toml
  reset-dev-env.bash
Due: pretty-format-toml, pretty-format-yaml
